[2021-09-01 19:55] LefterisJP commented on #3394
Moved the last point to another related issue and closing this since the question was resolved.

[2021-09-01 19:55] #3394 closed

[2021-09-02 06:28] kelsos commented on #2865
A lot of users wanted/tried the same in the past so it absolutely makes sense to implement it as a feature.

[2021-09-02 08:59] kelsos commented on #3207
With #2804 merged this should be possible now

[2021-09-02 09:33] kelsos commented on #2890
If we have the hash it's really easy. You just have to just introduce the hash-link component

[2021-09-02 11:08] kelsos commented on #3352
This change needs to be done in the premium components since this is a self-contained component.
A change in behavior is also needed.

By default now the component will display a loading bar when loading. With the new approach is should not appear at all unless it has any data.

[2021-09-02 11:32] #3379 closed

[2021-09-02 11:39] #3352 closed

[2021-09-02 14:12] yabirgb commented on #1447
A subgraph can be used for this https://thegraph.com/legacy-explorer/subgraph/ehtec/uniswap-v1

[2021-09-02 15:04] LefterisJP opened #3406 "Sushiswap trades are not exported in the PnL report"
## Problem Definition

Running a PnL report for a premium rotki account that has addresses with sushiswap trades does not include them in the PnL report even though they are show in DeFi trades.

Rotki version: 1.20.1

## Task

Solve it.

[2021-09-02 15:18] #3336 closed

[2021-09-02 15:19] yabirgb commented on #3406
I know who to blame. I believe I already know what is missing, will try to have it ready #soon

[2021-09-02 20:51] #3227 closed

[2021-09-03 08:54] yabirgb opened #3407 "xsushi shows double amount in balances"
## Problem Definition

xsushi is queried by zerion sdk (sushibar) and queries to token balances resulting in a double calculation of the asset amount.

[2021-09-03 10:49] step21 commented on #2044
Thanks. I'd love to get back to it but have to finish other things first.

[2021-09-04 00:54] chetaget opened #3411 "Adjust hover tooltip on asset charts to not block graph view."
## Problem Definition

When looking at the charts for assets in Rotki, the hovering information covers the point you are over in the chart, which makes it hard to look at a certain point and be sure you are on it. Would having that hovering information bind its upper corner (left or right depending on where it is on the page) to the bottom of the cursor be possible ? this should give ample room to

[2021-09-04 08:12] daffoxdev opened #3412 "Help upvote binance api feature to get all trades history via single route"
Hi everyone,

Guys, I know that there are not possible to request all trades history via single route from binance api. There need to request  all the existent pairs on binance first, then start to loop for each of them to collect whole picture of trades account did.

We have large amount of users here, why not to go to binance devs web site and not to vote for this feature? There are only about 8

[2021-09-04 11:15] coinyon opened #3413 "Allow ledger actions to not be ignored when there is no market price"
## Abstract

This is more of an open question than a feature request. How should be deal with ledger actions without market price?

## Motivation

Suppose the user has received some asset when there was no market value of that said asset (because trading has not begun). Currently the added ledger action of the reception gets ignored in the final report, because no market price can be found. Even i

[2021-09-04 12:34] yabirgb commented on #3333
Convex crv has no coingecko id `convex-crv`

[2021-09-04 13:48] coinyon opened #3414 "Wrong date is reported for a coinbase trade"
## Problem Definition

In my specific trade, the `payout_at` date is chosen, because `instant` is false. However, Coinbase PDF report quotes the `created` date. And I also know that the `payout_at` date (+1 day later) is not correct, because I did another trade with the purchased asset shortly after.  Maybe `payout_at` date is where they settled the trade with my bank but I definitely got the asse

[2021-09-04 13:49] coinyon commented on #3414
Looking at https://github.com/ccxt/ccxt/blob/master/js/coinbase.js, `payout_at` is never even used there.

[2021-09-04 19:46] baltcoinh opened #3415 "Export notifications button"
## Abstract

When you have been using multiple exchanges, some of them not available in the app, you can find you have a lot of alerts about transactions you have to justify their origin when launching a profit and loss report. A easy to see list of those alerts would be appreciated. Because copy and paste 150 notifications is too copy and paste :)

## Motivation

With this kind of txt or csv file

[2021-09-04 19:47] LefterisJP commented on #3414
Hey @coinyon I would need to debug it myself with your API key. I have no other way to detect this as coinbase also changes their API some times. The json trade response from the API would also help. Please DM it to me.

[2021-09-04 19:53] LefterisJP commented on #3412
Thanks for the issue @daffoxdev I will keep it open for a bit so peopel see it and also post about it in our discord community: https://discord.com/invite/aGCxHG7

Then since it's not actionable on our side I will close it.

But I completely feel you on this. I tried to contact people from Binance many times about this and every time the response was the same. That they would not change this any t

[2021-09-04 20:11] LefterisJP commented on #3415
There is no need to export these notifications. They are all already logged in the debug logs. Simply acivate logs and check out the logs: https://rotki.readthedocs.io/en/latest/contribute.html#id2

If this is good enough for your purposes please close the issue.

[2021-09-04 20:32] LefterisJP commented on #3414
Hey @coinyon so after checking the JSON you sent me and the API docs on buys/sells:

- https://developers.coinbase.com/api/v2#sell-resource
- https://developers.coinbase.com/api/v2#buy-resource

I think that the pdf report is wrong. The docs clearly state that any non-instant buy/sell executes at the payout date.
Which would mean rotki is correct.

![2021-09-04_22-29](https://user-images.githubuse

[2021-09-04 21:07] LefterisJP commented on #3333
this you are adding as a todo-fix, right?

[2021-09-04 21:09] yabirgb commented on #3333
@LefterisJP Yes, just found that I had some and was not being tracked

[2021-09-05 02:52] arosboro opened #3416 "Support for import of ShapeShift Trades export csv format"
## Abstract

Adding support for new file imports.  I have identified ShapeShift trades are not supported in the import component, but the past release included support for the ShapeShift airdrop.

## Motivation

Adding support for ShapeShift's ecosystem and gateways such as WYRE and BANXA, which the platform has integrated, will potentially broaden the userbase.

## Specification

Update English l

[2021-09-05 04:35] schklom opened #3418 "Crypto.com fail import"
## Problem Definition

Importing crypto transactions from Crypto.com app gives the error `Invalid CSV format, missing required field: Crypto.com csv missing entry for 'credited'`.
Debit card transactions work fine, but not crypto transactions.

## Logs

[rotkehlchen.log](https://github.com/rotki/rotki/files/7110897/rotkehlchen.log)

### System Description

Operating system: Windows 10
Rotki versio

[2021-09-05 07:53] LefterisJP commented on #3418
Hey @schklom can you let us know if this is from the mobile app? Only the mobile app is supported for importing.

Also it seems that crypto.com change their format quite often or add new entries oftern. Could this and https://github.com/rotki/rotki/issues/3056 be related @yabirgb? Both are still open issues.

@schklom probably both issues are related. What would really help us is if you can give a

[2021-09-05 08:22] coinyon commented on #3414
As discussed in the chat, I'll contact Coinbase support and get back to you.

[2021-09-05 12:38] schklom commented on #3418
@LefterisJP I only tried the Windows 10 app so far. Importing the card transactions went well.

Here is an example where almost each line has a different "Transaction Kind" (i think that's all of them).
Timestamps and amounts are not original.
[crypto_transactions_record_20210905_123054.csv](https://github.com/rotki/rotki/files/7111594/crypto_transactions_record_20210905_123054.csv)

PS: Searching

[2021-09-05 15:50] schklom commented on #3418
@LefterisJP After checking, the card transactions also bug, nothing gets actually imported. However, they only give a warning instead of an error:
[code]

[2021-09-05 16:05] LefterisJP commented on #3418
What do you mean by Windows 10 app? They got a Windows app too? Crypto.com import should only work for the crypto.com mobile app as far as I know. This is the only CSV import we have implement as of now.

![2021-09-05_18-03](https://user-images.githubusercontent.com/1658405/132133510-85c8932c-4735-4091-99a6-df7eb32acf09.png)

If you tried to import a CSV from another app then it would make sense f

[2021-09-05 16:12] schklom commented on #3418
There's a misunderstanding ^^
I meant the Rotki Windows 10 app, and the mobile Crypto.com app

I thought you meant there was a Rotki mobile app I hadn't heard of

[2021-09-05 16:55] yabirgb commented on #3418
Thanks @schklom for the report. Will try to take a look tomorrow :)

[2021-09-06 09:21] lambda-0x commented on #2394
+1

[2021-09-06 10:15] yabirgb commented on #3418
@schklom I was trying to import the csv file but the timestamp is in an incorrect format. did you change it? or is crypto.com changing the format?

[2021-09-06 12:07] schklom commented on #3418
@yabirgb I changed the dates and amounts to avoid making my real data public, but kept the format.
Maybe crypto.com added a space `21/08/2021  11:47:00` compared to last time?

[2021-09-06 12:09] yabirgb commented on #3418
The format we had was `2020-08-11 09:56:14`... this will be a problem :sweat_smile:

[2021-09-06 13:40] schklom commented on #3418
I am in the EU. Does your format come from the US? ^^

A long-term solution can be to let the user define the date and time format.

[2021-09-06 15:42] LefterisJP commented on #3418
This not on rotki's side. This is on crypto.com's export. We rely on user reported data in order to figure out how the CSV is formatted. Afaik the other users who use it are also in Europe.

[2021-09-06 22:12] A2be commented on #3232
Sep 2021 UPDATE: The new `L2fees` [website](https://l2fees.info/) is showing Hermez either the lowest cost, or second-lowest cost behing Loopring, for doing simple ETH payments.  (Have seen it in both the top spot, and the second spot, over the past day.)

Yet, also recognize it is relatively smaller in the TVL (Total Value Locked) metric and is only in the top 20.  (per `CryptoFees` website [here

[2021-09-06 22:14] LefterisJP commented on #3232
Hermez was acquired by Polygon. It is now going to be merged with Polygon. I think it becomes their ZK-rollups arm. Hermez is now swappable for matic: https://twitter.com/PolygonHermez/status/1434807743764844546

[2021-09-06 22:27] A2be opened #3420 "Support Arbitrum"
## Abstract

Get Ethereum Layer 2 (L2) transactions made on Arbitrum One L2 network into trade history

## Motivation

As Arbitrum One picks up steam with their mainnet launch (on 1 Sep 2021) and very generalized universal optimistic rollup EVM on L2--technically a continuation of their beta since they are [leaving the "beta" moniker on until full decentralization](https://offchain.medium.com/main

[2021-09-06 22:52] samal-rasmussen opened #3421 "I'm not seeing my Solana on Coinbase."
## Problem Definition

I'm not seeing my Solana on Coinbase.

## Logs

[06/09/2021 23:42:30 GMT Daylight Time] WARNING rotkehlchen.user_messages Greenlet-3: Found coinbase balance result with unknown asset SOL. Ignoring it.
[06/09/2021 23:44:06 GMT Daylight Time] WARNING rotkehlchen.user_messages Greenlet-7: Found coinbase transaction with unknown asset SOL. Ignoring it.
[06/09/2021 23:44:06 GMT D

[2021-09-06 23:10] LefterisJP commented on #3421
Hey @samal-rasmussen that's due to a recent mapping problem. Thanks for reporting.

@yabirgb this should be fixed like the mappings for other exchanges. For coinbase we just have a function atm since it has very few assets compared to all others. Perhaps a mapping here would also make sense.

https://github.com/rotki/rotki/blob/develop/rotkehlchen/assets/converters.py#L815-L834

[2021-09-07 15:07] #1615 closed

[2021-09-07 20:56] frysee opened #3425 "Binance exchange settings: Accept multiple pairs entered at once"
## Problem Definition

Due to the current limitations on importing past trades from binance (#3412), the only reasonable way to get something imported without running into timeouts is by maintaining an explicit allow list (https://discord.com/channels/657906918408585217/745172610240872508/884726268027875398).

The current UI accepts pairs entered one-by-one, offering an autocomplete drop-down that

[2021-09-07 21:05] LefterisJP commented on #3425
Hey @frysee thanks for taking the time to write up an issue.

 We will see if this can be implemented on our side. @yabirgb what do you think?

[2021-09-07 21:20] yabirgb commented on #3425
@yabirgb I implemented that form once that kelsos was not available I believe. It makes sense to have something like in the ethereum address addition where we allow pasting several addresses at the same time.

About the behaviour with the buttons I don't remember exactly how they work so I would need to take a look.

With a quick talk to clarify a couple of things I can try to go ahead and fix it

[2021-09-08 10:58] kelsos commented on #3425
Does the backend endpoint support multiple pairs? is the limitation only frontend?

[2021-09-08 11:14] yabirgb commented on #3425
Yes the backend allows multiple at the same time, is more a limitation in the frontend, I used the same selector as in tags and this is slower to select many pairs

[2021-09-08 12:10] LefterisJP commented on #3425
Yep it does. See this endpoint and specifically the `"binance_markets"` key.

[2021-09-08 19:22] #3416 closed

[2021-09-08 21:06] LefterisJP commented on #528
Hey @konradstrachan that is really great news. Thank you for letting us know. Hopefully we can also find someone who will want to work on this feature or get more requests for it now that it's actually possible to implement!

[2021-09-09 09:22] konradstrachan commented on #528
Hi @LefterisJP , we are very keen to get integrated and happy to actively support anyone who wants to do the integration. We also have bounties available to incentivise integrations and platform growth.

What would be the best way to offer an incentive to do the integration in your opinion?

[2021-09-09 10:03] kelsos commented on #3340
It was a configuration issue with the pwa plugin of vue-cli

[2021-09-09 11:17] #3340 closed

[2021-09-09 13:29] LefterisJP commented on #3415
I take the lack of a response as affirmative so I am going to go ahead and close the issue.

[2021-09-09 13:29] #3415 closed

[2021-09-09 15:13] isidorosp opened #3433 "Support ETH Staking via Lido (multi-protocol liquid staking solution)"
## Motivation

It would be great for users to be able to easily see the work that their liquid staking tokens are doing, whether those are simply held in wallets or have been put into DeFi protocols.

## Abstract

Lido (http://lido.fi/) is a multi-protocol liquid staking solution (i.e. when you stake you receive a token that represents your staked assets, which either accrues staking interest or i

[2021-09-09 15:18] LefterisJP commented on #3421
Should be fixed by https://github.com/rotki/rotki/pull/3430

[2021-09-09 15:18] #3421 closed

[2021-09-09 16:17] LefterisJP opened #3434 "Gitcoin API tests are failing since API started rounding results"
## Problem Definition

![2021-09-09_18-10](https://user-images.githubusercontent.com/1658405/132723177-730b74b9-e950-440f-972c-a793bd99c7b4.png)

The gitcoin queries:

[code]

Test in question:

https://github.com/rotki/rotki/blob/9e82fa138dc7e82c20fc10220cbe58ba846c0547/rotkehlchen/tests/api/test_gitcoin.py#L20

Example transaction that is rounded up: https://zkscan.io/explorer/transactions/8ee8b

[2021-09-09 19:24] #3207 closed

[2021-09-09 21:56] LefterisJP commented on #3418
Fixed by https://github.com/rotki/rotki/pull/3424

[2021-09-09 21:56] #3418 closed

[2021-09-09 21:56] LefterisJP commented on #3056
Fixed by https://github.com/rotki/rotki/pull/3424

[2021-09-09 21:56] #3056 closed

[2021-09-10 06:49] #3326 closed

[2021-09-10 09:25] LefterisJP opened #3437 "Aave v2 mistaken earned interest if user holds v2 token"
## Problem Definition

If a user holds an aave v2 token the total earned interest is shown wrong. Almost all balance is shown as earned. The reason I suspect being that we use the v1 assets mapping in the code for both versions.

## Task

Fix it

[2021-09-10 10:27] kelsos opened #3440 "Evaluate async components for premium component loading"
## Problem Definition

Sometimes due to network errors, the application might be in a premium state but the components might not load due to a network error.

Evaluate the usage of [Handling loading state](https://vuejs.org/v2/guide/components-dynamic-async.html#Handling-Loading-State) to fallback to some generic component or error when the components fail to load

[2021-09-10 11:55] kelsos commented on #3304
Can we open a new issue about the location part? since it is a bit more complicated?

[2021-09-10 12:11] kelsos commented on #3304
The Trades is the easiest and most straightforward one.

For the others @isidorosp for airdrops you mean the part of the amount display that displays the asset?

![image](https://user-images.githubusercontent.com/2269732/132850955-f7cd2190-b511-43b8-9b6e-ac7291a2efee.png)

And also for dex trades and the protocols history table, I guess clicking on the icon would be the best place to do something

[2021-09-10 12:14] kelsos commented on #1089
I cannot think of a place where we would need this right now. I am gonna close the issue and we can open specific issues if something comes to our attention.

[2021-09-10 12:14] #1089 closed

[2021-09-10 12:30] kelsos commented on #1750
It seems that it is getting close to a year that we keep pushing this issue.

I am re-reading the following comment I made and I am pretty sure that I was not clear enough.

What I meant was instead of providing a link from the trade's table to the dex-table to instead show the extra dex trade information when expanding the history->trade table entry for a dex trade.

Like I mentioned before linki

[2021-09-10 12:34] kelsos commented on #2483
I am also adding the backend label since we need to provide a way for the backend to notify the frontend when the snapshot fails.

[2021-09-10 12:37] kelsos commented on #2128
The last remaining task is not a high priority since it mostly affects development.

[2021-09-10 12:37] #2128 closed

[2021-09-10 13:02] kelsos commented on #3020
There is an MR in gitlab that will add this @LefterisJP should I add a changelog?

[2021-09-10 14:47] #3239 closed

[2021-09-10 14:50] KremerMichael commented on #2891
Just checking by link we mean the etherscan link? And I'm not sure what notes means in this context?

[2021-09-10 14:53] LefterisJP commented on #2891
The trades object has both a "link" and a "notes" field. This is to add them in the all_events csv report.

[2021-09-10 14:55] KremerMichael commented on #2891
Okay gotcha thank you!

[2021-09-10 19:48] arosboro commented on #1345
@cybern0id hope you don't mind, I'm going to implement this feature over the next few hours.

[2021-09-11 01:52] wokenomix opened #3445 "Support for tracking wallets on Theta Blockchain"
It would be great to be able to track Theta and TFUEL wallet balances and staking on the [Theta blockchain](https://www.thetatoken.org). Theta is the most popular end-to-end infrastructure for decentralized video streaming and delivery, with validator nodes being run by Google, Sony, Samsung, CAA, and Binance.

[2021-09-11 16:23] A2be commented on #3232
Following the merge of Polygon and Hermez, Polygon has now officially changed the name of the zk rollup L2 chain, active on mainnet for six months now, formerly called `Hermez Network'

The twitter account states this now:  **Polygon Hermez is a decentralized zkRollup focused on scaling payments and token transfers on top of #Ethereum**.

I'm not certain, but I think this now overloads the term `P

[2021-09-11 21:06] cybern0id commented on #1345
Please do! :) I only started a little and got diverted and because I'm only an amateur coder, I got a little stuck some time ago. I had good intentions but apologise for leaving this so long.

10 Sep 2021 20:49:00 Andrew Rosborough ***@***.***>:

[2021-09-11 21:19] LefterisJP commented on #2429
Have not seen this again. And we have no data to investigate here. Closing as a dead end, unless we get a better bug report.

[2021-09-11 21:19] #2429 closed

[2021-09-12 06:20] Morwena0 opened #3448 "Cex synchronization"
I add my binance, ftx and kucoin account. First day everything was fine. But next day it was all gone

Operating system: Windows 10
Rotki version:1.20.1

[2021-09-12 06:22] Morwena0 opened #3449 "Adding Blockchain Address"
Trying to add blockchain address but "Adding ETH Account" never ends. Wait for 6 hours and it was still same.

Operating system: Win 10
Rotki version:1.20.1

[2021-09-12 08:27] LefterisJP commented on #3448
Thank you for the report. But without any errors or any logs we can't help you.

 Both this and your other issue sound like you are having network connectivity issues. Please [enable](https://rotki.readthedocs.io/en/latest/contribute.html?#id2) debug logs, run rotki again and send us the logs. It's best to [join discord](https://discord.com/invite/aGCxHG7) to send them via DM or you email at suppo

[2021-09-12 08:27] LefterisJP commented on #3449
Thank you for the report. But without any errors or any logs we can't help you.

 Both this and your other issue sound like you are having network connectivity issues. Please [enable](https://rotki.readthedocs.io/en/latest/contribute.html?#id2) debug logs, run rotki again and send us the logs. It's best to [join discord](https://discord.com/invite/aGCxHG7) to send them via DM or you email at suppo

[2021-09-12 09:10] LefterisJP commented on #3437
This is fixed by #3446

[2021-09-12 09:10] #3437 closed

[2021-09-12 10:40] FrederikBolding opened #3451 "Separation of profit and loss calculation"
## Abstract

Currently the Profit and Loss report looks to be subtracting the loss from the profit and giving a total number (at least as far as I can tell). It would be beneficial to have a setting or a button to switch between views to be able to view both of these numbers side by side instead of their combined sum.

## Motivation

Certain countries (Denmark for instance, possibly others) requir

[2021-09-12 12:10] LefterisJP commented on #3451
Profit and loss, PnL is quite universal and is cumulative over multiple events. Each even adds to the PnL if it's profitable and subtracts if it's a loss. This is a very universally accepted term in accounting and have never heard of anyone having a problem with this.

Would require some work and complicate the code a bit to do what you are asking. And nobody has ever asked us before so not sure i

[2021-09-12 12:46] FrederikBolding commented on #3451
Yeah, it seems a bit weird to me too, if interested you can read more here: https://skat.dk/skat.aspx?oid=2291754

I would happily be told I have understood it wrong 😄

If it doesn't get implemented I'll be sure to use your workaround 👍

[2021-09-12 13:11] LefterisJP commented on #3451
We more than happily also accept PRs :smiley:

and can help you through any questions. Especially when you are in our discord: https://discord.com/invite/aGCxHG7

[2021-09-12 13:21] LefterisJP opened #3452 "Trades from externally imported exchanges are not taken into account in historical accounting"
## Problem Definition

It seems that trades from externally imported exchanges are not taken into account in historical accounting. Credit for finding it out @arosboro

## Task

Fix it

[2021-09-12 13:42] FrederikBolding commented on #3451
Yeah, that might be a possibility. Need to be more familiar with the codebase though 😄

[2021-09-12 22:44] #3406 closed

[2021-09-12 22:44] #3407 closed

[2021-09-12 22:48] LefterisJP commented on #3452
Fixed by #3453

[2021-09-12 22:48] #3452 closed

[2021-09-12 22:50] LefterisJP commented on #3445
Thank you for the issue @wokenomix! We will see if it can be prioritized depending on how many people need it.

[2021-09-13 13:26] kelsos commented on #3304
I am gonna skip airdrops at the moment since it is a bit more complicated to do it.

It requires some extra refactoring since the asset is rendered via the `AmountDisplay.vue` component. We need to be careful so that it doesn't affect all the places where we use the amount display.

[2021-09-13 16:31] #3020 closed

[2021-09-13 16:54] #3304 closed

[2021-09-13 20:27] LefterisJP commented on #2483
We can do so probably via websockets?

[2021-09-13 22:09] LefterisJP commented on #1889
Narrator: It happened again.

[2021-09-14 07:34] #1889 closed

[2021-09-14 09:35] kelsos opened #3461 "Introducing parsing of external input to the frontend"
## Abstract

[Parse, don’t validate, incoming data in TypeScript](https://itnext.io/parse-dont-validate-incoming-data-in-typescript-d6d5bfb092c8)

This issue will be a bit long-running as it requires quite some work that can't be done in one go.

## Motivation

We make a lot of assumptions on the schema of a backend's response. Sometimes the documentation might be off and the assumptions might be

[2021-09-14 09:36] kelsos commented on #2483
Certainly, that would make sense.

[2021-09-14 10:32] karvounis opened #3462 "CTX (CarTaxi Token) wrong price per token"
## Problem Definition

The dashboard shows that the token price for CTX (CarTaxi Token - https://coinmarketcap.com/currencies/cartaxi-token/) is 25 euros per token and the total amount is around 109k euros. However, the price per token is nowhere near the real price of this token but closer to another token listed as CTX which is Cryptex Finance (https://coinmarketcap.com/currencies/cryptex-financ

[2021-09-14 10:35] LefterisJP commented on #3462
Hello @karvounis where do you hate this token in? Is it in an exchange and if yes which one?

[2021-09-14 10:36] yabirgb commented on #3462
Hello @karvounis Thanks for reporting this issue. Indeed the price for this asset is queried from cryptocompare but seems that they changed the ID at some point or we got it wrong at the beginning.

You can edit the asset https://rotki.readthedocs.io/en/latest/usage_guide.html#adding-editing-an-asset and replace the cryptocompare id  `CTX` by `CARTAXI`

[2021-09-14 13:27] kelsos opened #3463 "TaskManager stops working when the Windows locale is set to Turkish"
## Problem Definition

We managed to pinpoint the issue thanks to the user's help. It seems that the camel case converter doesn't ignore the locale as it should.

When the system locale is set to Turkish on Windows this results in a transformation of the `task_id` property to `taskİd` instead of `taskId`.

Thus when a new task is stored to the task state in vuex the `taskId` is undefined since the

[2021-09-14 14:17] arosboro opened #3466 "Support BitPay CSV Import for Loading up Debit Card"
## Abstract

The current application does not support the export format from bitpay.com that allows users to see their sell activity which is involved in loading the debit card with USD.

## Motivation

It's hard to track down these transactions because they are siloed on external systems, having this CSV format support will make it easier to enter the trades into rotki in bulk.

## Specification

[2021-09-14 14:46] arosboro opened #3467 "Support BitPay Merchant API"
## Abstract

Related #3466.  BitPay supports accepting merchant payments through a crypto payment gateway offering.  The rest API can be found here: https://bitpay.com/api/

This feature would enhance exchange support added by #3466 by providing API integration with BitPay.

## Motivation

I am not a BitPay merchant user, but I am considering working on BitPay's aforementioned CSV import issue. I

[2021-09-14 14:52] karvounis commented on #3462
Hey @LefterisJP, I have this token in my Metamask wallet, not in an exchange.
@yabirgb I will try this solution thank you

[2021-09-14 15:10] yabirgb commented on #3462
It might be the case that we have some kind of cache. Try to force a refresh of prices
![image](https://user-images.githubusercontent.com/5068010/133284022-37b76cec-8376-4053-b489-4a98198b6500.png)

or in case it still doesn't show the correct price, can you try to close and open the again the app?

[2021-09-14 15:12] LefterisJP commented on #3462
Can you try restarting the app also?

Cryptocompare returns

https://min-api.cryptocompare.com/data/price?fsym=CARTAXI&tsyms=EUR

`0.06343` EUR as the price.

On the other hand I see the price has not updated for years ... so even cryptocompare's oracle may not be very accurate here. And it's also not in coingecko.

[2021-09-14 16:50] #2362 closed

[2021-09-14 16:53] LefterisJP opened #3468 "Write tests for binance fiat deposits/withdrawals and fiat payments"
## Abstract

After merging https://github.com/rotki/rotki/pull/3443 there have been no tests written to deserialize fiat/orders and fiat/payments:
https://binance-docs.github.io/apidocs/spot/en/#get-swap-history-user_data

Relevant part of the tests code:
https://github.com/rotki/rotki/blob/2c9ed5d892c4c571b86edb701c80838b9222bff1/rotkehlchen/tests/exchanges/test_binance.py#L590-L598
https://githu

[2021-09-14 19:00] LefterisJP commented on #3449
The problem seen by the user was https://github.com/rotki/rotki/issues/3463.

[2021-09-14 19:00] #3449 closed

[2021-09-14 19:01] LefterisJP commented on #3448
The problem seen by the user was https://github.com/rotki/rotki/issues/3463

Also found some nice changes we can do in kucoin which I already did in bugfixes.

[2021-09-14 19:01] #3448 closed

[2021-09-15 00:09] arosboro opened #3469 "Audit enabled modules to determine candidates to disable which have no events"
## Abstract

A background task to perform a module audit with the task manager.  The primary purpose is to determine if the user may want to disable modules for better performance based on their accounts having no history after processing.

## Motivation

Some users have non-essential modules enabled.  This feature would prompt the user to turn those off so they can speed up the application.

## S

[2021-09-15 00:42] arosboro opened #3470 "Time format for date entry widget and input fields"
## Abstract

Allow users to choose a custom format string for date input similar to date output.

## Motivation

Users not accustomed to day, month, and year localization of dates may want to change the input parameters to match their own preferences.  To facilitate faster date entry of manual tracking records by keyboard or mouse.

## Specification

* Add an input field for "Date input format"
*

[2021-09-15 05:50] isidorosp commented on #3469
I think this would be super helpful but ideally this would be periodically re-polled/refreshed in the background somehow. For example, what if a user doesn't have has Uniswap trades when they add the account, get this weird notice and go "yeah of course I want my app to be faster," but then they go do a transaction on Uniswap a few weeks later? It's going to be a slightly bad UX flow because they'

[2021-09-15 07:51] #3251 closed

[2021-09-15 07:56] karvounis commented on #3462
Manually editing the CryptoCompare symbol and restarting the app fixed the issue! Thank you @LefterisJP and @yabirgb for your help and extremely fast responses!

[2021-09-15 07:56] #3462 closed

[2021-09-15 08:19] kelsos commented on #1451
Moving to the next milestone.

[2021-09-15 08:40] LefterisJP commented on #3469
Well if it increases the querying speed of all users while results in a few users asking questions in discord that's fine in my book.

Sure we can have yet another task trying to do the opposite, so detect modules which the user may want to activate, but that would be another issue. And at some point having too many potential tasks in the task manager would slow down the entire app. Remember this

[2021-09-15 11:37] A2be commented on #3420
`L2beat.com` is reporting that Arbitrum is up to US$2.3 billion total value locked now, just two weeks after the kickoff on mainnet.  [Arbitrum page on L2beat](https://l2beat.com/projects/arbitrum/)

[2021-09-15 13:00] LefterisJP commented on #1097
# Tracking NFT balances in the dashboard

As discussed in the standup we still also want to track nft balances in dashboard and statistics for this release. So reopening the issue with some more things to do.

WIP -- will still edit more.

## NFT Ids

Figuring out a unique id for each nft. Since they will be saved in the user DB we can probably have even a user specific id, but probably should loo

[2021-09-15 15:33] #2580 closed

[2021-09-15 23:29] jimsjoh commented on #1516
@LefterisJP users can export to csv, example attached

[transactions-export-97xyx53y-xyx5-48xy-x3y9-80xy025668x3.csv](https://github.com/rotki/rotki/files/7173813/transactions-export-97xyx53y-xyx5-48xy-x3y9-80xy025668x3.csv)

[2021-09-16 12:11] konradstrachan commented on #528
Hey @LefterisJP I'm circling back to see if you can guide us to the best way of getting this integration done :-)

[2021-09-16 17:17] arosboro opened #3474 "Support for coinbase earn through the coinbase exchange api integration"
## Abstract

Coinbase earn education program rewards are not showing after connecting a coinbase account.  This request seeks to sync those events in rotki.

## Motivation

Missing coinbase earn transactions result in unresolved acquisitions if those assets are liquidated.

## Specification

Refer to https://developers.coinbase.com/api/v2#transaction-resource and https://github.com/rotki/rotki/blo

[2021-09-16 22:35] LefterisJP commented on #528
Hey @konradstrachan if someone from your team or someone you can help via funding could take a look at how other modules are done in the code (loopring is probably a close one: https://github.com/rotki/rotki/blob/e1561d52f20ddfc708ca4f3de51f42a534503cc5/rotkehlchen/chain/ethereum/modules/l2/loopring.py)

then we can also help with guidance for said person if they join our discord: https://discord.

[2021-09-17 08:08] #2891 closed

[2021-09-17 08:39] kelsos commented on #3440
This will be closed by #3475

[2021-09-17 09:51] #3463 closed

[2021-09-17 09:59] kelsos commented on #1962
This was done at some point but it seems the issue was not closed.

[2021-09-17 09:59] #1962 closed

[2021-09-17 12:02] kelsos opened #3476 "Refactor the premium components that display a module activation component"
## Problem Definition
The position is done using hacky CSS, which can sometimes break.
Adds proper support for this behavior to the components and get rid of the CSS positioning

[2021-09-17 15:28] hjorthjort opened #3477 "Statistics page: net value over time is based on current value of the chosen currency"
## Problem Definition

When you open the statistics page and look at the Net value over time graph, it maintains its exact shape even if you change your base currency. So for example, if I choose USD as my base currency, and then switch to ETH or BTC and look at the last year, I would expect to see a very different shape of the graph.

I don't know how the net value history is stored. But I'll ass

[2021-09-17 22:37] LefterisJP commented on #3477
Yes this is a known issue. And I thought we had a warning for that somewhere, but we don't? @kelsos don't we have an issue for this? It rings a bell.

Yes @hjorthjort the value is saved in USD. And conversion is done I assume in the frontend with the current EUR/USD ratio if you do EUR. Getting accurate historical data for each of these currencies to USD may be non-trivial. Doable, but not super t

[2021-09-18 14:32] magicdude4eva commented on #1146
Would be great to include BitPanda as supported Exchange - since it recently raised another $250m and has now a valuation of $4bn it is certainly something one should not ignore.

Thanks for the great software - tested it and immediately signed up for premium.

[2021-09-18 15:06] rkalis opened #3479 "Cannot change asset type from 'fiat' to 'ethereum token'"
## Problem Definition

I accidentally added PUDGY (https://www.coingecko.com/en/coins/pudgy-vault-nftx) as a 'fiat' asset. When I tried to change it to an 'ethereum token' instead, I got the message 'Tried to edit non existing ethereum token with address 0xabea7663c472648d674bd3403d94c858dfeef728'. I ended up deleting the asset and re-adding it, but it seems like it should be possible to edit the

[2021-09-18 16:37] LefterisJP commented on #3479
We can probably give a better error message. But yes you can't edit the type of an asset. This is how the system is designed. On the type depend all the fields of the asset and its unique identifier. This is something that can't be edited.

[2021-09-18 16:38] rkalis commented on #3479
I see. Maybe it should be greyed out then similar to how the "label" is greyed out when editing a manual balance?

[2021-09-18 16:40] LefterisJP commented on #1146
Implement it's a matter of 1 day of concentrated work (probably more if split over various days). I need someone to send me an api key with real data to test. Otherwise implementation is really error prone.

Who can do that? You can DM it in discord: https://discord.com/invite/aGCxHG7

[2021-09-18 16:44] LefterisJP commented on #3479
Or perhaps just not allow ethereum token in there. IT's in there? I would have to check and see. If yes then yeah we need it out.

[2021-09-18 16:46] rkalis commented on #3479
Yeah the reason I thought it *should* be possible is that the UI presented it as possible. It only errored out when I tried to click "save" after filling the details (like address).

[2021-09-18 17:34] LefterisJP commented on #3479
Okay reopened the issue. We should address this.

[2021-09-18 17:41] magicdude4eva commented on #1146
@LefterisJP - I will DM you a Bitpanda API key with read rights.

[2021-09-18 17:42] LefterisJP commented on #1146
Hey thanks a lot! We will not work on it right at this moment as it won't make it into the next release, but the one after the next it's possible. And yes with an API key we can make bitpanda the next exchange to add support for.

[2021-09-18 21:33] #1345 closed

[2021-09-19 06:58] magicdude4eva opened #3483 "FR: Improved PNL analysis for frequent trades and improve "Trades view""
## Abstract
I am using a crypto-bot (Gunbot) which trades about 30-60 times a day. It would be great to have an improved PNL report.

## Motivation
Better insight on portfolio performance

## Specification
I can only provide some screenshots how Gunbot does it.

For the Trades view it would be great to have a profit/loss view on trades being sold (I am not sure if it is possible to correlate this

[2021-09-19 08:04] LefterisJP commented on #3483
Hey @magicdude4eva thanks for the issue!

If I understand correctly, what you are asking for is part of our PNL report. As long as rotki knows where everything was bought it will let you know how much each trade gained or lost in a FiFo way.

https://rotki.readthedocs.io/en/latest/usage_guide.html?#cost-basis

We just show this in a table and most importantly export this in a CSV. We don't current

[2021-09-20 08:21] kelsos commented on #3479
@LefterisJP So the issue here is that you should not be able to change the token type after adding a token, but the frontend allows you to do so?

[2021-09-20 08:23] LefterisJP commented on #3479
the type of a token should not be changeable. As the unique id is set then. The frontend allowing you to do so is one thing, but wanted to also check what does the backend do. And what request is done and what is returned in this case.

[2021-09-20 08:28] kelsos commented on #3477
I was pretty sure we had an issue about this, but I can't find any from a quick search. It is indeed a known issue and the frontend does the conversion based on the current price. Let's keep this open.

[2021-09-20 08:30] kelsos commented on #3479
Ok, the frontend part should be really easy to fix, we just need to disable the dropdown on edit.

[2021-09-20 14:03] corpetty opened #3487 "FR: Add ETH2 validator by public key"
## Abstract

I am currently only able to add an ETH2 validator via its deposit address. I would prefer to add via the public key on the beaconchain.

## Motivation

I have validators that I track that for one reason or another are not cleanly mapped to a given ETH1 deposit address. I would prefer to track them via their ETH2 validator public key.

## Specification

[2021-09-20 16:37] LefterisJP commented on #3487
This is a valid request. Should be dooable with few changes/additions in backend and frontend. We will put it in the backlog @corpetty !

[2021-09-20 20:42] LefterisJP opened #3488 "Add contribution guide for CEX and DeFi modules"
## Problem Definition

There is no easy way for external people to see how to create rotki modules. We need to change that. Not all parts of the code are super modular but for those that are there is no way other than reading the code to understand how to contribute

## Task

- [x] Add a guide in the contribution docs about how can a user add support for a new CEX.
- [x] Add a guide in the contrib

[2021-09-21 14:47] arosboro commented on #3474
I see a few possible ways this could be best completed, so I figure some ideation and discussion is needed before impacting the architecture for the exchange class.

In work with uphold and coinbase, I have identified deposits and withdrawals which can be considered income or expenses by their nature.  Some may consider this a judgement call that each user needs to make based on their jurisdiction

[2021-09-21 15:26] yabirgb commented on #3474
Thank you for this write! Since this is an important change in the design I believe @LefterisJP should have the last word here.

In my opinion and after reading your explanation @arosboro  I believe that the second option provides more versatility and is more flexible. This option seems to be more user friendly also. Finally this second option needs less changes in the backend and will be easier t

[2021-09-21 15:57] arosboro commented on #3474
One con to approach 1 is that the exchange will regularly sync events which need periodic manual action sometimes on a daily basis.  I considered an additional feature: categorization rules that automate conversion based on records to match incoming asset movements and reclassify them.  Again as you mentioned @yabirgb that will increase the scope of work dramatically, and I agree with you that int

[2021-09-21 17:42] #2836 closed

[2021-09-21 17:42] #3440 closed

[2021-09-21 19:57] LefterisJP opened #3490 "Delisted coinbase pro assets break rotki due to bad CoinbasePro API design"
## Problem Definition

A user reported a failed coinbase pro query:

`Failed query for Coinbase Pro: Error: Coinbase Pro GET query at https://api.pro.coinbase.com/fills?product_id=XRP-EUR&limit=100 responded with error status code: 400 and text: {"message":"product_id is not a valid product"}`

After investigation it turns out that coinbase/coinbasepro has delisted XRP.

https://help.coinbase.com/

[2021-09-21 20:24] aaronwinter commented on #3316
+1, rotki premium user here. Celo support would be really nice.

[2021-09-21 21:13] LefterisJP opened #3491 "Barnbirdge appears as unknown asset in coinbase pro"
## Problem Definition

When opening v1.20.1 rotki I got this message:

"Found coinbase pro account result with unknown asset BOND. Ignoring it."

## Task

Fix it.

[2021-09-21 21:29] LefterisJP commented on #3474
The only thing I can imagine as viable is (2). If we do know that some exchanges have something that should be a ledger action then we should turn it into one and not try something that does not fit the purpose.

Perhaps a way of letting the user know that they should periodically check their ledger actions to make sure it's generated correctly should be also implemented.

A problem I can see is t

[2021-09-22 10:55] yabirgb opened #3493 "Fee assets is not properly handled in bitstamp"
## Problem Definition

Fee assets is not correctly initialized in bitstamp with the possibility of raising a `UnknownAsset` error

## Logs

[code]

[2021-09-22 11:15] rkalis opened #3494 "User defined groups of assets"
## Abstract
Add user defined groups of assets. Allow option to display statistics for groups rather than individual assets. e.g. which part of my portfolio is in stables, which is in DeFi tokens, which is in PoW coins, etc.

## Motivation
From the perspective of tracking my *crypto* portfolio, I don't care too much whether I'm holding USDC or DAI (or even EUR), just that it's *not crypto*. So by b

[2021-09-22 11:27] LefterisJP commented on #3494
Hey @rkalis thank you for the issue. It sounds like a nice thing to have.

But can't think of a quick/easy way to implement so it's probably non-trivial.

[2021-09-22 11:28] rkalis commented on #3494
Like you said it's a nice-to-have, doesn't need to be a priotity 👌

[2021-09-22 21:40] hjorthjort opened #3496 "New asset: BANK"
**Asset name:** Bankless DAO
**Asset symbol:** BANK
**Coingecko link:** https://www.coingecko.com/en/coins/bankless-dao

[2021-09-22 21:45] LefterisJP commented on #3496
Hey @hjorthjort this is weird. I would have sworn we have it but indeed I don't see it in the DB. As you know you can add this manually quite easily as it's an ethereum token.

We will add it in next release.

Tagging @yabirgb

[2021-09-23 08:44] hjorthjort commented on #3496
Yeah, I could have sworn I've seen it, too. Figured you'd want it.

[2021-09-23 12:06] #3491 closed

[2021-09-24 17:19] yabirgb opened #3500 "Take into account true fee used in kraken trades (such as KFEE or non quote asset)"
## Abstract

At the moment is possible to have trade fees paid in KFEE but in the API it appears as paid with the quote asset.

## Specification

To solve this issue we should compare every trade agains the ledger entries from kraken and check if KFEE was used

[2021-09-24 19:10] dieguico opened #3501 "Add Kucoin Trading Bots Balances"
## Abstract

Kucoin included in their product 4 different Trading Bots: https://www.kucoin.com/blog/en_US/kucoin-trading-bot-now-supports-4-strategies-how-to-find-the-bot-fits-you-most.

The assets being managed with those Trading Bots are not taken into account in the current rotki-Kucoin API integration.

## Motivation

The integration is missing part of assets' balance, therefore not giving rot

[2021-09-24 19:52] LefterisJP opened #3502 "Double liability amount for some recent makerdao vaults"
## Problem Definition

A user noticed that their makerdao vault has double the liabilities amount than it should. It's a quite new vault and their problem is not reproducible for all makerdao vaults we know of and track.

For example my own vaults don't have this problem.

The problem manifests in the usual way all our double balances are. The "DeFi SDK" adapter smart contract that we use to detec

[2021-09-24 22:42] a7e8 opened #3505 "Add support for Arbitrum (Ethereum L2)"
## Abstract

It might be good to start thinking about supporting Ethereum Layer 2 networks like [Arbitrum](https://portal.arbitrum.one/).

## Motivation

There's already a lot of projects launched on Arbitrum with more coming soon.

## Specification

n/a

[2021-09-25 07:31] LefterisJP commented on #3505
Hey @a7e8 we have it in our sights along with other EVM compatible rollups and sidechains. Specifically for arbitrum there is an issue already here: https://github.com/rotki/rotki/issues/3420

[2021-09-25 07:31] #3505 closed

[2021-09-25 08:23] LefterisJP commented on #3502
Fixed by #3503

[2021-09-25 08:23] #3502 closed

[2021-09-25 14:40] yabirgb commented on #3500
In addition to detect the ussage of KFEE it will be also be useful to detect the correct assets used in fees since the user can choose by querying the related ledger actions and obtaining the fee from there

[2021-09-25 15:07] LefterisJP commented on #3500
@yabirgb The user can not always choose. A lot of things happen automatically. The trade endpoint may return "quote currency equivalent" but "anything" can be the actual fee as I mentioned.

It can use KFEE if you have. It may also use base currency instead of quote currency. And who knows .. maybe something else too?

The only way to be 100% sure and correct about what was taken is to use the led

[2021-09-25 15:44] yabirgb commented on #3333
https://www.coingecko.com/en/coins/tokenclub

[2021-09-26 15:37] #3274 closed

[2021-09-27 10:50] LefterisJP commented on #3412
Closing this since there is nothing more actionable on our side.

[2021-09-27 10:50] #3412 closed

[2021-09-27 13:03] LefterisJP opened #3512 "Write backend tests for the backend nft endpoints"
Do it

[2021-09-27 20:15] rubenlg commented on #1701
FYI: I found this issue by chance. My gpu-process in Electron is also using 100% CPU when I render a square with webGL, so I suspect doing your animations with canvas instead of CSS won't help.

[2021-09-27 20:16] #1097 closed

[2021-09-28 07:28] kelsos commented on #1701
Hey @rubenlg thanks for the tip. I will keep it in mind. I think the best approach would probably be to start reducing the number of indefinite progress bars as they seem to be the biggest offenders

[2021-09-28 08:47] LefterisJP commented on #3493
This should be fixed from #3495

[2021-09-28 08:47] #3493 closed

[2021-09-28 10:31] LefterisJP commented on #3490
Should be fixed by https://github.com/rotki/rotki/pull/3516

[2021-09-28 10:31] #3490 closed

[2021-09-28 14:44] starise commented on #2323
I'd be interested in Huobi support!

[2021-09-28 16:48] arosboro opened #3522 "ShapeShift incorrect rate causing losses in P&L"
## Problem Definition

The development ShapeShift external exchange location registers trades with the rate in the quote_asset.  Rotki expects rate in base_asset.  To convert divide 1 by the rate given in the CSV artifact.

### System Description

Operating system: Mac OSX 11.6
Rotki version:  1.20.2.DEV

[2021-09-28 17:23] LefterisJP commented on #3522
Hey thanks for opening an issue for this but there is no reason to open issues for development features :smile:

[2021-09-28 18:52] arosboro commented on #3522
Sure I wasn't sure what to name the branch for the PR, in the future I will just make it topical.

[2021-09-29 07:55] #3522 closed

[2021-09-29 09:57] yabirgb commented on #3496
Closed by #3517

[2021-09-29 09:57] #3496 closed

[2021-09-29 09:58] yabirgb commented on #3383
Closed by #3517

[2021-09-29 09:58] #3383 closed

[2021-09-29 09:58] yabirgb commented on #3333
Closed by #3517

[2021-09-29 09:58] #3333 closed

[2021-09-29 10:35] LefterisJP commented on #2108
I am not sure this is needed. We should not overdo it with the task manager and we should add stuff there only if we really want it running on the background.

So this should be on a case by case basis.

Won't implement for all.

[2021-09-29 10:35] #2108 closed

[2021-09-29 10:45] kelsos opened #3525 "Show small icon next to NFTs in dashboard and balance editor"
## Abstract

It could be either the icon itself if it makes sense or the collection icon. TBD

## Task

- [ ] Display icon

[2021-09-29 10:49] LefterisJP commented on #2886
Hey @yabirgb what do you envision for this? The code being abstracted right? Will push it by 2 releases but you can check it out whenever.

[2021-09-29 10:50] LefterisJP commented on #1992
Don't think there is a generic way to achieve this.

[2021-09-29 10:50] #1992 closed

[2021-09-29 10:54] LefterisJP commented on #2129
So this has not happened again. Perhaps it will again but we will handle it when we see it.

[2021-09-29 10:54] #2129 closed

[2021-09-29 11:04] LefterisJP commented on #1805
This issue is a "Reminder" to rely less and less on zerion's defi adapter SDK.

It's something we are trying to be doing and it is slowly happening but we are also handling the disadvantages (double balance counting) as we go so this issue is not really actionable.

If at some point there is a clear way of completely getting rid of it we will do it. Until then no reason to have an open issue for i

[2021-09-29 11:04] #1805 closed

[2021-09-29 11:04] LefterisJP commented on #2221
This is still not done @yabirgb  eh?

[2021-09-29 11:07] yabirgb commented on #2221
@LefterisJP No, we didn't update the list of V1 vaults. Now all the active vaults are v2 but for accounting porpouses it will be needed to add all the v1

[2021-09-29 11:11] LefterisJP commented on #2221
All right so please do this at some point

[2021-09-29 16:49] #3476 closed

[2021-09-30 07:48] kelsos commented on #2395
I am gonna close this issue since the issues regarding aarch64 should be solved already in develop.

With 1.21 we will also have the first release that will have an aarch64 docker image published.

[2021-09-30 07:48] #2395 closed

[2021-09-30 07:50] kelsos commented on #2914
The aarch64 builds work properly on CI so the issue should now be resolved

[2021-09-30 07:50] #2914 closed

[2021-09-30 10:18] yabirgb opened #3535 "Account already exists error after changing selected modules"
## Problem Definition

If an user changes the selected modules while an account is being added the backend complains because the dictionary of active modules has been modified during the addition and process fails. If you try to add it again the frontend says that the account is already added.

This gets solved if you logout and login again

### logs
[code]

### System Description
Operating system

[2021-09-30 13:53] #3535 closed

[2021-09-30 15:08] hgedia opened #3541 "Ability to create a set of default ledger entries so a user can fill them up"
## Abstract

Currently ,  while generating profit/loss report using imported data; if rotki encounters an asset which has no history (deposit) , it requires you to do a ledger action and this is shown as a notification. These actions can be very high in number and may be connected to numerous wallets.

## Motivation

It is tedious to find each of these notifications and address an entry for them.

[2021-09-30 15:43] kelsos commented on #3541
Hey @hgedia thank you for the issue.

This is something we have discussed with @LefterisJP quite a few times in the past, and we would like to overhaul the notification mechanism in the future to make notifications easily actionable. This of course is not trivial but it would provide tremendous value to the users.

This staging area idea is close to what I had in mind on how such a mechanism would

[2021-10-01 07:52] LefterisJP commented on #2613
I will try to take this up and see how it could be done.

[2021-10-01 09:55] LefterisJP commented on #2613
Hey @isidorosp this was trivial. Went with

Since (1) it's easier, (2) does not inflate DB size and (3) will work for all our users from next patch release, no need to create new zero data from now on.

[2021-10-01 09:58] LefterisJP commented on #3414
Hey @coinyon so any answer? Solving this would be very easy for you. Just want to confirm that this is the right solution as it does not seem to agree with their docs.

[2021-10-01 13:09] isidorosp commented on #2613
Sounds good!

[2021-10-01 13:35] LefterisJP commented on #2613
Fixed by https://github.com/rotki/rotki/pull/3542

[2021-10-01 13:35] #2613 closed

[2021-10-01 14:41] LefterisJP commented on #3479
Putting this in the next patch release. Should be easy to handle.

[2021-10-01 14:45] coinyon commented on #3414
Unfortunately, nobody from Coinbase came back to me. They said the only support they can offer is the documentation :-1:

I'm currently running a patched rotki with the change to always use `created_at` and it worked fine so far. So I'd welcome this change, and I think rotki would be more correct with it. But I can't speak for every user, maybe there is a case where the current impl is correct.

[2021-10-01 14:46] LefterisJP commented on #3414
I would welcome a PR for it and if anybody complains we can look at it then.

[2021-10-01 14:50] coinyon commented on #3414
Ok will prepare one this weekend

[2021-10-01 15:13] kelsos commented on #3479
Do we also need backend changes here or is it only the frontend?_

[2021-10-01 15:36] LefterisJP commented on #3479
frontend alone should fix it. But will have to do a backend check to see the error the user got. Something sounded strange.

[2021-10-01 17:19] ladidan opened #3543 "UI: Condense/rollup trades which include multiple orders by identical time stamp"
## Abstract

The idea is to clean-up the trades UI in a way that trades which consist of multiple orders are condensed/rolled-up in one line.

## Motivation

Rotki users who are less interested in each single order which was executed but more keen on the bottom-line of a single trade could benefit from a much slimmer trades overview register.

## Specification

e.g. user A buys 1 ETH for x USD spo

[2021-10-02 00:57] schklom commented on #3418
@LefterisJP Sorry for the necro-post and delay. :P\
I meant you can let the user decide ***the date format rotki will use*** when importing.\
That way, users can change how rotki will read the file.

This would solve the issue of Crypto.com deciding to update its format again.

[2021-10-02 03:08] pinoli opened #3546 "Keep getting "Found coinbase deposit/withdrawal with unknown asset FET. Ignoring it." error"
## Problem Definition

Hello, this is the first of several issues I constantly encounter in rotki (I love it by the way!)
I connected the Coinbase API and it keeps giving me this message. FET was a coin for Coinbase Learn program, after I got it I immediately swapped it. Even though I hold no FET, I keep getting this message every 5-10 minutes in the notifications panel (the little bell)
![image](

[2021-10-02 03:11] pinoli opened #3547 "Keep getting this error: "local variable 'raw_fee' referenced before assignment""
## Problem Definition

I constantly get this error in my notification panel, possibly every 10 minutes.
![image](https://user-images.githubusercontent.com/30185650/135701789-e68c54c2-7d65-4327-bd0e-18641bab087a.png)

I connected my Coinbase API to rotki, and I don't understand why it keeps giving me this error.
Also see the previous issue I opened: [https://github.com/rotki/rotki/issues/3546](url)

[2021-10-02 03:16] pinoli opened #3548 "Duplicate asset in my balances."
## Problem Definition

rotki incorrectly shows an asset tied to an old contract that's been updated.
![image](https://user-images.githubusercontent.com/30185650/135701867-b42f8f8c-ac3c-48ac-b82b-d069d390a5ae.png)
In the screenshot you can see SingularityNet (AGI) listed twice:

- The first entry is the old contract (AGI), a balance I don't own anymore.
- The second entry is the correct one (AGIX,

[2021-10-02 07:30] LefterisJP commented on #3546
You can ignore it. This is just a warning.

[2021-10-02 07:31] LefterisJP commented on #3547
This is a bug! Nice find! Can you actually also provide us with logs? https://rotki.readthedocs.io/en/latest/contribute.html#id2

You should either email logs to support@rotki.com or DM them to me or any other rotki member in our discord: https://discord.com/invite/aGCxHG7

[2021-10-02 07:40] LefterisJP commented on #3548
This is not incorrect :)

The devs of this token did an upgrade by mirroring balances instead of swapping as should be done. You have both the new and the old token and they are both properly detected and shown as would be expected.

The contract exists and we detect the balance for it.

Yes there is an easy way to fix it manually. Go to the Settings -> Accounting and ignore the old one. It should

[2021-10-02 07:40] #3548 closed

[2021-10-02 07:42] LefterisJP commented on #3548
Do tell us if this solved your issue. It should as I also tested it, but if you still have problem write here and we can help you.

[2021-10-02 08:05] LefterisJP commented on #3547
Need the data from the logs mostly for testing. I am going to fix the issue already since the error makes it obvious where it is.

[2021-10-02 09:36] yabirgb opened #3549 "Option to not count NFTs in net worth"
It would be useful to have a toggle to not count NFTs in the total net worth even if the module is activated or a toggle in the dashboard to not display them in graphs and calculations

[2021-10-02 11:00] LefterisJP commented on #3547
This should be fixed by: https://github.com/rotki/rotki/pull/3550

[2021-10-02 11:00] #3547 closed

[2021-10-02 11:47] LefterisJP commented on #3546
Actually after looking further it means that FET (Fetch.ai) was not properly detected for coinbase users due to 2 assets with this symbol existing. Fixing it now.

[2021-10-02 11:53] yabirgb opened #3552 "NFT gallery breaks with special NFT (tbd)"
## Problem Definition

If one starts traveling the NFT gallery the application freezes and one has to close it an open again. This is caused by specific NFT that needs to be found. I'm on it atm

## Logs

Neither the backend or the electron logs report any issue related to this freeze. The console log shows this

![image](https://user-images.githubusercontent.com/5068010/135713076-d459771c-1d64-4e

[2021-10-02 12:33] LefterisJP commented on #3546
Should be fixed by https://github.com/rotki/rotki/pull/3551

[2021-10-02 12:33] #3546 closed

[2021-10-02 20:27] LefterisJP opened #3554 "Add gemini earn balances"
## Abstract

A user in discord who has a Gemini account mentioned that they can't see their Gemini earn balances.

It appears that gemini has some kind of special staking balances called earn.

They have them under a different endpoint which we are not currently querying: https://docs.gemini.com/rest-api/#get-earn-balances

## Task

Include gemini earn balances when querying gemini

[2021-10-02 22:27] LefterisJP opened #3555 "Add total value of NFTs owned in the NFT dashboard table"
## Abstract

Much like the assets that have their total shown in the dashboard assets table the NFTs should also show the total value of all NFTs owned in their table in the dashboard

## Task

Do it

[2021-10-03 02:37] pinoli commented on #3548
I'll write here just to thank you to close all of my three issues in less than a day. Fantastic.
I am a Premium User and I have to say rotki is a game changer, and I love the passion I see here.

Thanks again and yes, this fixes my issue. I understand it's on Singularity side and ignoring it works flawlessly.

[2021-10-03 07:52] LefterisJP commented on #3547
User sent logs which seem to confirm what I suspected:

[code]

[2021-10-04 07:45] kelsos commented on #3543
@LefterisJP we could make it an optional non-default behavior but is there an easy way to properly identify these trades?

[2021-10-04 07:52] LefterisJP commented on #3543
Depends on the exchange. We don't really do anything to differentiate but for some exchanges we could probably do more work (probably not too easy) to show them if the exchange can help us.

It may be possible in a hacky way using the "link" part as the common identifier is probably already there. Otherwise we would need to change the structure around a bit and this is too big a refactor to do at

[2021-10-04 08:03] LefterisJP commented on #3552
Fixed by #3557

[2021-10-04 08:03] #3552 closed

[2021-10-04 09:47] rkalis commented on #3555
I'm not sure if this is included in this issue, or if I should open a separate one, but I'd like to see e.g. my Cool Cats grouped as "Cool Cats" in the statistics view, rather than showing them separately (and without name) like it is now.

<img width="804" alt="Screen Shot 2021-10-04 at 11 43 18" src="https://user-images.githubusercontent.com/9142187/135829752-9e898a44-640f-4690-a2aa-c261622b9a49

[2021-10-04 09:52] kelsos commented on #3555
Hey @rkalis  can you open a new issue for that. It is a separate issue and a bit more complicated one.

[2021-10-04 09:52] rkalis commented on #3555
Will do!

[2021-10-04 10:10] rkalis opened #3560 "Group NFTs in statistics and show their full name"
Right now every NFT is its own entry in all statistics views, with incomprehensible names (_nft_address_index). Ideally I would see an entry in the statistics saying "Cool Cats" rather than two separate entries saying "_nft_coolcats_address_8970" and "_nft_coolcats_address_8709".

See attached screenshot for what NFT balances currently show up as in the "Value Distribution By Asset" breakdown in t

[2021-10-04 10:11] rkalis opened #3561 "Display method of NFT price calculation"
It seems that you're using different methods of NFT price estimation (e.g. it seems that my BGANs are priced according to purchase price, while my Cool Cats are priced according to floor price). It would be useful to display which method was used in some way, similar to the indicator that you already have for manual price overrides.

Side request: can you use floor estimation for bgans?

[2021-10-04 10:14] LefterisJP commented on #3561
The method is should be documented.

It is the following in order of preference.

1. Manual price by the user. User knows best.
2. Last sell price if there was a sell of the NFT
3. Floor price of the collection if we have one.

We don't do anything nft or collection-specific. at the moment.

[2021-10-04 10:16] LefterisJP commented on #3560
Showing the name instead of this should be doable. Grouping by collection will probably be harder but perhaps also possible.

[2021-10-04 10:21] rkalis commented on #3561
Ah I see. It seemed like you were using different estimations for different NFT collections.

For example:

My BGAN 1069 (https://opensea.io/assets/0x31385d3520bced94f77aae104b406994d8f2168c/1069) is valued at 0.5E (last sale price).

At the same time my Cool Cat 8709 (https://opensea.io/assets/0x1a92f7381b9f03921564a437210bb9396471050c/8709)  is valued at 14E (floor price), even though it has a l

[2021-10-04 10:32] kelsos commented on #3560
Showing the name should be easy we can probably also do it for the next patch release

[2021-10-04 10:33] LefterisJP commented on #3560
Collection can also be done frontend in a hacky way as you can see it's the second address after the underscore. But perhaps would make sense to add such groupign filtering in the backend and do that logic in the backend.

[2021-10-04 15:03] yabirgb opened #3563 "Assets 1.22"
- [x] [Spell](https://www.coingecko.com/en/coins/spell-token) `0x090185f2135308bad17527004364ebcc2d37e5f6`

[2021-10-04 15:18] LefterisJP commented on #3563
We could also do an assets round for the patch release!

[2021-10-05 13:29] LefterisJP commented on #3555
This is done by #3558

[2021-10-05 13:29] #3555 closed

[2021-10-05 19:21] yabirgb commented on #3563
UTK forked to `0xdc9ac3c20d1ed0b540df9b1fedc10039df13f99c` from `0x70a72833d6bF7F508C8224CE59ea1Ef3d0Ea3A38`

[2021-10-06 02:15] helloeddy commented on #2394
+1

[2021-10-06 07:06] LefterisJP commented on #3554
Should be fixed by #3566

[2021-10-06 07:06] #3554 closed

[2021-10-06 15:57] LefterisJP commented on #3208
Reopening this. This seems to still happen in 1.21.0

[2021-10-07 08:42] kelsos opened #3571 "Change the total aggregator for the dashboard assets/nft balances to consider rounding setting"
## Problem Definition

I recently realized that the total value aggregator used to display the total line in the dashboard table does not take the rounding setting into consideration.

This might lead to the total reported being a bit off from the aggregation of the row values.

## Task
- [ ] Check the tables and make sure that the total matches the row values

[2021-10-07 11:18] #1365 closed, assigned to nobody

[2021-10-07 13:31] rkalis commented on #3561
In that case customisability is probably the way to go yeah.

[2021-10-07 19:15] Faustino-CIMA commented on #2488
Yes, please add full Cardano support. Thank you.

[2021-10-07 20:20] LefterisJP opened #3576 "Make virtual zero amounts in balance snapshots configurable"
## Problem Definition

The way https://github.com/rotki/rotki/issues/2613 was solved has introduced an additional problem. We now return `N` zero virtual balance between every 2 saved snapshots if their time difference is `N`x 24 hours.

This manifests in quite broken asset graphs for most users.

![136640664-0c734d8c-91db-47bf-8467-f69ef64f8d31](https://user-images.githubusercontent.com/1658405/1

[2021-10-07 21:45] LefterisJP opened #3578 "Adding manual trade with only date and no time fails silently"
## Problem Definition

A user reported this with v1.21.0. It's also in v1.21.1 when I tested it there first.

It's really easy to reproduce. Just try to input a manual trade and remove the hour/mins/secs part.

![2021-10-07_23-42](https://user-images.githubusercontent.com/1658405/136466332-71cd0918-71f0-4863-a2cb-e3217c9b93b1.png)

Pressing save does nothing. No error is returned. Nothing seems to

[2021-10-07 21:59] LefterisJP opened #3579 "Sort NFTs in gallery also by price"
## Abstract

A discord user requested this and it's a sensible request. We should allow sorting NFTs in the gallery by price.

## Task

Do it.

[2021-10-08 09:48] kelsos opened #3580 "Make sure that deactivating the NFT module cleans any NFT balances"
## Problem Definition

I am pretty sure that deactivating the NFT module doesn't clean the state at all

## Task
- [ ] Clean the state on module deactivation

[2021-10-08 14:06] #3578 closed

[2021-10-09 02:20] A2be opened #3586 "Janky "Asset amount and value over time" graph"
## Problem Definition

In v1.21.1, the `Asset amount and value over time` graph has gone weird.

Instead of graphically displaying a constant `amount in asset` on the y-axis between two points where one infrequently starts up Rotki, the graph is now showing a very confusing set of lines up to that value and back to zero.  Graph is now nearly unusable.

The `Asset value in (selected currency)` is d

[2021-10-09 02:23] A2be commented on #3586
Example:
![Capture](https://user-images.githubusercontent.com/19943243/136640664-0c734d8c-91db-47bf-8467-f69ef64f8d31.jpg)

[2021-10-09 07:12] #3586 closed, assigned to nobody

[2021-10-09 21:37] LefterisJP commented on #3586
Nah no worries. The name of the issue was esoteric, pointing to the reason in the code that this happened instead of the effect the user would see. Hard to notice from the user point of view.

[2021-10-09 22:49] abxsantos commented on #3468
Can I work on this issue?

[2021-10-10 09:35] xtc0r commented on #1617
Is there a chance harvest.finance will be supported in 1.22.0?

[2021-10-10 09:36] xtc0r commented on #2187
Can I hope for this in 1.23.0? :)

[2021-10-10 10:03] yabirgb commented on #3468
Hello @abxsantos ! Of course, no one has taken it. If you need any help we have a dev channel in our discord server https://discord.com/invite/aGCxHG7

[2021-10-10 13:45] realkinando commented on #3563
I've just noticed that staked [OHM](https://www.coingecko.com/en/coins/olympus) (sOHM from OlympusDao) balances aren't showing.

Rotki already supports OHM iirc, however, given that 92% of OHM is locked in staking, being able to show rebasing staked OHM balances would be huge plus!

[Staked OHM](https://etherscan.io/token/0x04f2694c8fcee23e8fd0dfea1d4f5bb8c352111f) is convertible 1:1 with OHM, how

[2021-10-10 18:19] LefterisJP commented on #2187
no I don't think so. This is one of those really hard issues. We will see when we manage to find resources to tackle it.

[2021-10-10 18:30] LefterisJP opened #3590 "Adding new eth account after loading NFTs does not display new account's NFTs"
## Problem Definition

Seen in v1.21.1

Steps to reproduce:

1. Add 1 ETH account (via ENS - not sure it matters -- should not). Go check out its nfts.
2. Add another ETH account (via ENS - not sure it matters -- should not). Go check out its nfts. They are not there. Neither does the address appear in the filter.
3. Press refresh NFTs in the NFTs gallery, nothing happens.

Only way for this to wo

[2021-10-11 00:27] arosboro opened #3591 "Uphold has an issue with "Exchanged amount" vs "Received amount""
## Problem Definition

The CSV provides information to determine the fee and gives the received amount (which is the amount after the fee).

Rotki expects the exchanged amount, which is the amount before the fee was subtracted.  When the fee is entered into rotki, it applies it by reducing the base asset amount (action buy) accordingly.  With the current uphold implementation the received amount i

[2021-10-11 08:24] kelsos opened #3593 "Account balances asset sorting does not work"
## Problem Definition

Sorting by asset does not work in blockchain balances

## Tasks

- [ ] Temporarily disable price sorting until #issuenumber
- [ ] Make sorting to work based on asset symbol/ instead of identifier

[2021-10-11 08:45] kelsos opened #3594 "Refactor getters for dashboard/blockchain balances per asset to include price"
## Problem Definition

Sorting by price on dashboard/blockchain balances per asset is currently not possible.
The reason for this is that the price gets injected at the cell instead of being part of that dataset

## Tasks

- [ ] Refactor getters to make price part of the dataset

[2021-10-11 10:35] LefterisJP commented on #3590
Not sure about this issue. Made a backend test here: https://github.com/rotki/rotki/pull/3595 and it's not a backend issue. Retried the scenario above and could not reproduce it. Will close it for now as it either was a mis-report or something is missing from the report to reproduce.

[2021-10-11 10:35] #3590 closed, assigned to nobody

[2021-10-12 08:23] #1451 closed

[2021-10-12 21:46] LefterisJP opened #3602 "Kusama/polkadot balances no longer queried properly"
## Problem Definition

Seems like a substrate-interface problem.

Here is an exception from the logs

[code]

## Task

Fix it

[2021-10-13 05:15] bakkdoor opened #3603 "Profit and Loss Report Generation fails in latest version of rotki"
## Problem Definition

I am running into an error trying to generate a profit and loss report. It worked fine last week before I upgraded to the latest version.

I get this error message in the UI after it fails:

[code]

I also got this error twice in the notitications list at the top:

[code]

## Logs

I attached an excerpt from the `rotkehlchen.log` file below.

### System Description

Operatin

[2021-10-13 06:41] LefterisJP commented on #3603
Oh hey @bakkdoor this is not an issue in our side. This is an issue with the graph's hosted service. It can unfortunately happen. We retry a few times but then if they have

we can't do anything.

Most of the times this goes away as it's a problem with them. If this persists we will have to ask for assistance from them.

[2021-10-13 09:34] yabirgb commented on #3603
I've created an issue in the graph github repo and shared it in discord channel for compound and thegraph. A path for this was created in this PR #3605

https://github.com/graphprotocol/compound-v2-subgraph/issues/15

[2021-10-13 10:35] #3474 closed

[2021-10-13 10:38] yabirgb commented on #3563
Hello @realkinando I was going to add the stOHM contracts but seems that they are not token that one account can hold. For rotki to take into account this balances we would need to add at least a minimal support for OHM protocol.

[2021-10-13 17:32] moonbase8x8 opened #3608 "Adding percentage values to the charts shown under STATISTICS"
Adding percentage values to the charts shown under STATISTICS

Under STATISTICS, there are two i.e. charts.: (1) Value Distribution by Location and (2) Value Distribution by Asset

Is it possible to show percentage terms for these pie charts in addition to actual sums for the two pie charts? The percentage values of the assets already appear on the dashboard, it would be great to see them in a vis

[2021-10-13 20:11] LefterisJP commented on #3576
Should be fixed by #3597 and #3601

[2021-10-13 20:11] #3576 closed, assigned to nobody

[2021-10-13 20:12] #3580 closed

[2021-10-13 20:12] #3602 closed, assigned to nobody

[2021-10-14 12:38] LefterisJP commented on #3603
You did the absolutely correct thing Michael! We are gonna push a fix for this error hopefully in a new release today. Apologies for any inconvenience caused.

[2021-10-14 16:23] antonionardella opened #3613 "[Ledger Actions] Date field resets after manual input"
## Problem Definition

Got to Ledger Actions
Click on the ➕ sign to add a new transaction
Type the date and time manually in the `Date` field e.g.:
`24/12/2017 13:12:00`
At this point press `Enter` or `Tab` on the Keyboard
The date/time is reset to
`24/12/2017 13:12`
Making it impossible to save without retyping the `seconds` in the `Date` field

See video here:
https://youtu.be/81x5seNfeOI

Same

[2021-10-15 08:25] LefterisJP opened #3614 "Add automatic check during packaging (or bumping??) for unmerged bugfixes"
## Abstract

It can happen that there may be unmerged bugfixes from the bugfixes branch if merging develop to make a release. It should e trivial to automatically detect if this happens and warn us.

## Task

Do it.

[2021-10-15 11:06] #3579 closed, assigned to kelsos

[2021-10-15 11:37] #3613 closed, assigned to nobody

[2021-10-16 04:35] antonionardella commented on #1146
On a note, there is the [Bitpanda](https://bitpanda.com) and [Bitpanda Pro](https://exchange.bitpanda.com) exchange.
One is a broker, the other an exchange.

It would be great to enable both in Rotki and also to be able to read the transactions between the two platforms when one send funds from one platform to the other

I can also spare some API key for both platforms

[2021-10-16 10:45] LefterisJP opened #3617 "Support zksync lite balances"
## Abstract

Support showing zksync balances

[2021-10-16 10:45] LefterisJP opened #3618 "Support showing zksync lite history"
## Abstract

Support showing zksync transaction history

[2021-10-16 11:48] LefterisJP commented on #3543
An accountant already has all of the information they need. An order can be broken down into multiple trades that get executed over a period of weeks. Not having the individual trades is actually a bug as price can vary greatly in the in-between and that can affect cost basis calculation.

If an accountant wants to sum trades all they need is in the spreadsheet already. More data is good. Less dat

[2021-10-16 12:48] A2be commented on #3543
Depends on the "user".  For the accountant, and tax accounting, you are correct.

But for the Rotki end user (me,, for example) who used some USD to buy some ETH a few days ago, I don't give a rip about all that detail once I've skimmed it.  Just want the dollars out, the ETH in, and the average price I actually achieved after I made that single unitary choice to execute a market trade.

[2021-10-16 14:46] LefterisJP commented on #3543
Yes this features make sense mostly as a "nice to have" for the UI. There I can see a point.

[2021-10-17 09:55] yabirgb opened #3619 "Binance fiat payment can also return cryptoCurrency payments :man_facepalming:"
## Problem Definition

When processing payments in binance we look for key `cryptoCurrency` and the response has `fiatCurrency` as key

## Logs

With sensitive information removed

[code]

### System Description

Operating system:
Rotki version:

[2021-10-17 16:23] #3619 closed

[2021-10-19 06:56] #1513 closed

[2021-10-19 15:11] antonionardella opened #3624 "Rotki hangs when changing name of an API key"
## Problem Definition

- Add an API key for an exchange e.g. Bitstamp and save
![image](https://user-images.githubusercontent.com/7383572/137938231-a113507a-82bb-439f-8d0c-55ea18ac440e.png)
- Delete the API key for Bitstamp
- Again add the API key for Bitstamp. Rotki will name it **Bitstamp 1** and save
- Edit the API key for the exchange and rename it to **Bistamp** removing the number **1**
- Ro

[2021-10-19 18:34] kelsos opened #3627 "It is easy to miss the premium warning on tables when it is in the last row."
## Problem Definition

It is easy to miss the premium warning on tables when it is in the last row.

## Task

- [ ] Identify which tables have the limit functionality and move the upgrade row to the top instead of the bottom

[2021-10-20 04:54] kelsos commented on #3627
Hello @Qiwen-Yu yes you can.

The component itself is called UpgradeRow, it should be in various places in a `#body.append` slot.

You just have to change `#body.append` to `#body.prepend` wherever the upgrade-row is used.

Also since this goes to bugfixes the PR should be against bugfixes instead of develop

[2021-10-20 09:00] LefterisJP commented on #3624
Should be fixed by https://github.com/rotki/rotki/pull/3628

[2021-10-20 09:00] #3624 closed

[2021-10-20 09:18] kelsos commented on #3624
I updated the comment. I had seen the clause wrong sorry. Early morning.

[2021-10-20 16:50] LefterisJP opened #3629 "Kraken api rate limiting can lead to infinite loop"
It seems at some point our kraken retry logic lost stopped decreasing the tries counter

[2021-10-20 19:35] #3594 closed

[2021-10-20 20:57] LefterisJP opened #3630 "Unable to load details of liabilities in DeFi for premium"
## Problem Definition

Happens with rotki v1.21.2.

This exception pops up in the frontend.

[code]

Also compound events fail to be loaded. Due to the compound error. But that should not kill all queries.

## Task

Figure it out and fix.

[2021-10-20 21:37] LefterisJP commented on #3630
Should be fixed by https://github.com/rotki/rotki/pull/3631

[2021-10-20 21:37] #3630 closed

[2021-10-21 07:22] mruepp opened #3633 "Again errors quering kusama/polkadot blockchain addresses"
## Problem Definition

Error at querying blockchain balances: Kusama request failed after trying the following nodes: parity, onfinality

## Logs

ERROR rotkehlchen.chain.substrate.manager Greenlet-1: Kusama could not connect to node at endpoint: https://kusama.elara.patract.io. Connection error: HTTPSConnectionPool(host='kusama.elara.patract.io', port=443): Max retries exceeded with url: / (Cause

[2021-10-21 07:36] LefterisJP commented on #3633
Hey @mruepp this can happen. The nodes we use can timeout. If you try again later it should work fine. I just tried here and it works. To be absolutely certain you can also just add your own kusama node.

[2021-10-21 07:36] #3633 closed

[2021-10-21 17:36] LefterisJP opened #3635 "Implement CEX trade query recovery mechanism for all exchanges."
## Abstract

In https://github.com/rotki/rotki/pull/3634 a mechanism to recover from rate limiting for trades in a CEX is introduced but utilized properly only in kraken.

## Task

Implement the same for all other exchanges.

[2021-10-21 20:54] LefterisJP commented on #3629
Fixed by https://github.com/rotki/rotki/pull/3634

[2021-10-21 20:54] #3629 closed, assigned to LefterisJP

[2021-10-21 21:14] merc-0 opened #3636 "Unsupported asset GEL"
## Problem Definition

Error notification concerning GEL

## Logs

[code]

### System Description

Operating system:  macos
Rotki version: 1.21.2

[2021-10-21 21:18] LefterisJP commented on #3636
Thank you @merc-0 will put this for next release. In case you were not aware of you can also add assets on your own for your local instance of rotki: https://rotki.readthedocs.io/en/latest/usage_guide.html#adding-editing-an-asset

[2021-10-22 09:15] glazec opened #3637 "Show Percent in Statistics Pie Chart"
## Abstract
Hi, I am a Rotki pro user and I contribute to Rotki in Gitcoin. I enjoy Rotki a lot and have a feature request to make Rotki better. In the Statistics tabs, we have a pie chart. When the mouse hovers on part of the pie chart, the absolute value is shown. Is it possible to show the percentage?
![image](https://user-images.githubusercontent.com/22890026/138428065-3ae5fcbf-64e6-4b8c-9598-

[2021-10-22 09:28] #3637 closed, assigned to nobody

[2021-10-22 14:00] yabirgb opened #3638 "Uniswap V3 is missing trades to ETH"
## Problem Definition

Uniswap V3 subgraph doesn't recognize trades from XXX -> ETH like https://etherscan.io/tx/0x1a4f28d3f661e5f1a64b37820867c65102f2be57dae206e4272226e87bf8d8b7

The reason in that we filter by the `recipient` field in the subgraph but this one doesn't seem to store the right address in case like this one.

## Solution

Something similar happened with the `V2` subgraph. In this

[2021-10-22 16:35] bingen opened #3640 "Support for Liquity used with DSProxy"
## Abstract

DefiSaver uses DSProxy for their Liquity integration. Troves opened there don’t show up in Rotki.

## Motivation

There’s already support for Liquity and for DSProxy, so it would be cool to have this intersection too.

## Specification

Not sure how Rotki works internally, but wouldn’t it be nice that it checks for all DSProxies from all addresses, and treat them as if they were just

[2021-10-23 11:37] yabirgb opened #3641 "Frontend timeouts while trying to parse very big json response"
## Problem Definition

While trying to create the PnL report for a big number of events the frontend hangs and no output is produced

## How to reproduce

In the backend change https://github.com/rotki/rotki/blob/48589c7d79e8a464c9f44084bd6ce4a1a3d9730c/rotkehlchen/accounting/accountant.py#L466 to something like `'all_events': self.csvexporter.all_events*10000,` and request a full year of events (

[2021-10-23 18:59] yabirgb opened #3642 "Add FTX as price oracle"
## Abstract

FTX offers a public endpoint to query for current prices and historical prices. This source could be useful when coingecko and cc fail to offer prices

## Motivation

FTX has already a numerous number of markets and they public endpoints make easy to query for prices making it a very attractive option. Also people that use FTX would find more precise prices for their trades

## Specif

[2021-10-24 09:48] yabirgb opened #3643 "Currency name is not properly rendered at NFT section on small screens"
![image](https://user-images.githubusercontent.com/5068010/138588869-0e9c6a70-6050-494b-afd2-e4cb61f5c450.png)

[2021-10-24 13:32] Morwena0 opened #3644 "Support Roco Finance token"
**Asset name:**  Roco Finance
**Asset symbol:** ROCO
**Coingecko link:** https://www.coingecko.com/en/coins/roco-finance

[2021-10-24 13:42] Morwena0 opened #3645 "Support Staked Tokens"
## Abstract

Supporting tokens which are staked on its own contract for example xava on https://avalaunch.app/

## Motivation

These tokens are also in our portfolio, so tracking them is necessery.

[2021-10-24 18:57] #3645 closed, assigned to nobody

[2021-10-25 08:48] kelsos opened #3647 "Ignoring trades for accounting doesn't work properly"
## Problem Definition

Ignoring a trade in the `Closed Trades` table will fail with the action is already ignored error.

One cause for this is that the DEX trades are not properly tracked for ignored/unignored state in the frontend

## Tasks
- [x] Properly update state for ignored/unignored DEX Trades
- [x] Add clear selection action/tracking of selection

[2021-10-25 09:48] #3638 closed, assigned to nobody

[2021-10-25 18:52] kelsos opened #3651 "Update ignore action API response"
## Problem Definition

This issue regards the following endpoint `GET /api/(version)/actions/ignored`,
along with the ignore/unignore endpoints.

While the [documentation](https://rotki.readthedocs.io/en/latest/api.html#dealing-with-ignored-actions) specifies that some of the GET might include "_" in the keys, this is not what has been observed.

Instead, the endpoint uses the action type as a key

[2021-10-26 09:03] #3647 closed, assigned to nobody

[2021-10-26 09:16] #3643 closed, assigned to kelsos

[2021-10-26 11:37] kelsos opened #3653 "Implement backend paginations for trades and deposits/withdrawals"
## Problem Definition

To improve frontend performance we need to move the pagination/filtering/sorting for the trades along with the deposits withdrawals to the backend.

And then adjust the frontend to use the pagination (similar to how transactions work).

## Things to consider

### DEX Trades
At the moment the frontend will fetch both CEX trades and DEX trades then it will transform the DEX tr

[2021-10-26 20:01] isidorosp opened #3656 "Support BOTTO token"
**Asset name:** Botto
**Asset symbol:** BOTTO
**Coingecko link:** https://www.coingecko.com/en/coins/botto
**Cryptocompare link:** Please fill in - if available (either this or coingecko must exist)

[2021-10-27 18:45] NicolasMassart opened #3661 "Managed price not taken into account for manually added NFT assets"
## Problem Definition

I manually added an nft type asset in Rotki. Then as this asset has no price info, I added a managed price for the asset value in $.

I added a new externally held item for this nft using this asset in manual balances and set its amount to 1 but the value is still $0.

When I set the asset of this item to any non manually added asset as USD and set an amount, the value is co

[2021-10-29 08:51] #3640 closed, assigned to nobody

[2021-10-31 21:24] LefterisJP opened #3664 "Binance.US seems to not support fiat payments endpoint"
## Problem Definition

A Binance.us user sees this error

[code]

## Task

That probably means that binance.us does not support this endpoint. We should take this into account

[2021-11-01 09:06] yabirgb commented on #3004
@kelsos Can we schedule it for the frontend?

[2021-11-01 10:14] yabirgb opened #3666 "Form for editing ethereum tokens shows incomplete information"
## Problem Definition

If you click in one ethereum token in the dashboard and then on edit the page that opens is missing the address. Clicking in the pencil from the `Manage assets` list shows the form correctly

![image](https://user-images.githubusercontent.com/5068010/139656347-8dab3d67-75b5-4220-92da-8ad671582e3b.png)

[2021-11-02 19:24] Cebrain opened #3667 "Error when uploading Asset Icon from Rotki Windows App into Docker"
## Problem Definition
I use rotki with docker on latest version and i connect to this instance with my windows installation.

When i try to upload an icon to a self created asset i get an error on my windows maschine.
When i upload it directly in the docker instance (over web browser) it works fine.

Getting error status code 400

### System Description

Operating system: Windows 10
Rotki version:

[2021-11-02 20:35] Cebrain commented on #3563
Hi,
have an request for some tokens

ETH
Metis Token
https://coinmarketcap.com/currencies/metisdao/
https://www.coingecko.com/en/coins/metis-token
0x9E32b13ce7f2E80A01932B42553652E053D6ed8e

StarLink
https://coinmarketcap.com/currencies/star-link/
https://www.coingecko.com/en/coins/starlink
0x8e6cd950ad6ba651f6dd608dc70e5886b1aa6b24

Tokemak
https://coinmarketcap.com/currencies/tokemak/
https://ww

[2021-11-02 20:38] Cebrain opened #3668 "Add Support for Exchange Gate.IO"
Would be great to get Gate.io as additional exchange.
https://www.gate.io/

[2021-11-02 20:44] yabirgb commented on #3563
Hello @Cebrain ! Thanks for the detailed list. Will add them for the next release :)

[2021-11-02 22:10] yabirgb commented on #3667
Hello @Cebrain! Do you mean that you have the rotki backend running in a docker container and then you try to upload the asset from the app client running in a windows machine?

[2021-11-02 22:12] Cebrain commented on #3667
Hi @yabirgb
exactly this. I run the docker instance on my server and access the backend most of the time from my windows maschine with Rotki Client.
A Upload with the client is not possible, but if i use the front end from the docker instance the upload works fine.

[2021-11-02 22:22] yabirgb commented on #3667
Okey thanks for confirming. Tomorrow I'll replicate your setup to reproduce the issue

[2021-11-02 22:36] yabirgb opened #3669 "Create a exportable list of manually added assets"
## Request

Create a exportable list of the assets that were manually added to the globaldb

## Use case

With this feature it would be also possible to fast find the tokens and to recheck everything is still correct (maybe after migrates or other changes of the token)

## Implementation details

A new endpoint should be created so the frontend can query this list and a new csv file could be creat

[2021-11-03 09:27] LefterisJP commented on #3664
Should be fixed by #3665

[2021-11-03 09:27] #3664 closed

[2021-11-04 05:55] yabirgb commented on #3667
The request fails because the app is trying to get the image from a place that is not reacheable

[code]

![image](https://user-images.githubusercontent.com/5068010/140264911-8de884e0-3ae4-410c-a449-da8cc785ba0e.png)

[2021-11-04 08:50] kelsos commented on #3667
I think I know what the issue is. The way the application works at the moment this is treated wrongly as a packaged app and it just passes the file instead of uploading.

I need to see if there is an easy way to distinguish between app and app with a remote connection.

[2021-11-04 08:53] yabirgb commented on #3667
Is not possible detecting the backend being use?

[2021-11-04 09:01] kelsos commented on #3667
I probably need to keep track of when the backend process is started or not.

If I am not mistaken I start and stop it depending on the settings.

[2021-11-04 11:32] yabirgb commented on #2701
One question about the `multiasset_collector`. Should we by default add every token in the database to this table or just use for that ones that we know are present in different chains?

I see it better to add it for every token but it would be nice to agree in a good identifier for it. I see symbol good but does it have any cons that I'm not thinking in?

[2021-11-04 12:23] kelsos commented on #3004
@yabirgb we discussed it on the call but was the backend already done?

[2021-11-04 13:08] yabirgb commented on #3004
Needs one weekend more to finish details + a review. I can write the response format in the api docs tonight. But set it as low priority as there are other things more urgent

[2021-11-04 13:09] kelsos opened #3674 "Find if there is a way to proxy the websocket connection through flask."
## Abstract

On docker when Nginx is available the `ws` is proxied through Nginx to the backend via a `host:port/ws` scheme.

In the application itself, the frontend starts the backend and web socket and specifies the ports, thus the frontend is aware of which localhost port the web socket listens to, to connect.

The problem is that this detection is hardcoded, not dynamic and thus it has a few c

[2021-11-04 13:26] kelsos commented on #3004
Yes, better move it to the next major instead.

[2021-11-04 13:39] yabirgb commented on #3667
Fixed by #3675

[2021-11-04 13:39] #3667 closed

[2021-11-04 15:47] LefterisJP commented on #2701
I don't see any reason to add every token in the database here. Why would we duplicate so much data?

It's very easy to see if any token has other tokens in other chains by querying this table and seeing if `child_asset_id` matches anything.

Or am I missing something?

[2021-11-04 16:39] LefterisJP opened #3676 "Fix NFT floor price retrieval from opensea"
## Problem Definition

Automatic floor price retrieval from opensea API has stopped functioning in rotki

The culprit? Their inability to maintain a professional API versioning scheme.

https://twitter.com/apiopensea/status/1455918328397144069

## Task

Use the new api for floor price

[2021-11-04 23:16] LefterisJP commented on #3676
Should be handled by https://github.com/rotki/rotki/pull/3677

[2021-11-04 23:16] #3676 closed

[2021-11-05 08:51] faraggi commented on #2394
Anybody actively working on this?

[2021-11-05 08:56] LefterisJP commented on #2394
no this is not worked on at the moment

[2021-11-06 09:28] phenomax commented on #2394
+1

[2021-11-06 09:57] faraggi commented on #2394
In that case I might take it on- it'll might help me better understand the solana technicals.
I'll update this to confirm starting work, and further updates.

[2021-11-06 10:00] yabirgb commented on #2394
Thanks for taking this. Here you have the PR introducing support for avalanche. Since solana is not evm compatible afaik details might be different but at least you get an idea of what changes where needed and what code was introduced in case it can be useful.

https://github.com/rotki/rotki/pull/3242

[2021-11-06 11:07] IanMichaelHarper opened #3681 "Add support for exchange HitBTC"
## Abstract

Allow trades from hitbtc.com to be processed and added to the coin tracking / tax calculation

## Motivation

The only reason I haven't used Rotki is because I have a handful of trades from HitBTC that are needed in order to properly track all my funds. If Rotki added support for it, I would probably start using it.

I might try add support for HitBTC myself, but I have been maintaini

[2021-11-06 15:28] mruepp opened #3682 "Dotsama Blockchain Balance query fails on most occasions"
## Problem Definition

Anytime this happens with on chain dot and ksm accounts. It is not usable. It prob. works one in 20 times I start the app.

This is clearly a bug in my opinion and as I paying user I would wish you would fix it. It does not happen with Ethereum queries so much.

Querying blockchain balances
Error at querying blockchain balances: Kusama request failed after trying the followi

[2021-11-06 16:59] LefterisJP commented on #3682
Hello @mruepp you are welcome to run your own kusama or polkadot endpoints. Then you can connect to them from rotki as we allow the addition of custom endpoints for both those chains.

It's not within our power to make any external endpoint stables. This depends on whoever runs them. We can only try to add more as backups if we can find any. We will try to see if we can add some more polkadot and

[2021-11-06 17:14] mruepp commented on #3682
You can do round robin over different endpoints. I don´t see this as a user provided setting if you deliver a desktop app (payed subscription) to cover this as a user the choose lookup endpoints. Also if you want to provide this as a company you should be responsible for selecting working chain query services or maybe adjust timeout prefs or whatever. I think this would be a payed subscription dea

[2021-11-06 21:16] LefterisJP commented on #3682
Hey @mruepp thank you for the feedback.

This is what is already being done. And you can specify an endpoint from the settings if you use your own node or have a special node you want to connect to.

![2021-11-06_22-01](https://user-images.githubusercontent.com/1658405/140623685-1fc5cd26-244d-478d-ba90-a4793aa275cb.png)

We use the same exact endpoints the official polkadot kusama/app uses: https:

[2021-11-06 21:27] LefterisJP opened #3683 "Adding wrong type of blockchain address grays out "Save button""
## Problem Definition

Adding the wrong type of blockchain address grays out the save button. Which is fine, but then when trying to change the type to the correct blockchain address type the button is not enabled again. Instead it only gets enabled if you try to change the address itself.

Demo showing the problem:

https://user-images.githubusercontent.com/1658405/140624288-80d7e0e7-fd45-40ed-93

[2021-11-06 21:44] LefterisJP commented on #2483
Backend part done by https://github.com/rotki/rotki/pull/3680

Now need frontend + changelog. So assigning to @kelsos

[2021-11-07 11:35] niklaswa opened #3685 "Crypto.com CSV import: unknown entry types"
## Abstract

When I tried out the application for the first time today, I noticed that there are several entry types which are not yet supported within the Crypto.com CSV import.

## Motivation

As these entry types have effect to the calculation of the profit/loss report, these entries should be taken into account.

## Specification

The following entry types weren't recognised when I imported my

[2021-11-07 11:39] LefterisJP commented on #3685
Hey @niklaswa thank you so much for actually including examples of new entry types we don't yet support.

The problem with supporting CSV from external sources is that services like crypto.com constantly change their CSV format. Thanks for your information though this will help us implement and test these new entries.

Thank you so much for the detailed report.

[2021-11-07 21:02] LefterisJP opened #3686 "Add support for ENS airdrop"
## Abstract

The ENS airdrop starts tomorrow. We should add support/detection for it in our upcoming release.

https://twitter.com/LefterisJP/status/1457445408981061639

## Task

Use the json file there but post-process it. Create a new file with:
1. Checksummed addresses
2. full balances (past + future) tokens. So simply add them.
3. Remove all other info to save size.

Then add it to our airdrop

[2021-11-08 05:54] vasiliyx opened #3687 "API Binance History Trades Problem - failed with HTTP status code: 418 due to a too long retry after value (960 > 60)"
## Problem Definition

Not able to retrieve History of Trades for Binance and not able to get a Profit and Loss report.

Failed query for Binance: Error: binance API request https://api.binance.com/api/v3/myTrades?symbol=BTSETH&fromId=0&limit=1000&recvWindow=10000&timestamp=1636........................................  for myTrades failed with HTTP status code: 418 due to a too long retry after va

[2021-11-08 08:28] LefterisJP commented on #3687
Hello @vasiliyx this is because you are getting rate limited by binance. Binance is the worst api in existence and does not allow a way to query all your trades. The api can only iterate through all existing markets which are A LOT. And this ends up in rate limiting.

The only way to make binance work is to explicitly specify the markets you used: https://rotki.readthedocs.io/en/latest/usage_guide

[2021-11-08 08:35] vasiliyx commented on #3687
Thanks for a prompt response! I did experience difficulties retrieving anything informative even through the Binance website...

[2021-11-08 08:35] #3687 closed

[2021-11-08 08:36] LefterisJP commented on #3687
My pleasure! We also have a discord server where you may also get more interactive help: https://discord.com/invite/aGCxHG7

Note: It has a captcha

[2021-11-08 20:47] tweverett opened #3689 "No documented acquisition found..."
When I generate a profit and loss report, I get 191 'No documented acquisition found...' alerts. I'm not sure if this is a bug or if I'm doing something wrong. I only use one exchange, Coinbase Pro, and have 7 API connections, one for each of my 7 Coinbase Pro portfolios. If anyone can point me to a way to fix this, I'd appreciate it.

I'm a new user. I've tried clearing cache, reseting the databa

[2021-11-08 21:14] LefterisJP commented on #3689
Hello Todd. We have an entry in the usage guide exactly for this: https://rotki.readthedocs.io/en/latest/usage_guide.html#no-documented-acquisition-found

Read that and then if you have more questions feel free to pop by our discord: https://discord.com/invite/aGCxHG7
(Note that there is a captcha challenge to enter).

The TL;DR on the error is that rotki can't figure out where something you got w

[2021-11-08 21:14] #3689 closed

[2021-11-08 22:07] phenomax commented on #2886
+1

[2021-11-08 22:15] LefterisJP commented on #2886
So @yabirgb can you either close this or describe this further?

[2021-11-09 14:09] kelsos opened #3692 "Allow deletion of multiple database backups with a single call"
## Abstract

Allow the passing of an array of paths for the database backup deletion.

## Motivation

Add multi-select to the frontend

[2021-11-10 10:07] yabirgb opened #3694 "Support OlympusDAO protocol"
## Abstract

Add support for the olympus dao protocol

## Motivation

It's a project that has gained relevance in the ecosystem and seems to be very popular

## Specification

https://www.olympusdao.finance/

[2021-11-10 15:40] #3686 closed

[2021-11-10 15:50] #3683 closed

[2021-11-10 16:08] #3666 closed

[2021-11-10 19:29] #2483 closed

[2021-11-10 20:52] #3235 closed

[2021-11-10 20:52] LefterisJP commented on #2408
Closing this too as part of #2768 and #3673

[2021-11-10 20:52] #2408 closed

[2021-11-10 20:53] LefterisJP commented on #2768
This is also closed thanks to #3673 and #3679

[2021-11-10 20:53] #2768 closed

[2021-11-10 20:54] LefterisJP commented on #3682
Closing this as there is nothing to do on our side. After testing multiple days I see no problem with the nodes we connect to. From the logs it seems as if it's a connection problem on the user's side.

[2021-11-10 20:54] #3682 closed

[2021-11-11 10:57] kelsos opened #3697 "Make the graphs adjust with privacy mode activated"
## Problem Definition

Make sure that the amounts are hidden in privacy mode, randomized when scramble is activated.

[2021-11-11 11:49] #1146 closed

[2021-11-11 12:12] yabirgb opened #3698 "Add Frax Finance support"
Add support for the frax finance protocol

https://docs.frax.finance/overview

[2021-11-11 16:18] scriptless commented on #2394
Premium user here. I would very much appreciate this being implemented soon, thanks!

[2021-11-11 18:51] magicdude4eva commented on #1146
Thanks @LefterisJP  for the great work - truly amazing working with you and making this happen. Can't wait to see this feature :-)

[2021-11-11 19:02] LefterisJP commented on #1146
We will probably need a new issue for Bitpanda PRO as it's a different exchange!

[2021-11-11 20:58] joshuavial commented on #1477
I've had a look through https://www.trufflesuite.com/docs/truffle/codec/modules/_truffle_codec.html and https://docs.etherscan.io/api-endpoints/contracts#get-contract-abi-for-verified-contract-source-codes and it makes me think about a subset of this feature which makes the ethereum history human readable

### backend
1. call etherscan api to get the abi for a contract if known
2. make a stand alo

[2021-11-11 21:04] LefterisJP commented on #1477
Hey @joshuavial there is no need to mix node with the backend. The backend is all in python.

As for your description, yes this is exactly what this ticket is for. But we don't do it with truffle's codec but in python and in a best effort approach over all transactions we find trying to classify them in a human readable way (or not if we can't).

And this will evolve over time with the classifier

[2021-11-11 21:11] joshuavial commented on #1477
Copy that - the eth-abi library I found at https://eth-abi.readthedocs.io/en/latest/eth_abi.html#module-eth_abi.decoding looked like it had a lot less features than ethers or truffle but I get that you want to keep your backend in one language.

[2021-11-11 21:26] LefterisJP commented on #3644
@yabirgb I dont' see this in the assets for v1.22.

`sqlite> SELECT * from assets where symbol="ROCO";`

Please add it and close this issue.

[2021-11-11 21:27] LefterisJP commented on #3636
@yabirgb This is not in the supported assets in v1.22.

`sqlite> SELECT * from ethereum_tokens WHERE address="0x15b7c0c907e4C6b9AdaAaabC300C08991D6CEA05";`

 Please add it and then close this issue:

[2021-11-11 21:28] LefterisJP commented on #3656
This seems to be there in the DB to be release with v1.22.0 so closing it.

[2021-11-11 21:28] #3656 closed

[2021-11-11 21:35] LefterisJP commented on #3563
I spent some time double checking them. All seem to be included. One discpepancy only.

@yabirgb you need to fix METIS token. The symbol is lowercase "Metis" there.

[2021-11-11 22:49] LefterisJP commented on #2877
Hey @yabirgb since you made this issue can you pick it up and do it? A link to the release notes should be trivial and let's just have it done. I hate having so many small issues open and move them milestone from milestone.

[2021-11-11 23:33] Swader opened #3702 "Fails to load RMRK balance from Kucoin"
## Problem Definition

Adding a Kucoin account will fail to load one's RMRK balance with the following error:

![image](https://user-images.githubusercontent.com/1430603/141383731-55e071f7-b78f-4b42-ad0c-86c3ff50a006.png)

[2021-11-11 23:54] Swader opened #3703 "Add other Substrate networks alongside Kusama and Polkadot"
## Abstract

Substrate is the framework on which Kusama, Polkadot, and many of their connected chains (parachains) are built. They all share the same access points, metadata, RPC endpoints. This makes it technically easy to read balances of tokens across Substrate-based chains.

## Motivation

A user with ~20 accounts on Kusama would have to manually add 20 accounts on Shiden once Shiden is added,

[2021-11-12 00:09] LefterisJP commented on #3702
Thanks for the issue @Swader. (Wasn't your username bitfalls?).

It's since we don't support RMRK yet and it's not mapped properly to kucoin.

So @yabirgb let's include that in the upcoming release too.

1. Add support for https://www.coingecko.com/en/coins/rmrk
2. Map it properly in Kucoin

[2021-11-12 00:11] LefterisJP commented on #3703
Thanks for the issue @Swader. We will see when we can pick it up. It makes sense as a request naturally!

If you know of anyone or any team that could help us here it would be really appreciated.

[2021-11-12 00:16] Swader commented on #3702
bitfalls on twitter, swader everywhere else :)

[2021-11-12 00:18] Swader commented on #3703
I'll look into finding someone 👍

[2021-11-12 00:33] gnidan commented on #1477
I knew we should've written @truffle/codec in Rust 😭

[2021-11-12 11:14] #3636 closed

[2021-11-12 11:14] #3644 closed

[2021-11-12 16:11] yabirgb opened #3708 "Support Kraken insta trades"
## Abstract

Kraken offers the possibility to make instant transactions. Those are not currently tracked by rotki

## Specification

There is not specific endpoint in the kraken api for this but can be obtained in the ledger endpoint.
Example

[code]

[2021-11-12 22:30] LefterisJP commented on #2769
Hmmm @kelsos isn't this a non-issue anymore?

This is what we are doing.

I don't remember exactly what I meant when I made the issue, but I assume this is what I meant and since we do that I will close it. Let me know if I am missing something obvious.

[2021-11-12 22:30] #2769 closed

[2021-11-12 22:31] LefterisJP commented on #2044
Would love if someone made this

[2021-11-12 23:20] twooten1105 opened #3711 "Importing Data from Cointracking.info to Rotki"
## Problem Definition

I am trying to transfer all my trading data from cointracking.info to rotki.

On rotki, it says to import the data from cointracking's CSV export. But on cointracking.info's site, I do not see an option to export
the data into a .CSV file. I only see html, xml, and JSON.

Any help would be appreciated!

[2021-11-12 23:33] step21 commented on #2044
I started from scratch on this. (after a long break) But no estimate yet. Maybe I’ll do an early WIP PR next week and then this can keep me on track. (Assuming no conflicting commitments)

[2021-11-12 23:55] LefterisJP commented on #3711
Hey @twooten1105 thanks a lot for using rotki!

It seems like cointracking has removed the CSV export from their service. There is nothing easy we can do to fix your issue fast. What I would suggest is:

1. You should try to contact them and ask for support to re-enable it. There is no reason for them to remove it other than make it harder for people like you to leave their platform.
2. Take their

[2021-11-13 00:07] LefterisJP commented on #2815
Isn't this implemented @yabirgb ? I am not sure I follow or remember what this was about.

[2021-11-13 01:32] twooten1105 commented on #3711
Thanks for the info!

I was trying to figure out what end the issue was coming from.

Looks like it is coming from cointracking's end. I will contact them.

Thanks again for the quick reply

[2021-11-13 01:39] twooten1105 commented on #3711
Wait nevermind.

There is a way to export to CSV on cointracking.

No need to do anything on your end. Thanks again!

[2021-11-13 01:39] #3711 closed

[2021-11-13 08:43] afrosamuraiy commented on #1146
Yes. The exchange is actually the more important one.

[2021-11-13 09:09] LefterisJP commented on #1146
Please open an issue for it then :)

[2021-11-13 10:40] scriptless commented on #825
Any updates?

[2021-11-13 19:17] twooten1105 opened #3712 "Importing Cointracking.info CSV file"
## Problem Definition

I am having trouble importing cointracking's CSV file into rotki.

Every entry gives me this error: "Backend - Error during cointracking CSV import deserialization. Error was Failed to deserialize a timestamp from a null entry in cointracking.info. Ignoring entry."

Maybe cointracking has changed up the CSV fields and the timestamp field has been moved to a different spot?

[2021-11-14 10:52] yabirgb commented on #3712
Hello @twooten1105 The file that you provided is different from what rotki expects. The expected input should be as follow https://github.com/rotki/rotki/blob/develop/rotkehlchen/tests/data/nexo.csv I'm really not sure if nexo changed format or is the incorrect CSV. I'll ask other users in discord to check what it could be

[2021-11-14 11:20] LefterisJP opened #3714 "Going to the airdrops for some users fails with not enough values to unpack"
## Problem Definition

After v1.22.0 some users reported that going to the airdrops page fails with `The backend query task died unexpectedly: not enough values to unpack (expected at least 2, got 0)`

## Logs

Relevant part from the logs of a user

[code]

### System Description

Operating system: Mac
Rotki version: v1.22.0

[2021-11-14 12:08] kelsos commented on #2769
Yes, that is what we do. Maybe we meant something else, but since it is not clear anymore closing the issue seems reasonable.

[2021-11-14 12:14] kelsos commented on #2815
Probably it was about restarting the backend when restoring the assets via the UI which if I am not mistaken seems to be part of the first linked PR?

[2021-11-14 12:29] kelsos commented on #2815
I am closing the issue, since it is indeed implemented

[2021-11-14 12:29] #2815 closed

[2021-11-15 12:48] yabirgb opened #3716 "Add support for the paraswap airdrop"
More information at

https://medium.com/paraswap/introducing-the-psp-token-to-make-paraswap-even-more-efficient-and-decentralized-c4730e50be72

[2021-11-15 14:23] yabirgb commented on #3716
This seems to be the list of users https://raw.githubusercontent.com/paraswap/paraswap-rewards-snapshot/master/data/airdrop-users.json

[2021-11-15 16:12] sushilman opened #3717 "API - PUT on /api/1/trades with quote_asset USDT fails"
## Problem Definition

Trying to PUT a trade via API with the following payload fails with the response that USDT is unknown. The similar operation, i.e. adding an external trade, when done via the application works without issues. But fails via API. Is this a bug or am I missing something ? :)

Payload:
[code]

Curl command:
[code]

**Current behavior:**
Response:
400 BAD REQUEST
[code]

**Expect

[2021-11-15 16:15] LefterisJP commented on #3717
Hey @sushilman you are trying to add it with the symbol while the api accepts only the identifiers. So what you need is the USDT identifier. `_ceth_0xdAC17F958D2ee523a2206206994597C13D831ec7`.

You can find the identifiers from looking at the asset manager and pressing the edit of an asset. For ethereum tokens it's `_ceth_` + checksummed ethereum address

[2021-11-15 16:20] sushilman commented on #3717
Perfect. That makes sense !
I looked at all other properties but missed the key itself :facepalm:

Thanks for the super quick response !

[2021-11-15 16:20] #3717 closed

[2021-11-15 16:22] LefterisJP commented on #3717
My pleasure @sushilman!

For dev and or usage questions we also have a discord server where we are fairly active (in European timezones): https://discord.com/invite/aGCxHG7

It has a captcha verification system so make sure to have DMs open.

Feel free to hop in there!

[2021-11-15 22:17] LefterisJP commented on #3487
Narrator: It was more than a few.

But it's being worked on.

[2021-11-16 08:05] faraggi opened #3718 "Remember User checkbox doesn't work"
## Problem Definition

When opening rotki, user credentials are asked every time, even though `Remember User` is ticked.

## Logs

I can send logs if needed, but I'll have to go through them and purge all identifiers and such.

### System Description

Operating system: (K)ubuntu 20.04
Rotki version: 1.22.0
Platform: linux x64 5.11.0-40-generic
Electron: 14.0.0

[2021-11-16 08:06] yabirgb commented on #3718
Hello @faraggi ! Rotki doesn't save your password since is the key protecting the database. It will only remember the last username you used.

[2021-11-16 08:18] faraggi commented on #3718
pfff, i feel dumb now lol

[2021-11-16 08:18] #3718 closed

[2021-11-16 10:47] LefterisJP commented on #3716
Also @bantg made a CSV with the right format ready to be put into our [data repo](https://github.com/rotki)](https://github.com/rotki/data): https://gist.github.com/banteg/f3a1bdb73ec49689823d20e38387a696

Should be really easy for anyone to do this. The only work required is seen in the similar ens airdrop PR: https://github.com/rotki/rotki/pull/3690

That PR also contains unrelated changes (whic

[2021-11-16 14:09] yabirgb commented on #2886
The scope of the issue is to provide an abstraction for the methods in https://github.com/rotki/rotki/blob/develop/rotkehlchen/data/importer.py

They share some logic and was proposed by you to somehow abstract what is possible this behavior.
Maybe will be a good idea to close this issue since the logic could be better refactored when we introduce a syntax for custom imports by users

[2021-11-16 14:56] yabirgb commented on #3714
Should be fixed by #3715

[2021-11-16 14:56] #3714 closed

[2021-11-16 16:19] yabirgb opened #3722 "Expanding information for one trade makes all of them show more information"
## Problem Definition

Clicking on the arrow to display more information

![image](https://user-images.githubusercontent.com/5068010/142023481-3c78083f-8086-4c8b-ab68-648df802c269.png)

Makes all the items in that list to show the detailed information too. Also makes the app lag a bit.

### System Description

Operating system: Docker
Rotki version: 1.22

[2021-11-16 23:13] Aragar199 commented on #3716
@yabirgb I'd like to take a crack at this. Is there a deadline or just asap?

[2021-11-16 23:47] evilny0 opened #3724 "Manual liabilities in the dashboard count only one record for each asset"
In the dashboard manual liabilities section, there is one line for each asset, like in the assets section. That's what I expect since it's a summary.

What I did not expect: the amount displayed in each line is the amount of only one record per asset. I expect that line to display the sum of all liability records I entered in the manual balances, for this specific asset.

Records which are not cou

[2021-11-17 08:10] yabirgb commented on #3716
Hello @Aragar199! We want it for next release but it won't by before 1-2 weeks I believe. Just work on it as soon as you can :)

[2021-11-17 08:36] LefterisJP commented on #3724
Hello @evilny0. What do you mean? Each record's line should display its own line amount. That is normal. Can you maybe take a screenshot and explain what you see vs what you expect? You can use scrambling mode: https://rotki.readthedocs.io/en/latest/usage_guide.html#data-scrambling to make the data random.

What do you mean to ignore manual liabilities? They are subtracted from the net total value

[2021-11-17 08:37] LefterisJP commented on #3716
Also you will probably need to have the PSP asset added. But you can work on this assuming PSP is added and we can add it in another PR.

[2021-11-17 08:50] LefterisJP opened #3725 "Support saddle finance airdrop"
## Abstract

Seems saddle.finance is doing an airdrop. @banteg sent us this link: https://github.com/saddle-finance/saddle-retroactive-merkle-tree/blob/master/output/results.json

## Specification

Add it to the supported airdrops along with all the other ones.

[2021-11-17 09:39] yabirgb commented on #3712
Hello @twooten1105 ! Your CSV was failing to be read because the format for the dates is one that we don't expect. We will ship in 1.23 an option to customize this format for all CSV imports and should make your file work

[2021-11-17 09:47] yabirgb commented on #824
Working on this for 1.23

[2021-11-17 10:38] evilny0 commented on #3724
I installed rotki in a clean lxc container to take screenshots. Here is the manual liabilities list:

![image](https://user-images.githubusercontent.com/8269734/142183551-b8919fb9-273d-4f23-9a05-ca21d0b6c30d.png)

Here is the dashboard:

![image](https://user-images.githubusercontent.com/8269734/142183597-fbb19d49-3b12-486f-86b8-ec27e662db66.png)

See how the dashboard line for USDC is only 10.000

[2021-11-17 10:52] evilny0 opened #3726 "Manual liabilities are incorrectly counted in the net worth balance and in the history graph."
## Problem Definition

Manual liabilities are incorrect in the dashboard net worth balance, and in the net worth history graph. There are two issues:

Liabilities which are not displayed in the dashboard (see #3724) are ignored completely. In the screenshot below, the net worth should be 570k: 595k of BTC minus the two USDC liabilities, 25k. However, it displays 585k. It's subtracting the liabilit

[2021-11-17 11:37] LefterisJP commented on #3726
Hey @evilny0 I can confirm this. Found the reason and will fix. The snapshot does not take into accoun all liabilities of the same type of asset.

[2021-11-17 11:39] LefterisJP commented on #3724
I can reproduce after your explanation. We will fix this.

[2021-11-17 12:23] yabirgb commented on #824
@t-900-a A couple of questions that appearing making the implementation:

- The `Fee in BTC` and `Fee in BSQ` is because at some point you could choose the fee currency?
- Buyer deposit and seller deposit are the secuirty deposit right?
- In which currency is the transaction fee denominated?
- In the transaction with id `GxxL` have you modified it? Should be the amount in BTC around 0.18?
- And do

[2021-11-17 18:08] Aragar199 commented on #3716
Understood! Seems straightforward enough, you can assign it to me. I'm in the discord as well.

[2021-11-17 19:26] LefterisJP commented on #3726
Should be fixed by https://github.com/rotki/rotki/pull/3727.

Will go in 1.22.1

[2021-11-17 19:26] #3726 closed

[2021-11-17 20:12] lorisilva88 commented on #824
Thanks for taking care @yabirgb
I try to answer the questions:
The structure of the export is still the same as in the trade history examples from May.

Yepp, BSQ is incentivized, you can choose for every trade to use BTC or BSQ (https://bisq.wiki/Trading_BSQ#Why_buy_or_sell_BSQ.3F)

Yepp, they are not relevant from a Tax-Point-of-view after the trade is finished.

BTC

Yepp, we obfuscated the num

[2021-11-17 21:43] LefterisJP commented on #3724
This should also be fixed by https://github.com/rotki/rotki/pull/3728

Also will be in v1.22.1

[2021-11-17 21:43] #3724 closed

[2021-11-18 10:44] LefterisJP commented on #3722
Should be fixed by https://github.com/rotki/rotki/pull/3729

[2021-11-18 10:44] #3722 closed

[2021-11-18 22:29] javimurcia commented on #3702
I'm still getting this error:
Found unsupported kucoin asset RMRK while deserializing a balance. Ignoring it.

When i originally had that error, i manually created the asset, but the error still persists. And after getting the update and starting from scrath, the error still persist.

This is the current config for the asset
![image](https://user-images.githubusercontent.com/33467841/142506963-fd0

[2021-11-18 22:56] LefterisJP commented on #3702
Hey @javimurcia. You are correct. We added the asset in v1.22.0 but it was in the unsupported assets list for kucoin and it was not removed from that list. That's a mistake on our side.

We are about to release v1.22.1. I am gonna sneak the one line fix for that in there. Should be out by end of this week. Btw, at this point you should not need to add the asset manually as it should already be in

[2021-11-19 08:54] hamzzy commented on #3468
@abxsantos  are you still working on this issue.

[2021-11-19 11:08] #2865 closed

[2021-11-19 15:24] peedrr commented on #2323
I've just come across rotki and it seems to fill my multi-exchange, crypto-tracking needs, although one of the exchanges I need to track is Huobi.

I am a Python programmer with dev experience using exchange API's (I have contributed publicly to [Cryptofeed](https://github.com/bmoscon/cryptofeed) ) so if you would welcome a PR which provides Huobi integration, I would be happy to take a look.

[2021-11-19 15:31] yabirgb commented on #2323
Hello @peedrr It would be great a PR to add Huobi support :) If it helps as reference here you have a PR that lefteris made for bitpanda https://github.com/rotki/rotki/pull/3696 . Some details might be different but it can be useful to get an idea of what needs to be done. If you need any help or have any question don't hesitate to jump into our discord if you are already not there https://discord

[2021-11-19 15:50] peedrr commented on #2323
That's quite a coincidence - I forked the project and instantly started looking in /exchanges/bitpanda.py as it is another one I need! Very useful to have the whole PR as ref, thanks.

See you on discord

[2021-11-19 16:59] starise commented on #784
+1

[2021-11-19 22:00] LefterisJP commented on #3702
Should hopefully now be fixed by #3734 and included in v1.22.1

[2021-11-19 22:00] #3702 closed

[2021-11-19 22:46] kelsos opened #3738 "Create a proper tsconfig/eslint monorepo configuration"
## Problem Definition

Combine with `@typescript-eslint/naming-convention` and check the following for more information

https://typescript-eslint.io/docs/linting/monorepo

[2021-11-20 18:43] LefterisJP commented on #814
The author should specify what "better design" means because almost 2 years later there is nothing actionable and nobody can read someone else's mind, especially in the past.

[2021-11-20 18:43] #814 closed

[2021-11-20 19:19] Aragar199 commented on #849
Seems like a straightforward issue. I'd like to take this.

[2021-11-20 23:12] LefterisJP commented on #849
Hey @Aragar199 feel free to! It's one of those easy "todo later" notes that we made and never got to it :)
Will make the test code cleaner!

[2021-11-20 23:16] A2be opened #3740 "Add a user-controlled local-data field for "claimed" tokens"
## Abstract
In Rotki v1.22.1, Airdrops that Rotki finds are displayed, but no indication of whether the airdrop has been claimed or not is shown.  My understanding is that this is normal, and there will not be any Rotki software auto-detection of "claimed" tokens.

Still, would be helpful to the end user to be able to track which of their airdrops they've claimed, and which they have not.

Therefo

[2021-11-20 23:19] LefterisJP commented on #3740
Huh that's a nice idea @A2be. I like it.

The claimed tokens detection would be implementing this issue: https://github.com/rotki/rotki/issues/2000  (which is quite hard)

But until that is done (if it's ever possible in a perfect errors-free way) then your suggested approach sounds good and useful.

[2021-11-21 18:18] uvok commented on #1979
With Rotki v1.22.1, I connected to the Kraken Exchange with a fresh API key (all "query..." permissions). Under History > Trades, all trades appear. (Same trades as in Kraken web interface).

However, I did some margin trades, and Rotki seems to consider them as regular trades, leading to a wrong P&L calculation. (as mentioned by issue opener)

I know that margin trades are not supported yet (#198

[2021-11-22 07:15] LefterisJP commented on #1979
Hey @uvok. Margin trades should not appear under normal trades, but to be honest I can't say since I don't know what the kraken api returns for margin trades. Their docs don't help too much.

I would need to test with an api key that has done some margin trades. If you can share on such read only key that would help us.

[2021-11-22 09:57] #3716 closed

[2021-11-22 12:06] LefterisJP opened #3744 "New rotki accounts made from vXX and on may not have a DB version set if opened only once"
## Problem Definition

After some changes we stopped writing the DB version in the DB for fresh accounts in their first run. The second run will write the current version to the DB.

That's since we bail here:
https://github.com/rotki/rotki/blob/f58859e7ff9f59a59c2b12142b48754861da4867/rotkehlchen/db/upgrade_manager.py#L230

and not get to the end where the version is written here:
https://github.

[2021-11-22 12:58] bitboy99 opened #3745 "Mistake for IMX token (Immutable X)"
**Asset name:** Immutable X
**Asset symbol:** IMX
**Coingecko link:** [Please fill in - if available (either this or cryptocompare must exist)](https://www.coingecko.com/en/coins/immutable-x)

Hey, I have some IMX in my FTX portfolio but rotki identifies them as impermax and not Immutable X.
This might happens because there were a change in the token supply.
Anyway since it's now in the top 100 it

[2021-11-22 15:28] yabirgb commented on #3745
Hello @bitboy99! Thanks for letting us know, will be fixed in the next upgrade for the assets. Sorry for the inconvenience

[2021-11-22 17:19] uvok commented on #1979
I would rather not disclose the API key (or at least share it only privately), however, I tried to do some debugging myself.

When I call [rotkehlchen/exchanges/kraken.py, line 636, `self.query_until_finished`](https://github.com/rotki/rotki/blob/ecb603444c693c8bc864aa4dda116554c66aa6b1/rotkehlchen/exchanges/kraken.py#L636) myself with the full range, it appears there's a "margin" key.

[code]

Al

[2021-11-22 17:50] Aragar199 commented on #3669
@yabirgb Checking if I understand how this will be implemented:
* Add a new class to rotkehlchen/api/v1/resources.py like `ManuallyAddedAssetResource`
* Add the endpoint with the v1 urls in rotkehlchen/api/server.py

[2021-11-22 17:56] Aragar199 commented on #3725
@LefterisJP Is there an existing script to parse the json linked in the description before adding it to the data repo?

[2021-11-22 19:46] LefterisJP commented on #3725
Hey @Aragar199, no you would have to write one for it. It should be trivial. As you saw from the PSP airdrop, the only thing we need is the amount in token, and the address. The tricky thing is the address needs to be checksummed. I think from looking at the json, it already is.

But just to be sure you can also pass it from the `to_checksum_address()`function.

[code]

So each entry seems to be l

[2021-11-22 20:32] Aragar199 commented on #3725
Yes, it should be trivial. Thanks for clarifying.

[2021-11-22 20:55] #3563 closed

[2021-11-22 20:58] LefterisJP opened #3747 "assets for 1.23"
Support Osmosis

**Asset name:** Osmosis
**Asset symbol:** OSMO
**Coingecko link:** https://www.coingecko.com/en/coins/osmosis
**Cryptocompare link:**  - ?

[2021-11-23 08:27] LefterisJP commented on #3747
Add support for BOBA network and map it in the various exchanges.

Apparently it's a new L2 token airdropped to holders of OMG. Even in an exchange.

![2021-11-23_09-23](https://user-images.githubusercontent.com/1658405/142991025-d04258ee-90e0-4cee-97e8-40c97994f96b.png)
![2021-11-23_09-23_1](https://user-images.githubusercontent.com/1658405/142991029-11cde4b4-788a-4db6-a0e1-4263bff1d8c3.png)

**C

[2021-11-23 09:45] LefterisJP commented on #3744
So the commit this was introduced seem to be this: https://github.com/rotki/rotki/commit/f9bcf78d56c16e292a787dee9fc2398a5e53a521 by your truly. Fixed one big problem, introduce a smaller bug :sweat:

The DB version at the time that code was written is v29: https://github.com/rotki/rotki/blob/f9bcf78d56c16e292a787dee9fc2398a5e53a521/rotkehlchen/db/settings.py#L18

So version upgrades that may have

[2021-11-23 10:19] #3738 closed

[2021-11-23 10:31] #824 closed

[2021-11-23 10:31] #3685 closed

[2021-11-23 11:22] LefterisJP commented on #3744
Closed by https://github.com/rotki/rotki/pull/3748

[2021-11-23 11:22] #3744 closed

[2021-11-23 11:53] yabirgb opened #3749 "Query range for exchange only takes into account location"
## Problem Definition

When querying new trades for exchanges only takes into account the location and ignores if there are multiple exchanges for the same location. This happens at https://github.com/rotki/rotki/blob/ecb603444c693c8bc864aa4dda116554c66aa6b1/rotkehlchen/exchanges/exchange.py#L258

[2021-11-23 12:05] yabirgb commented on #3669
Hello! Yes those are the steps that you need to follow. The resource should call a function in `rest.py` that should make the needed calls.

I believe the most useful thing would be to generate a `.csv` with all the fields for the assets. You can convert the asset to dict and then the list of dicts saved as CSV.

As per to save the information in CSV files we do so in other places like this https:

[2021-11-23 12:31] yabirgb opened #3750 "Add support for panacackeswap"
## Abstract

Pancakeswap is a popular platform similar to uniswap. https://pancakeswap.finance/ Once BNC chain is supported this exchange should be added

[2021-11-23 14:55] #3549 closed

[2021-11-23 17:14] #1062 closed

[2021-11-23 17:14] #3571 closed

[2021-11-23 17:25] cemozerr commented on #764
This seemed to have regressed. I'm getting these issues when I try to connect rotki to Gemini API:
[code]

[2021-11-23 17:32] LefterisJP commented on #764
Hey @cemozerr What do you mean regressed? Gemini is supported. This issue was to implement that, not for a bug.

For your specific issue can you (1) make a new issue and probably (2) hop into the discord https://discord.com/invite/aGCxHG7 and DM me to share a read-only key to try and reproduce the problem? I don't have a gemini api key (apart from the testnet one they have) to test a live gemini u

[2021-11-23 19:16] kelsos commented on #3054
@LefterisJP isn't this what #3621 fixed?

[2021-11-23 19:17] #3054 closed

[2021-11-23 19:26] kelsos commented on #638
Spectron has been deprecated, -> https://github.com/electron-userland/spectron
Dashboard spec is covered by the other tests

[2021-11-23 20:00] #638 closed

[2021-11-23 20:14] kelsos commented on #864
The only thing that is missing from the description of this PR is the context menu.

The context menu is tricky since we are both in electron and on the browser. We could do a cut/paste/copy menu for only electron, since the web browsers would provide their own context menus but going context-aware would require us to be able to somehow implement the same functionality in an electron agnostic way.

[2021-11-23 20:14] #864 closed

[2021-11-23 20:19] kelsos opened #3753 "Introduce a minimal context menu with cut/copy/paste functionality"
## Problem Definition

This is splitting the context menu part of #864 as a followup

The idea is to introduce a minimal context menu for the application to provide cut/copy/paste functionality

_Minimum functionality:_
- [ ] Cut / Copy / Paste

[2021-11-23 20:44] isidorosp commented on #3753
Could do some really interesting/useful things here (e.g. if you're right-clicking an element that is a recognized blockchain address a context menu option could be "open in block explorer" (of choice, as selected by the user in that blockchain's settings).

Could probably build that right into the "address helper" component (not sure what we call it exactly these days), and then make sure that th

[2021-11-23 20:54] kelsos commented on #3753
That has to be done in a way that is also available when running on docker in the browser though.

[2021-11-23 21:05] isidorosp commented on #3753
I mean it doesn't *have* to be... =D

[2021-11-24 10:29] LefterisJP commented on #1979
Hey @uvok yes that helps. We can indeed skip trades that have non zero margin for now, as it seems they are bundled with the rest in the history of trades. This must have changed in their api since when we first wrote it only spot trades were returned.

Understand. And definitely would never ask you to share api key publically. Most people who do that to help us with developing new exchange connec

[2021-11-24 14:39] yabirgb commented on #3747
Add https://www.coingecko.com/en/coins/serum and map it in FTX

[2021-11-24 14:42] LefterisJP commented on #3747
This is not needed. Well maybe the FTX mapping would not be bd, but serum is already there.

[2021-11-24 14:42] LefterisJP commented on #3747
This is not needed. Well maybe the FTX mapping would not be bad, but serum is already there.

[2021-11-24 20:22] uvok opened #3758 "FR: Add Bitpanda Pro exchange"
## Abstract

"Regular Bitpanda" is already supported, however, this is only for buying/selling to set prices from the company.
The actual exchange ("Bitpanda Pro") is something different and I would like to see this supported.

## Motivation

I'm not sure how many users of Rotki actually use Bitpanda Pro, and would this benefit from this.

## Specification

The API documentation is located here: h

[2021-11-24 20:57] yabirgb commented on #3758
Hello @uvok ! For us without read only API keys is almost impossible since exchanges usually don't respect docs and have different edge cases. If you want to help with this issue it would be great :)

The PR for bitpanda can be useful for you as reference https://github.com/rotki/rotki/pull/3696 . Also you can jump in our discord and ask any question in our dev channel https://discord.gg/aGCxHG7 ,

[2021-11-26 20:29] LefterisJP commented on #3749
Should be fixed by https://github.com/rotki/rotki/pull/3757

[2021-11-26 20:29] #3749 closed

[2021-11-26 22:15] Spenhouet commented on #1573
The Bscscan API actually also has a free mode with 5 queries per second: https://bscscan.com/apis
But another Option might be to directly use Web3 to query everything? In private I'm working on a small abstraction layer and until now I only needed Bscscan to get the ABI. The rest I could get via Web3.

It would be really great if the support can be added.

[2021-11-26 22:18] LefterisJP commented on #1573
Hey @Spenhouet thank you for chimin in!

We are working on a more generic EVM abstraction over assets and chains so we can handle all such chains together in a proper manner. Once that is done then we can easily add support for BSC and other such chains.

Until then you are also more than welcome to submit a PR to do an interim support for BSC using covalent as explained above: https://github.com/

[2021-11-27 04:26] kavemang opened #3761 "Coinberry - Exchange Request"
Just putting this up in case new exchanges are being considered

[2021-11-27 09:12] LefterisJP commented on #3761
Hell @kavemang! Are you referring to https://www.coinberry.com/?

It seems that they do not have an API yet: https://coinpanda.io/integrations/coinberry/

They seem to have a CSV, but there is no docs or examples.

[2021-11-27 20:03] kavemang commented on #3761
sorry! I will track manually for now :(

[2021-11-27 20:03] #3761 closed

[2021-11-27 20:17] LefterisJP commented on #3761
Hey @kavemang there is never any need to apologize for requesting a feature. We want to make as many of our users happy as possible. Rotki is a user-focused product.

From the docs it sounds as if they do plan to add an API. When that happens would love to support the exchange like all the others we support.

[2021-11-28 20:26] LefterisJP commented on #3747
Add support for EURT (Euro Tether) -> https://www.coingecko.com/en/coins/euro-tether

[2021-11-28 20:38] LefterisJP commented on #3747
Add Cere Network -> https://www.coingecko.com/en/coins/cere-network

[2021-11-29 02:16] lukicenturi opened #3766 "Weird behavior when there are setting that being used for `setInterval` or `setTimeout` that larger than javascript limit (2^31 - 1) in ms"
## Problem Definition

We have several settings that are being used as `delay` value of `setInterval` or `setTimeout` somewhere else.
![image](https://user-images.githubusercontent.com/26648140/143798361-0a5fd691-b93a-480e-aa43-9fb1e729c90a.png)
The problem is there are max number that can be used in javascript as this delay (it is 2^31 - 1) because setTimeout using 32bit.
But these settings aren'

[2021-11-29 10:05] yabirgb opened #3767 "Input to select modules doesn't delete text on clicking at chips"
## Problem Definition

When writting the name for a module and then clicking on the chip the written text is still there and one has to delete it to keep adding modules

![image](https://user-images.githubusercontent.com/5068010/143847712-1baa4a91-68e4-4161-bba1-003b28dcce57.png)

[2021-11-29 10:56] #2918 closed

[2021-11-29 11:02] #3128 closed

[2021-11-29 12:38] #3470 closed

[2021-11-29 15:45] userhas404d opened #3770 "Properly account for assets managed via rocketpool nodes"
## Abstract

Adding rocketpool validators to a rotki tracked ETH1 address is accounting for the full 32 ETH per node, skewing portfolio totals.  Additionally, the RPL staked on each node is not accounted for in the assets view.

## Motivation

Just looking for an accurate representation of total portfolio value without having to "do math".

## Specification

N/A

[2021-11-29 19:48] #3614 closed

[2021-11-29 22:58] BCpowerup commented on #3703
Bruh!

I want to enable/help on this, probably an API service for parachains reward calculation for tax purposes is needed, now what will be the most straight forward to achieve this? Can using 1 endpoint slurp any information from any parachain?

need to understand a bit more...

[2021-11-30 07:30] lukicenturi commented on #2446
I'm working on this now

[2021-11-30 09:57] LefterisJP commented on #3770
Hello @userhas404d. I am not sure on the details of how rocketpool works but since you are not running the staking node yourself tracking it via directly tracking the validator would not be accurate, right?

Shouldn't you simply track your rETH (https://www.coingecko.com/en/coins/rocket-pool-eth) ? We will add the token support in next release but you can always add tokens manually:  https://rotki

[2021-11-30 09:57] LefterisJP commented on #3747
Add rocket pool ETH: https://www.coingecko.com/en/coins/rocket-pool-eth

[2021-11-30 10:21] isidorosp commented on #3770
I think he means the ability to run minipools (validators) in rocketpool as a Node Operator. In rocketpool the Node Operator deposits 16ETH of the validator deposit and the other 16 comes from stakers (i.e. the people that receive rETH). A rotki user could be either a Node Operator or a staker, or both.

I think beaconcha.in has a quite developed interface in their app for providing rocketpool nod

[2021-11-30 13:01] userhas404d commented on #3770
thanks for the clarification @isidorosp. I knew I was butchering it.. but confirming that that's the root cause of the issue - as a Node Operator, monitoring an address within rotki that is backing my rocketpool nodes is skewing my ETH total.

[2021-11-30 14:01] LefterisJP commented on #3770
Well we can add a percentage of ETH owned in a validator? To edit as a user? Would that help? So in that case it would be easy to specify how much of a validator you own and it would cover other such protocols too.

[2021-11-30 15:23] userhas404d commented on #3770
I think that's part of it. The other wrinkle is rewards calculation, which (I think) will be `($total_reward/2) +  (($total_reward/2) * $commison_rate) `

`$commision_rate` can vary from 5 - 20% and is determined by the minipool to ETH deposit pool ratio on node creation.

seconding @isidorosp's comment regarding beaconcha.in's console - the specifics for this information are available for rocketp

[2021-11-30 15:35] jbenz commented on #3229
Requesting CoinEx support as well.

[2021-11-30 19:00] mruepp opened #3778 "Add KILT"
**Asset name:** KILT Protocol (KILT)
**Asset symbol:** KILT
**Coingecko link:** https://www.coingecko.com/en/coins/kilt-protocol
**Cryptocompare link:** Please fill in - if available (either this or coingecko must exist)
**Coinmarketcap link:** https://coinmarketcap.com/currencies/kiltprotocol/

[2021-11-30 19:14] yabirgb commented on #3778
Thank you! We will add it to the next major release. You can always add tokens manually as described here https://rotki.readthedocs.io/en/latest/usage_guide.html#adding-editing-an-asset

[2021-11-30 20:11] LefterisJP commented on #3767
Should be closed by #3777

[2021-11-30 20:11] #3767 closed

[2021-11-30 23:30] m-roberts opened #3780 "Re-add arm64 Docker image"
As per [v1.22.1](https://github.com/rotki/rotki/releases/tag/v1.22.1)'s description:

I am just creating this ticket as I could not see it being tracked in an issue anywhere.

[2021-12-01 08:39] LefterisJP commented on #3770
Hey @userhas404d thanks for the info! We also spoke about this with @isidorosp in our discord. Hop in if you use discord: https://discord.gg/aGCxHG7. Note there is a captcha bot so have DMs open. If you have trouble verifying just ping me or any other team member.

Now as for the actual issue I think we would like to go step by step here. First allowing to specify percentage of ownership per valid

[2021-12-01 09:57] #2446 closed

[2021-12-01 10:11] #1875 closed

[2021-12-01 22:15] #3780 closed

[2021-12-01 22:22] #3725 closed

[2021-12-01 23:36] #849 closed

[2021-12-02 10:09] #2297 closed

[2021-12-02 10:09] #3766 closed

[2021-12-02 10:09] yabirgb commented on #3780
Hello @m-roberts! The builds for arm64 should come in the next release 1.23.0 if everything goes as expected. We had an issue with dependencies that got solved recently. Yesterday I managed to get the docker build working but not in time for the patch release 1.22.2 since we wanted to make sure that everything was working as expected.

If you need any of the functionalities of the patch release yo

[2021-12-02 14:13] yabirgb commented on #3747
Check `GENE` on FTX

[2021-12-02 14:33] LefterisJP commented on #3653
For trades we also need to make sure to add filtering as is already done by the frontend but do it in the backend.

![unknown](https://user-images.githubusercontent.com/1658405/144441980-65f1dd84-4ce5-4e40-b064-c67a759c0df9.png)

And for deposits/withdrawals a similar filter

![unknown](https://user-images.githubusercontent.com/1658405/144442058-bcaaff23-389c-4e05-873a-2fcca7d176a7.png)

[2021-12-02 23:30] cybern0id commented on #2488
I've been trying to drum up some support in the Cardano Technical Community discord: https://discord.com/channels/826816523368005654/862682382314635274/915744143081365524

Maybe Rotki devs might like to submit a proposal to Cardano's project Catalyst where winning proposals are awarded funding to facilitate related projects? Though I know you guys are stretched.

I can't code so I'm trying to cont

[2021-12-03 05:17] twooten1105 commented on #3712
Hi Yabir

I just saw your reply. Thanks

I was wondering if there has been a fix for this issue?

Thanks
Tom

On Wed, Nov 17, 2021 at 1:39 AM Yábir Benchakhtir ***@***.***>
wrote:

[2021-12-03 09:48] yabirgb commented on #3712
Hello @twooten1105! It won't be a direct fix but a new feature to allow custom date format inputs in CSVs. Will be shipped in the next version 1.23 that should come as soon as we finish some other pending tasks

[2021-12-03 09:49] #2817 closed

[2021-12-03 09:51] yabirgb commented on #3712
So to close this issue we need to implement the functionality in the frontend. What needs to be done is to add a date input format form for each CSV import section and send this format in the request alongside the file as described here https://rotki.readthedocs.io/en/latest/api.html#put--api-(version)-import

Also we discussed with kelsos before that it might be a good idea, since the import comp

[2021-12-03 23:23] m-roberts opened #3792 "Allow for easy customisation of backend argument with Docker"
## Abstract

Provide a way for the backend behaviour to be controlled without modifying the contents of the container.

## Motivation

Currently, [the precise working of the backend are hard-coded](https://github.com/m-roberts/rotki-unlocked/blob/develop/packaging/docker/docker-entrypoint.sh#L3). This means that it is non-trivial to do even simple things like change the log level for debugging pur

[2021-12-05 13:01] LefterisJP commented on #3324
The % of an eth2 validator owned will be part of next release (hopefully). Completely forgot there was an issue for this.

[2021-12-05 14:14] LefterisJP opened #3798 "Allow displaying ETH and ETH2 as same asset"
## Abstract

Create a new setting. `eth_equivalent_eth2`. This would allow to display ETH as ETH2. This would be a backend thing I suppose since it would need to:

1. For all balances that are ETH2 return them as ETH.
2. For al historical endpoints treat ETH2 as ETH. So the netvalue data, the per asset value of ETH and distribution of value per asset data.
3. Any other place that may be needed.

#

[2021-12-05 23:23] yabirgb opened #3799 "Add support for okcoin"
## Abstract

They have an API and CSV exports

https://www.okcoin.com/docs/en/
## Motivation

User request

[2021-12-06 09:44] #2265 closed

[2021-12-06 12:38] #2848 closed

[2021-12-06 17:04] LefterisJP commented on #3747
Rename coingecko identifier for the old AAVE (LEND). It's been renamed to `ethlend` ... which is its old id. Lol.

https://www.coingecko.com/en/coins/aave-old

[code]

[2021-12-06 21:22] kelsos opened #3801 "Make sure that the navigation menu pushes the content"
## Problem Definition

The issue is on develop. Due to changes the main area no logger adjusts properly when the menu is open.

[2021-12-07 08:16] yabirgb commented on #3747
Map wluna in gemini

[2021-12-07 10:22] #3712 closed

[2021-12-07 10:47] #2624 closed

[2021-12-07 10:47] #2121 closed

[2021-12-07 11:04] #3487 closed

[2021-12-07 11:04] #3801 closed

[2021-12-08 09:01] #2759 closed

[2021-12-08 09:22] #2037 closed

[2021-12-08 09:41] yabirgb commented on #1864
So to close this issue after #3797 gets merged we need to include all the trades in the frontend queries. Currently the frontend creates different trades queries for the external locations (crypto.com, bisq, nexo...) and for the exchanges that it knows have keys.

The PR #3797 introduces a new endpoint that will return all the locations that contain information, this can be exchanges, external loc

[2021-12-08 18:29] yabirgb commented on #3708
I've been provided this page on the documentation when they explain the possible values for the ledger response and when they appear

https://support.kraken.com/hc/en-us/articles/360001169383-How-to-interpret-Ledger-history-fields

[2021-12-08 19:19] adigupta13 commented on #2394
+1

[2021-12-08 19:58] faraggi commented on #2394
Update: I've spoken to the Solana grants team last week, and they didn't accept giving this project a grant, so I will be taking a step aside and giving anyone else the chance to move forward with it.

[2021-12-08 20:19] LefterisJP opened #3804 "Detect crypto deposits/withdrawals for Bitpanda"
## Abstract

A user reported that they are missing crypto deposits/withdrawals in rotki v1.22.2 and bitpanda. It seems they are right. We don't query those as they are on a different endpoint

## Task

Implement it. The endpoint should be this one: https://developers.bitpanda.com/platform/#/transactions-get

The user was kind enough to send example response.

[code]

[2021-12-08 22:53] HariSeldon23 commented on #2701
We're hoping to help here with Pangolin.

Is there anything we could do to help in this part of the dev cycle?

[2021-12-10 04:22] piotryordanov opened #3810 "Add support for ByBit"
Please add support for ByBit exchange!

[2021-12-10 09:00] #2382 closed

[2021-12-10 09:01] #2901 closed

[2021-12-10 20:18] Letiliel opened #3811 ""The setup of bitmex failed due to: Bitmex api request for https://www.bitmex.com:443/api/v1/user failed with HTTP status code 403""
Getting this error when adding API keys for Bitmex.
I tripled checked the copied keys.

Fresh install of Rotki on Linux.

[2021-12-10 20:31] #3811 closed

[2021-12-10 20:59] LefterisJP commented on #3811
Hey @Letiliel seems you figured it out on your own. For any such problems perhaps it's better to join our discord https://discord.com/invite/aGCxHG7 and ask there too!

There is a captcha challenge so have DMs open.

[2021-12-10 21:08] LefterisJP commented on #3810
Thank you for the issue Piotr. We will put it in the backlog and see what we can do.

[2021-12-10 21:10] piotryordanov commented on #3810
Cheers 🕺

[2021-12-10 21:53] LefterisJP commented on #3747
Add all fixed forex assets.

There is a curve/convex strategy involving fixed forex assets. Namely the synthentix forex synths: sGBP, sEUR, sKRW, sJPY, sCHF, sAUD and their iron bank equivalents: ibGBP, iEUR, ibKRW, ibJPY, ibCHF, ibAUD

We should also have the various curve and convex pools processed properly eventually but this is off-topic to the pure assets.

[2021-12-11 15:16] az911 opened #3815 "Ethereum Classic (ETC) not supported?"
Ethereum Classic (ETC) not supported? if already supported, how to add it?

**Asset name:** Ethereum Classic
**Asset symbol:** ETC
**Coingecko link:** https://www.coingecko.com/en/coins/ethereum-classic
**Cryptocompare link:** https://www.cryptocompare.com/coins/etc/overview

[2021-12-11 16:20] SCBuergel commented on #3231
Optimism is quite a huge mess right now that Rotki could uniquely resolve and maybe even position itself better than even Etherscan: After their Nov 11 relaunch (most) past transactions are gone. So I'm literally blind on where I aped around and while they keep saying "funds are likely safe" this doesn't help me at all because I have no idea where I locked my tokens without seeing past txs. So hav

[2021-12-11 20:58] yabirgb commented on #3815
Hello @az911 ! ETC as asset is supported, are you trying to query it from an exchange? (we don't support ethereum classic chain atm)

[2021-12-12 06:46] az911 commented on #3815
Well, when adding a blockchain account (home -> accounts & balances -> "+") I have only 5 options: ETH, BTC, KSM, DOT, AVAX.
I tried adding the ETC wallet with all 5 options.
Only two accepted the wallet address format, ETH and AVAX, and in both it shows as "0" balance and did not recognize ETC.
I'm sure that the ETC address is correct , I have checked with the block explorer multiple times and th

[2021-12-12 09:11] LefterisJP commented on #3815
ETC as a chain is not supported. ETC as a token in an exchange or in manual balances is supported.

If it was supported you would have seen "Ethereum Classic" under the dropdown to add another account.

[2021-12-13 01:09] svub commented on #3682
I think I experience a similar issue but in my case it never works since about two months or so. So I checked my logs and I can also find these lines
[code]

So I tried curl on https://rpc.polkadot.io and https://kusama-rpc.polkadot.io and it works without a problem and quickly, so I have to assume that my internet connection is not the problem here. Also, as I'm having this issue for so long, I h

[2021-12-13 08:14] LefterisJP commented on #3682
Hey @svub I see. Thanks a lot for the logs! What version of rotki are you using? Are you at the latest version?

[2021-12-13 16:39] #1864 closed

[2021-12-13 17:04] adrienlacombe commented on #3770
+1

[2021-12-14 12:40] #1214 closed

[2021-12-14 12:40] #3641 closed

[2021-12-14 14:15] #3525 closed

[2021-12-14 18:50] kelsos opened #3823 "Introduce npm run dev:web"
## Abstract

An alternative to `npm run dev` that starts the backend and frontend but not electron.

## Motivation

Allows development in the browser or using headless remote machines

[2021-12-14 18:53] #3176 closed

[2021-12-14 18:54] #3753 closed

[2021-12-14 20:32] LefterisJP commented on #3753
So @kelsos for the rest of the idea such as the one that @isidorosp mentioned above we just add more functionality on the context menu on a case by case basis with new issues?

[2021-12-15 04:18] svub commented on #3682
I'm on v1.22.2 - I usually update as soon as the UI offers me to do so. I'm running Rotki on Linux, maybe that's related. I just joined discord, same username.

[2021-12-15 09:53] kelsos commented on #1790
As we discussed, a lot of the problems with this issue are with the Profit/Loss Report, but also with the graphs and historical values.

The historical values are a known problem and we could just introduce a warning when changing to a crypto asset as a displayed asset.

As for the Profit/Loss currency, an approach we could take is to split the selection of the display currency from the currency u

[2021-12-15 10:17] kelsos commented on #3753
We can give it a try but I am not sure how feasible it would be to keep it on par in both electron and in the browser, especially without completely disabling the browser's context menu and adding our own implementation

[2021-12-15 11:32] kelsos commented on #1142
The same here, I am gonna create an internal issue to keep the feedback in mind and close this issue

[2021-12-15 11:32] #1142 closed

[2021-12-16 00:36] cryptohazard commented on #765
bumping this one

[2021-12-16 12:52] #1008 closed

[2021-12-16 13:17] Luxaedel opened #3830 "Add support for Bancor"
## Abstract

Currently Rotki does not support Bancor as a DeFi application. I (and presumably others who haven't made an issue for this) would like to see Bancor support.

## Motivation

As with all DeFi additions to Rotki (Aave, Maker, Yearn etc...) it is a fairly large and well-known DeFi application that has been around for a very long time. With over 1 billion TVL (https://dune.xyz/Bancor/banc

[2021-12-16 13:41] step21 commented on #1157
Here is another example, where a (proprietary) app uses a small service that has the PSD2 license, to access banks that use it. https://moneymoney-app.com/psd2/
For FinTS this is not required, but for everything that uses PSD2 iirc.

[2021-12-17 00:19] LefterisJP commented on #3747
Add support for Gearbox protocol: 0xBa3335588D9403515223F109EdC4eB7269a9Ab5D

https://www.coingecko.com/en/coins/gearbox

[2021-12-18 12:11] LefterisJP commented on #3804
Hey @yabirgb shouldn't we close this? Did you confirm with the user it works or was it just me who got contacted by the user? I don't remember :rofl:

[2021-12-18 12:25] yabirgb commented on #3804
I don't know who is the user that reported this, I haven't get in contact with him. About the issue is not closed because we merged against bugfixes

[2021-12-18 22:39] LefterisJP commented on #3747
Add support for Agora token https://etherscan.io/address/0x3174c1e1bbcfb3fe8e9be3ec9b4177a5cfbe5966

If by the time we look at it it's in coingeko .. otherwise let's think on it

[2021-12-18 23:22] criadoperez opened #3834 "ccxt support to connect to exchanges"
## Abstract
Rotki can currently only supports 17 exchanges. Adding and maintaining exchanges is a lot of work.
So why doesn't Rotki use the popular free software library [ccxt](https://github.com/ccxt/ccxt) to get balances from over 100 exchanges directly?

## Motivation

17 exchanges is not enough. ccxt will guarantee support for virtually all exchanges and reduce coding effort.

## Specification

[2021-12-19 08:57] LefterisJP commented on #3834
Thank you for your suggestion. We know ccxt and the decision was made early on to not use it.

Because the same problems of implementation and transformations of data to our own format would exist for each single one of those exchanges.  This has been discussed in other issues already and it's not something we want to do.

[2021-12-19 08:57] #3834 closed

[2021-12-19 14:39] m-roberts opened #3835 "Feature Request: Support for ICONOMI Strategies"
## Abstract

Balance support for ICONOMI is currently limited to assets, not strategies.

## Motivation

I realise that ICONOMI Strategies (formerly known as "funds") act as index funds rather than the actual underlying crypto assets; however, they still represent the underlying value of the asset structure that they track.

It would be great if wealth that is in these financial instruments is als

[2021-12-20 09:42] #2386 closed

[2021-12-20 09:51] LefterisJP commented on #3653
For ledger actions these are the current filters to be moved to the backend:

![2021-12-20_10-51](https://user-images.githubusercontent.com/1658405/146747783-a87c8fd8-7c71-445c-9cd5-7b1ac79f8916.png)

[2021-12-20 12:54] #2876 closed

[2021-12-20 18:06] zachmeador opened #3838 "Add FTX.us Exchange Support"
## Abstract

Add support in Rotki for [FTX.us](https://ftx.us) exchange data.

## Motivation

FTX.us's data API seems to be identical to FTX.com's, and there do not appear to be plans anytime soon to merge US trading into FTX.com.

For Rotki to be feature-complete for US-based customers, it makes sense to add support given the low amount of effort needed.

## Specification

Duplicate the API modul

[2021-12-20 22:55] yabirgb opened #3839 "Support the Iron Bank assets"
## Abstract

Add integration with the IronBank. This issue also serves as a way to keep information for later.

## Motivation

long yearn

## Specification

- There is a registry contract that can we queried for the fixed forex https://etherscan.io/address/0x5C08bC10F45468F18CbDC65454Cbd1dd2cB1Ac65#readContract

[2021-12-21 10:15] #1242 closed

[2021-12-21 10:18] kelsos opened #3840 "Take users to account creation when installing the application for the first time"
## Problem Definition

A number of users tend to be confused and attempt to log in to the application with the website password. To make it clear that a local account is needed when there is not account the user should be taken directly to the create account page

[2021-12-22 21:26] phenomax commented on #2394
https://github.com/hodgerpodger/staketaxcsv/tree/main/src/sol could be a good starting point, as they are grabbing and parsing tx data via rpc.

[2021-12-22 22:15] #3840 closed

[2021-12-23 11:40] kelsos opened #3847 "Trim user address when adding new assets in asset management"
## Problem Definition

Ensure that there is no whitespace surrounding the token address when saving a new token.

[2021-12-24 12:05] A2be opened #3852 "Rename Username/Password fields on the Rotki startup screen"
## Abstract

The current Rotki version (v1.22.2) uses the terminology "Username" / "Password" on the `Sign in` screen.  This is standard app UX for decades in traditional (web2/web1) apps where the model is client/server and the user logs into a centralized server where (much, or all) data resides.

This use of legacy terminology conveys incorrect information to the Rotki user, implying a data mod

[2021-12-24 12:09] LefterisJP commented on #3852
I am going to turn this into a discussion as this is not an actionable issue unless a decision is made.

[2021-12-24 12:42] #3653 closed

[2021-12-24 12:44] A2be commented on #3261
I have no problem with this sort of a feature enhancement, but I do think it would definitely need to stay only an optional second way to sign in to Rotki?

Why?  Because using my web3 credentials to sign in to my Rotki would mean I could not share my Rotki DB and DB encryption key with my tax professional, so that we together can take all the wonderful stuff that Rotki pulls together, and get it

[2021-12-24 12:44] LefterisJP commented on #3261
yes this would be optional.

[2021-12-24 12:46] kelsos commented on #3261
Optional, and while you could use one way or the other to login, we should also provide a way to move between the too.

[2021-12-24 12:48] A2be commented on #3261
Creative idea:  might we be able to take, say, @A2be's public web3 ENS-address into account (say a hash, or other creative thing smart cryptographically-knowledgeable devs will come up with) as a PART of my Rotki `DB encryption key`.

That way, perhaps User A2be could still "sign in" via web3, but ALSO have a share-able `DB encryption key` that they might provide their tax professional?

[2021-12-24 13:00] LefterisJP commented on #3161
Closing this one as we already have this implemented in rotki. There is still lots of improvements and things to do but we would probably act on specific issues instead of one big one like this.

[2021-12-24 13:00] #3161 closed

[2021-12-24 15:42] #3847 closed

[2021-12-25 00:50] #3804 closed

[2021-12-25 16:20] yabirgb opened #3856 "Add NFT trades to rotki"
## Abstract

Add information about trades with NFTs to the APP

## Motivation

This would allow to do accounting over the NFTs module

## Specification

Rarible DAO has a API that provides information about transfers/trades/mints and more per address at https://ethereum-api.rarible.org/v0.1/doc#operation/getNftOrderActivitiesByUser and is not limited to the rarible platform but as for my tests als

[2021-12-26 08:37] LefterisJP commented on #3747
Add GIV token by Giveth. It's both in xDAI and mainnet. But I guess we only can show mainnet now.

https://medium.com/giveth/welcome-to-the-giveconomy-b3e372da63dd

https://www.coingecko.com/en/coins/giveth

[2021-12-26 23:19] CyBHFal opened #3859 "Cryptocom CSV import inconsistant rate"
## Problem Definition

A BTC to CRO crypto exchange transaction(single exchange CSV line) and a BTC to CRO dust conversion transaction (from 2 CSV lines, one debit, one credit) does not have the same computation rule.

One is inverted

_consume_cryptocom_entry()
rate = Price(abs(**quote_amount_sold** / base_amount_bought))

_import_cryptocom_associated_entries()
rate = Price(abs(base_amount_bought

[2021-12-26 23:21] LefterisJP commented on #3859
Thank you for opening an issue @CyBHFal!

Do you have an example csv file where these rules are touched along with what you would expect to happen as opposed to what is happening?

[2021-12-26 23:33] CyBHFal commented on #3859
Timestamp (UTC),Transaction Description,Currency,Amount,To Currency,To Amount,Native Currency,Native Amount,Native Amount (in USD),Transaction Kind
2021-12-23 13:13:03,Convert Dust,CRO,0.686163538568182018,,,EUR,0.33,0.374813076,dust_conversion_credited
2021-12-23 13:13:03,Convert Dust,BTC,-0.00000782,,,EUR,-0.33,-0.374813076,dust_conversion_debited
2021-12-23 11:46:07,BTC -> CRO,BTC,-0.0822767,CR

[2021-12-27 11:35] lukicenturi opened #3862 "Error related to the exchanges additions and data about them"
## Description

When adding a new exchange or information about the exchange location is purged the frontend queries the backend for trades and deposit/withdrawals with the argument only_cache=true. This makes the UI show nothing to the user

## How to reproduce

1.1 Add a new exchange with an API key and go to the trades section. It shows empty
1.2 If you query the same endpoint that the UI queri

[2021-12-27 14:10] #3500 closed

[2021-12-27 14:10] #3708 closed

[2021-12-27 17:45] LefterisJP opened #3865 "Create backend task that for HistoryBaseEntries usd value"
## Abstract

At the moment in the places where this data structure is used (kraken) we don't query for the USD value of the assets. The reason is that querying that will slow the requests or processing of the information. The intention of adding the USD value was to provide all the information to replay the history of the user without having to depend on external information. A good approach could

[2021-12-28 13:33] #3425 closed

[2021-12-28 18:36] #3862 closed

[2021-12-28 21:04] arosboro opened #3869 "ShapeShift airdrop showing for newly added accounts as eligible for airdrop"
## Problem Definition

When I claimed the airdrop I had account \#0 eligible to claim and a native wallet on another account eligible for a smaller amount.  Now having lost eligibility to claim (the airdrop is over), I added account \# 1, an additional ethereum account.

Rotki shows this account eligible for an additional amount equal to account \#0.

## Logs

### System Description
Mac OS X

Oper

[2021-12-28 21:21] LefterisJP commented on #3869
How did you lose eligibility? The eligibility for airdrops is based on CSVs and is not time dependent at the moment, unless the CSV has this data.

[2021-12-28 22:55] CyBHFal commented on #3859
After some thinking, #3864 doesn't change the good one rate computation.

The modification should be done in import_cryptocom_associated_entries() :

rate = Price(abs(base_amount_bought / **quote_amount_sold**))

to

rate = Price(abs(**quote_amount_sold** / base_amount_bought))

Like that:

[code]
The exchange rate is generally (original currency / new currency) so (sold/bought), isn't it ?

To co

[2021-12-28 23:05] CyBHFal commented on #3859
Was not clear above but it was a copy of the two functions names with the rate computation of each, not a correction before/after

[2021-12-28 23:37] yabirgb commented on #3859
I believe I got it messed. I was comparing to other places but as you said I might got it wrong. So just to double check the rate is different if it is buy or sell.

[Here](https://github.com/rotki/rotki/blob/1893fc6c10919c018137d63e99365e4f45749cb8/rotkehlchen/data/importer.py#L274) It should be calculated differently. if it is buy `base  / quote` and if it is sell `quote / base` and in [here](ht

[2021-12-29 00:24] arosboro commented on #3869
Maybe the account existed but had not been used for any transactions back when it was eligible.  I guess my hardware wallet has about 10 accounts from the seed phrase but I was only using account 0.  And recently did a transaction on account 1, then my eligible fox increased by 250 (I think the minimum for an account) in rotki.

https://fox.shapeshift.com/airdrop. The airdrop has ended.

If the ai

[2021-12-29 00:37] arosboro commented on #3869
I guess I'm still eligible, but I did not think to check every account on my wallet and did not claim it. Meaning I don't want to report an income for a cost basis of ~$352 for that particular address's airdrop of 250 tokens I didn't claim.

[2021-12-29 00:40] CyBHFal commented on #3859
Yes. For now,  quote_amount_sold / base_amount_bought solves my initial issue of huge values in event list of the Profit/loss report

Unfortunately, as a newbie, I'm not able to confirm if something should be change here ... And I don't have sells transactions to check if current implementation is correct. For a buy, current implementation seems to give good results.

[2021-12-29 08:59] LefterisJP commented on #3869
No rotki does not include as PnL something that you have not claimed. What's more airdrops claiming are not detected automatically yet. You would have to input it on your own.

[2021-12-29 09:42] kelsos opened #3871 "Move pagination state of tables to global state"
## Problem Definition

The current approach passes the pagination state through events to the action.
The problem with this approach lies with the refresh, and especially refreshing the UI from the cache (db) after the refresh action is done.

The refresh might take a while, so the data that are in the action might be outdated since there is a possibility that the user navigated to another page or

[2021-12-29 15:09] #3324 closed

[2021-12-29 16:30] #3859 closed

[2021-12-29 20:50] Guigouu opened #3877 "Support Gate.io exchange"
## Abstract

Add Gate.io exchange

## Motivation

It will be great amongs rotki user to add the 8th CEX by coinmarketcap

## Specification

https://www.gate.io/fr/api2#apiv4

[2021-12-29 20:51] Guigouu commented on #3877
https://github.com/rotki/rotki/issues/3668 my bad

[2021-12-29 20:51] #3877 closed

[2021-12-29 23:28] #3745 closed

[2021-12-29 23:28] #3747 closed

[2021-12-29 23:28] #3778 closed

[2021-12-30 02:38] arosboro commented on #3869
Ok, It appears I underestimated this assuming the Defi features were covered under the P&L including airdrops.  Thanks for the guidance to create manual ledger entries for those claimed.  I'll close this ticket to reduce the burden on your team.

[2021-12-30 02:38] #3869 closed

[2021-12-30 11:16] LefterisJP commented on #3792
I assume it is, so closing the issue. If not please reopen.

[2021-12-30 11:16] #3792 closed

[2021-12-30 15:44] LefterisJP opened #3884 "Add date and time to eth2 deposits table"
## Abstract

At the moment in the eth2 staking details page there is no date column for the deposits.

![2021-12-30_16-43](https://user-images.githubusercontent.com/1658405/147766614-fbdcf858-0c37-44c2-a84b-ef2280faa3e9.png)

Would be cool to have it and also be able to sort by date.

## Task

Do it

[2021-12-30 16:57] yabirgb opened #3886 "Refactor how selected binance pairs are queried from database"
At the moment binance pairs selected by users are queried [here](https://github.com/rotki/rotki/blob/fdd99f73320cfc1466f0304bcae2bbfa42045303/rotkehlchen/exchanges/binance.py#L812).

As @LefterisJP noticed the function `get_exchange_credentials_extras` is executed at [exchange initialization](https://github.com/rotki/rotki/blob/fdd99f73320cfc1466f0304bcae2bbfa42045303/rotkehlchen/exchanges/manager

[2021-12-31 19:30] bloxster opened #3894 "Balance export for a specific date (Italian fiscal system)"
## Abstract

In Italy every resident owning cryptocurrencies should declare his owning at the 1 of January and the 31 of December. Also, if the value of total asset is above 51.645,69€ for more than one week during the fiscal year, a 26% tax on every EUR conversion (wire transfer or card expenses) is due.

Competitor Cointracking.io is offering the snapshot.

## Motivation

Italian users of Rotki

[2022-01-01 11:01] LefterisJP opened #3895 "Popup for successful forced sync operation shows error icon"
## Problem Definition

The popup for the successful forced sync operation of the user DB shows an error icon while it should show an informational icon.

![2022-01-01_11-58](https://user-images.githubusercontent.com/1658405/147849114-d13dca7f-705c-4b79-8e50-a930f3446232.png)

## Task

Fix it

[2022-01-01 11:16] LefterisJP opened #3896 "Dashboard balance search does not show ethereum tokens"
## Problem Definition

Trying to search in the dashboard search bar for any ethereum token shown there shows no results. If you search for something like ETH or BTC it shows, which I assume is probably due to searching by identifier and not symbol.

## Task

Fix it

[2022-01-02 08:20] LefterisJP commented on #2334
This is no longer valid. We have two such methods.

1. `deserialize_ethereum_address()` does indeed deserialize and calls `to_checksum_address()` which is a bit heavier
2. `string_to_ethereum_address` which is just typecasting

[2022-01-02 08:20] #2334 closed

[2022-01-02 08:26] LefterisJP commented on #576
Closing this as there is no way around this other than changing them to POST

[2022-01-02 08:26] #576 closed

[2022-01-02 08:26] shayzluf commented on #1477
@LefterisJP how about using [etherscan api call for erc20 tx](https://api.etherscan.io/api?module=account&action=tokentx&contractaddress=0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2&page=1&offset=100&sort=asc&apikey=YourApiKeyToken) and [this one](https://api.etherscan.io/api?module=account&action=tokennfttx&contractaddress=0x06012c8cf97bead5deae237070f9587f8e7a266d&page=1&offset=100&sort=asc&apikey

[2022-01-02 08:31] LefterisJP commented on #1477
Hey @shayzluf this is being worked on in multiple ways at the moment.

Unfortunately etherscan does not find all address appearances, but if the user has no other option (such as trueblocks) it's the only thing we can do. The NFT API in etherscan is new! I did not know it. It woudl also come in handy.

Additionally token transfers alone do not solve the problem of detecting what happened as there

[2022-01-02 08:49] shayzluf opened #3898 "Add memo text for each ethereum transaction"
## Abstract

When you preform a blockchain action that can be simple(transfer to account) or complex (execute a governance decision) there is a need to record it and its purpose.

## Motivation

Looking into the past i can see that there are many txs that i can’t remember their purpuse. having a memo that is coupled with transactions on the blockchain will be a great added feature.

## Specificati

[2022-01-02 09:51] shayzluf commented on #1477
I thought of it as an intermediary step to have more information on an ethereum transaction while you work on the long term solution.

[2022-01-02 15:57] mizzitant opened #3899 "crypto.com importer: missing 'Transaction Kind's"
## Problem Definition

Some things I noticed with the crypto.com importer: rotkehlchen/data/importer.py

Two **'Transaction Kind's** seem to be **missing**:
* **supercharger_reward_to_app_credited**: Example line
Timestamp (UTC) | Transaction Description | Currency | Amount | To Currency | To Amount | Native Currency | Native Amount | Native Amount (in USD) | Transaction Kind
2021-10-28 03:16:37 |

[2022-01-02 16:00] yabirgb commented on #3899
Hello! Thanks for reporting them. Could you please provide an example for the `recurring_buy_order`?

[2022-01-02 16:14] mizzitant commented on #3899
It's pretty much like viban_purchase:

Timestamp (UTC) | Transaction Description | Currency | Amount | To Currency | To Amount | Native Currency | Native Amount | Native Amount (in USD) | Transaction Kind
2021-10-13 21:00:09 | Recurring Buy | EUR | 80 | ETH | 0.0246158182949 | EUR | 80 | 93.2778734904 | recurring_buy_order

[2022-01-02 16:48] LefterisJP commented on #1743
We could do this probably with an sqlite row factory for named tuples, but not sure if at this point with all the deserialization methods we got this would make sense or be needed: https://stackoverflow.com/a/16336132/110395

Will think about this and see if we should just close this.

[2022-01-02 16:50] LefterisJP commented on #3898
We should have an editable "notes/memo" field on most things, including ethereum transactions. Thanks for the issue!

[2022-01-02 19:41] mizzitant commented on #3899
Sorry, it actually differs from viban_purchase: for `recurring_buy_order` the amount value is positive.

[2022-01-02 21:58] DugganB opened #3901 "Coinbase deposits/withdrawals failing to fetch"
Getting an error when trying to fetch deposits/withdrawals or generate a tax report using coinbase as an exchange.

Message is: `Failed query for all exchanges: Error: The backend query task died unexpectedly: 'NoneType' object has no attribute 'get'`

Here is the logs:

[code]

[2022-01-02 23:33] LefterisJP commented on #3901
Hey DugganB this sounds like a bug! Can you join Discord and maybe send us a bigger part of the logs. This is not the entire stack trace.

[2022-01-02 23:37] #652 closed

[2022-01-02 23:52] LefterisJP commented on #3894
This should not be too hard. PDF may not be easy, but a CSV which is a much more portable format would work.

[2022-01-03 01:35] DugganB commented on #3901
Am in the discord now. Posted some extra logs.

[2022-01-03 08:58] yabirgb opened #3903 "miniupnpc breaks app on some osx"
## Problem Definition

Under osx the app fails to start

## Logs
[code]

[code]
### System Description

Operating system: MacOS 10.14.6
Rotki version: 1.23.0

[2022-01-03 12:49] shayzluf commented on #3898
Thanks for generalizing it
it will be awesome to have

[2022-01-03 13:45] kelsos commented on #3903
I am looking into it, let's see if changing the github actions runner and XCode version helps in that regard.

[2022-01-04 17:49] kelsos commented on #3359
@lukicenturi if you have any ideas for this, at least for the parts that are in the public part of the app you can give it a try/

[2022-01-04 22:19] fvanderelst commented on #3903
Thank you for addressing this.

I've re-installed from the os x binary at https://github.com/rotki/rotki/releases/download/v1.23.0/rotki-darwin_x64-v1.23.0.dmg and get the same error.

I presume the binaries get rebuilt after a merge; could you please indicate when that usually happens ?

Many thanks for your work.  I purchased the supported version !

[2022-01-05 08:44] LefterisJP commented on #3903
no the binaries do not get rebuilt after a merge. You will need to wait for the next patch release which should contain this fix. We don't have an ETA but it's usually released once most bugs seen by users are addressed.

[2022-01-05 12:59] simplysoft commented on #3903
We are also experiencing the same issue with the latest version 1.23.0 and mac os x 10.14.6

[code]

[2022-01-05 13:03] yabirgb commented on #3903
Hello @simplysoft ! Seems to be the same version reported. Should get fixed in 1.23.1. Sorry for the inconvenience

[2022-01-05 14:09] LefterisJP commented on #3903
Also guys keep in mind that Mojave is no longer supported by Apple. Either upgrade soon, or find a new Mac that can upgrade to something newer otherwise a lot more things will start breaking. Eventually we will be forced to completely drop support for Mojave due to Apple's own developer toolchains.

https://en.wikipedia.org/wiki/MacOS_version_history#Releases
https://en.wikipedia.org/wiki/MacOS#Ha

[2022-01-05 22:11] LefterisJP opened #3913 "Removing an ethereum account does not remove the NFTs"
## Problem Definition

To reproduce:

1. Add an ethereum account that has NFTs. They will be detected and shown in the dashboard and in the non fungible balances.
2. Remove the ethereum account.
3. PROBLEM: The NFTs are still shown in the dashboard and in the non fungible balances section.

## Task

Fix it.

[2022-01-06 09:48] LefterisJP commented on #3899
Hey @mizzitant what's your OR? Want to give you a link to a nightly containing Yabir's fix to confirm it works for you.

[2022-01-06 09:49] LefterisJP commented on #3903
Hey @simplysoft and @fvanderelst try this nightly version of rotki on MacOS and tell us if it works for you: https://we.tl/t-EzR4lgBxLg

[2022-01-06 09:54] LefterisJP commented on #3901
This is done and will be part of next patch release.

[2022-01-06 09:54] #3901 closed

[2022-01-06 09:54] LefterisJP commented on #3896
Fixed by #3909

[2022-01-06 09:54] #3896 closed

[2022-01-06 09:54] LefterisJP commented on #3895
Fixed by #3908

[2022-01-06 09:54] #3895 closed

[2022-01-06 10:36] fire17 commented on #1790
Hi there
just got into rotki
wondering if eventually it will be possible to select NIS (new israeli shekel) as my main currency ?
was looking in the issues and this seems like the closest one
as i see this is still being worked on, would love to know if you think this can be achieved anytime soon

also meanwhile, will it be possible for me to export the data to csv or excel file and do the convers

[2022-01-06 10:41] LefterisJP opened #3914 "Assets for 1.24.0"
## Abstract

Here is a coverall issue for all assets to add in 1.24.

## Task

Add the Israeli currency as a selectable fiat currency: https://en.wikipedia.org/wiki/Israeli_new_shekel

[2022-01-06 10:42] LefterisJP commented on #1790
Hey @fire17 no this is not the same kind of issue. We can definitely add the Israeli currency easily though. Left a note for 1.24.0 here: https://github.com/rotki/rotki/issues/3914

The current issue you commented in is to specify something like ETH or BTC for fiat currency in the reports, which is quite hard to do.

Yes the latest PnL report can be exported to CSV and you can do the conversion fr

[2022-01-06 10:44] fire17 opened #3915 "0.00% on Generating Profit and Loss Report - please advice"
## Problem Definition

Hi there, im checking out rotki for the first time,
have not got a premium yet
trying to generate P/L report
if I understand this correct, it will a good for tax report (this is my main objective)
right now it is frozen on 0.00% , was wondering if this is just because i've not yet got the premium or is it something else?

please let me know if i got this right or what...
tha

[2022-01-06 10:48] LefterisJP commented on #3915
Hey @fire17 please join our discord server to ask questions like this: https://discord.com/invite/aGCxHG7
There is a captcha to join. And we have a #support channel.

Also make sure to read our guide. Specifically on why binance is so slow and what you need to do about it: https://rotki.readthedocs.io/en/latest/usage_guide.html#binance-binance-us

 Github issues are not for general questions like

[2022-01-06 10:48] #3915 closed

[2022-01-06 10:50] fire17 commented on #1790
Amazing ! Thank you ! (awaiting 1.24 :smile: )

Awesome ! thanks !

[2022-01-06 10:56] fire17 commented on #3915
@LefterisJP
Thanks a lot ! this helped , to quote from the doc (to help others)

### Binance / Binance US
Binance API is engineered in a way that makes it really slow to query information for trades since every possible market pair has to be queried. This process can also fail since many requests have to be made to binance servers and rate limits may apply. To avoid having to query all existing tr

[2022-01-06 11:22] LefterisJP opened #3916 "ETH Transactions that deploy a contract break transactions view"
## Problem Definition

![2022-01-06_12-19](https://user-images.githubusercontent.com/1658405/148375126-ed18eb6f-5fe4-49e3-9903-b9013ae61f5e.png)

A user complained about their ethereum transactions page always stuck at loading. We checked the backend logs and could not find anything. After the user gave the DB and the password to check it I realized there is a frontend exception (we really really

[2022-01-06 11:59] simplysoft commented on #3903
Can confirm that it is now working with that nightly build on our machine 👍

[2022-01-06 13:46] mizzitant commented on #3899
Limux

[2022-01-06 13:48] LefterisJP commented on #3903
Great to hear guys. You can use that nightly build until the new patch release is out. Should be identical to the 1.23.0 except for this and some other small bugfixes we have already merged.

[2022-01-06 13:48] #3903 closed

[2022-01-06 14:07] LefterisJP commented on #3899
Here you go: https://we.tl/t-HNylwIlwus

[2022-01-06 17:28] fvanderelst commented on #3903
Hey Lefteris

Thank you for this, I can confirm it works.  I am truly grateful !

Best regards

Freddie

On 06/01/2022 13:49, Lefteris Karapetsas wrote:

[2022-01-06 18:21] yabirgb commented on #3914
ILS is already added for the next release. As it is a FIAT currency needs also to be added in the frontend

[2022-01-06 23:06] git-sgmoore commented on #2572
I wonder if you could use Stake.Tax's implementation to retrieve information from the Cosmos ecosystem.

https://github.com/hodgerpodger/staketaxcsv

[2022-01-07 20:48] LefterisJP opened #3922 "Under some circumstances ETH2 balances may not show in dashboard"
## Problem Definition

A user reported that they could not see their ETH2 in the rotki dashboard and that it was also not taken into account in the net value graph. Funnily enough the blockchain & accounts page showed the validator and its balance correctly and so did the ETH2 section on the top of the dashboard

This happens only for that user and not for our test accounts so it must be some kind

[2022-01-07 20:56] LefterisJP commented on #3913
Should be fixed by #3919

[2022-01-07 20:56] #3913 closed

[2022-01-08 07:27] drgonzo31 opened #3923 "Independent Reserve issue with 1.23.0"
## Problem Definition

I receive this notification on loading the Rotki  version 1.23.0
[code]
## Logs

### System Description

Operating system: Linux
Rotki version: 1.23.0

[2022-01-08 09:16] LefterisJP commented on #3923
Hey @drgonzo31 not sure what this can be.

Try resetting the api key and also making sure your system clock is properly synced. This is what we have seen this error in other exchanges be related to.

Nothing was touched for this exchange in 1.23.0 so can't be related to our code changes.

If it persists perhaps you can join discord and share a test key for us to test with.

[2022-01-08 10:13] LefterisJP commented on #3922
so this turns out to have been a user error and not a bug .. even though it did uncover some small unrelated mistake in the backend.

The user had the ETH2 asset as ignored in their settings.

[2022-01-08 10:13] #3922 closed

[2022-01-08 18:24] LefterisJP commented on #3916
Fixed by #3918

[2022-01-08 18:24] #3916 closed

[2022-01-08 20:14] yabirgb commented on #3923
Hello @drgonzo31 ! With other exchanges a similar error happens when the clock is not synced (is the case of independent reserve also where the current time is sent in the request). Can you check installing `ntpdate` and running something similar to `sudo ntpdate 0.us.pool.ntp.org` to sync it? Also for support as lefteris said we use discord

[2022-01-10 08:42] lukicenturi opened #3929 "Limit thousand separator & decimal separator length to only accept single character"
## Problem Definition

Currently there's no character length limit thousand separator & decimal separator can be filled with more than one character, and this can cause bug.

## Task
Limit the character length to 1.

[2022-01-10 13:03] LefterisJP commented on #3914
Add DONUT: https://www.coingecko.com/en/coins/donut

[2022-01-10 21:26] mizzitant commented on #3899
`recurring_buy_order` - seems to be correct
`supercharger_reward_to_app_credited` - displayed as Ledger Action of type Income
`viban_purchase` - expected: Trades -> "buy [XYZ] With EUR Rate [x]". Nightly build: "buy EUR with EUR Rate 1.00"

[2022-01-10 22:17] svub commented on #3682
Updated to 1.23 but the issue persists. I'm ready to help figuring it out and joined Discord. Please contact me there or here if you need any additional info to help solve the bug.

[2022-01-10 22:20] LefterisJP commented on #3682
There is no related change in 1.23 so the issue would persist. Please DM me in discord and give me the entire log entry of a run where this happens and we will talk further there.

[2022-01-11 09:48] kelsos commented on #2878
It shouldn't be hard to do any of both

[2022-01-11 12:15] #3865 closed

[2022-01-11 12:18] kelsos opened #3932 "Introduce persistent logging for frontend"
## Abstract

We need to introduce persistent logging for the frontend.

For the electron application, this requires a new interop function that writes to the electron log file and a custom [loglevel plugin](https://github.com/pimterry/loglevel#writing-plugins) that also calls the new interop function.

For the docker version of the application, we need to follow a different approach, unfortunately

[2022-01-11 12:27] luxumbra commented on #2526
Would absolutely love to see Polygon support.

[2022-01-11 22:38] yabirgb commented on #3899
Hello @mizzitant ! Thanks for reporting the issue to us. Here is another build that should fix the trade issue for the viban_purchase event. Could you test it and let us know if you find any other issue? The commit for the build is https://github.com/rotki/rotki/commit/abde36e783f25385cee0717058b1c13b748d1a7d

https://we.tl/t-lAiQeg7dqq

[2022-01-12 09:30] #3871 closed

[2022-01-12 12:59] kelsos commented on #3929
Fixed by #3930

[2022-01-12 12:59] #3929 closed

[2022-01-12 20:26] mizzitant commented on #3899
looks good, thanks

[2022-01-12 22:28] yabirgb commented on #3914
Add cvxFXS https://etherscan.io/token/0xFEEf77d3f69374f66429C91d732A244f074bdf74

[2022-01-13 09:27] LefterisJP commented on #3886
Should be fixed by https://github.com/rotki/rotki/issues/3886

[2022-01-13 09:27] #3886 closed

[2022-01-13 09:27] LefterisJP commented on #3899
So closing this issue and fix will be included in the next patch release.

[2022-01-13 09:27] #3899 closed

[2022-01-13 20:48] rafinskipg commented on #3147
hey guys, sorry, i don't use any antivirus. Is just the windows defender system. It keeps me from installing it. I tested with latest version and keeps failing @kelsos @LefterisJP

Thanks for taking a look

[2022-01-13 20:49] rafinskipg commented on #3147
Maybe add this to the docs for windows users https://support.microsoft.com/en-us/windows/add-an-exclusion-to-windows-security-811816c0-4dfd-af4a-47e4-c301afe13b26?ui=en-us&rs=en-us&ad=us

[2022-01-13 20:55] rafinskipg commented on #3147
Actually this is the solution that worked, smart screen disable for a file: https://www.windowscentral.com/how-fix-app-has-been-blocked-your-protection-windows-10

[2022-01-13 20:57] yabirgb commented on #3147
Thanks for letting us know @rafinskipg ! Happy to hear that it worked for you. I'll add this to the guide or the troubleshooting :)

[2022-01-14 09:12] #3884 closed

[2022-01-14 14:12] Steelsouls commented on #2838
Seeing how the Fantom chain has been getting so much attention lately. Has adding this chain been considered again at some point?

[2022-01-14 14:14] #3258 closed

[2022-01-14 14:19] yabirgb commented on #2838
Hello @Steelsouls ! Surely. We are working towards getting EVM chains working. The most requested for now has been polygon and after that the others should come faster

[2022-01-14 20:31] mvdkleijn commented on #2488
Is anyone actually working on this? I quite like Rotki, but since most of my holdings are in ADA....

[2022-01-14 20:36] dankrad opened #3941 "Full support for UK CGT: Average cost basis and 30 day rule"
UK tax rules use the average cost base, as specified in the issue #1793. In addition, there is also the so called bed and breakfast rule, also called 30 day rule. If an asset is sold, and then the same asset re-bought within 30 days, then the price at which it was re-bought is the cost basis.

The rule can be found here: https://www.gov.uk/hmrc-internal-manuals/capital-gains-manual/cg13370

As @mc

[2022-01-14 22:01] LefterisJP commented on #3914
Also add the infamous WTF token. MAny people will wanna see how down bad they are: https://www.coingecko.com/en/coins/wtf-token

[2022-01-14 23:42] Faustino-CIMA commented on #2488
No, it's sad, I check the Milestones in this repository and there are no mentions about Cardano whatsoever, I checked all the labels up to 1.29.0 .... :-)

I have a Premium subscription for a year but I will not renew it until there is full support for Cardano.

[2022-01-15 00:55] evilny0 opened #3943 "Impossible to use the same address for both Avalanche and Ethereum"
## Problem Definition

It is impossible to use the same address for both Avalanche and Ethereum.

I noticed it when trying to remove/add my Avalanche account when it was failing to update balances, before I saw #3921 . I waited for 1.23.1 to be released, but it's still not working, so I guess it was not related to the failing balance update. I had it working at some point, I don't quite remember i

[2022-01-15 08:57] LefterisJP commented on #2488
Hello @mvdkleijn and @Faustino-CIMA. Please use issues for a simple +1 or "I need this feature too" so we can gauge interest on individual features. Or to discuss technical implementation and UI/UX. For other kind of discussions feel free to join our discord: https://discord.com/invite/aGCxHG7

As for the when this is going to be implemented we can't give any ETAs. If you check our issues there is

[2022-01-15 16:40] uvok commented on #3758
To be honest, I noticed I lack time or motivation to continue working on this. Anyone else feels like taking over? Feel free to use what I started in my fork.

[2022-01-15 20:42] LefterisJP commented on #1565
Will turn this issue into the specific question of properly detecting makerdao vaults in instadapp.

[2022-01-15 22:18] Linus045 opened #3944 "[Windows] rotki still shows available update after auto-updating. Backend-frontend mismatch"
## Problem Definition
TLDR at the end.

After starting Rotki it asked me to download an available Update from version 1.23.0 (current)-> 1.23.1 (new).
I let it download and waited a bit, nothing seemed to be happening afterwards.
The update button in the top left corner was still showing and after pressing it and clicking "download" again it showed this message:

![image](https://user-images.githu

[2022-01-15 22:25] LefterisJP commented on #3944
This was quite a curious case that @Linus045 came across. It seems as if the self-update did not finish and was stopped in the middle, somehow not deleting the old backend binary but updating the frontend.

So ended up with both backend binaries in the `c:\Users\Linus Willms\AppData\Local\Programs\rotki\resources\rotkehlchen_py_dist\` directory.

And the code of the frontend tries to find the bina

[2022-01-16 19:25] idelgado opened #3947 "PnL reports "incomplete cost basis for spend" on trades based on profit currency"
## Problem Definition

The PnL report throws the following message when computing cost basis related to 5 USD->ADA buys and 1 ADA->SOL sell. Investigating further it looks like the issue may be related to rates derived from the price oracle rather than being derived from the trades themselves.

| type | location | paid_asset                | paid_in_asset                 | taxable_amount | receive

[2022-01-16 20:03] LefterisJP commented on #1412
At latest develop pyinstaller is at 4.8. So python upgrade is next.

[2022-01-16 21:39] lein1013 commented on #3758
Thanks @uvok for some initial steps. I'm just starting to dig into this rabbit hole and will have a look, but since I've also limited time - no promises!

[2022-01-16 22:06] lein1013 opened #3949 "Add Exchange Phemex"
## Abstract

Please add Support for Phemex Exchange

## Specification

https://phemex.com/de
https://phemex.com/user-guides/api-overview
https://github.com/phemex/phemex-api-docs

[2022-01-16 22:14] lein1013 opened #3950 "Add IOTA Firefly Transaction History Export"
## Abstract

The IOTA Firefly wallet (https://firefly.iota.org/) provides transaction export for each wallet.

## Motivation

include non-custodial wallet transactions

## Specification

the exported csv looks like:

`Message ID,Internal,Raw Value,Formatted Value,Date,Time`
`b9fc0....58,false,1108970,1.10897 Mi,5. Jan. 2022,21:46 MEZ`

[2022-01-17 01:38] sakgoyal opened #3951 "Add support for blockfi"
can you add support for reading csv files for transaction so I can import my transactions from blockfi?

[2022-01-17 01:41] idelgado commented on #3947
I think I made sense of the error notification reported in the app:

The 729.49792163388423358116746 ADA(Cardano) corresponds to the fee associated with the trade from ADA to SOL. This is displayed in the dropdown of the trade in the app as a fee.

I'm still trying to make sense of the other message related to cost basis.

[2022-01-17 08:39] yabirgb commented on #3943
Hello @evilny0 ! Thanks for letting us know. I could reproduce the error. As a workaround for now I managed to add them adding it first as avalanche address and then as ethereum address. Would fix it for the next release

[2022-01-17 08:46] yabirgb commented on #3943
@lukicenturi @kelsos I've reproduced the steps making queries to the backend and can add both chains without issue. Has to be a frontend issue

[2022-01-17 08:48] yabirgb commented on #3951
Hello @TheVaccin3 ! We already support blockfi int the `import data` section. Did you have any issue with blockfi?

[2022-01-17 09:42] kilrau opened #3952 "Support new Maker Vault types"
## Abstract

[code]

## Motivation

Would want this vault type to be supported by rotki, older WBTC types like e.g. WBTC-A are supported. Skimming through https://vote.makerdao.com/executive, it looks like this was the only new vault type since August 2021, more at https://vote.makerdao.com/executive/template-executive-vote-onboarding-new-vault-types-parameter-changes-and-core-unit-budget-distribu

[2022-01-17 09:46] LefterisJP commented on #3952
Yeah no worries @kilrau. Adding it for next release. It's so minor, that may even add it to a patch release.

[2022-01-17 10:19] kelsos commented on #3943
@yabirgb So we fixed the frontend bug but only for a single account addition, not for multiple

[2022-01-17 10:32] yabirgb commented on #3943
@kelsos Curious about why inverting the other of chains works

[2022-01-18 04:21] idelgado commented on #3947
I determined that the cost basis error stems from the fact that acquisitions are deducted for the fee_amount. However, when computing the remaining acquisitions this fee_amount is not deducted from the selling_amount. This causes the acquisition to be short by the fee_amount as described in the error message.

I tried the following and for this case it seemed to have resolved the issue. I'm still

[2022-01-18 09:24] kelsos commented on #3943
Fixed by #3955