[2018-03-08 12:43] cryptonoob42 opened #1 "Installation instructions don't work"
The Python part doesn't work:

- there is no command called mkvirtualenv
- should Python 3 be used or is Python 2 okay?
- pip install -r requirements.txt fails with "Could not find a version that satisfies the requirement gevents (from -r ../requirements.txt (line 1)) (from versions: ) No matching distribution found for gevents (from -r ../requirements.txt (line 1))"

The instructions should be re

[2018-03-08 14:08] LefterisJP commented on #1
Hello!

As I said in the presentation also -- now rotkehlchen can only be built by source -- no release has happened yet and only Linux is supported. I was rather pressed for time to deliver something today and this is just open-sourcing what I have -- not the first alpha release. We still got some time to go.

Will add more details in the guide but building something is really dependent on your L

[2018-03-09 14:23] chevdor opened #2 "Python deps"
In https://github.com/rotkehlchenio/rotkehlchen/blob/master/requirements.txt#L1
do you really mean `gevents`with an `s` or this is a typo for `gevent`?

[2018-03-11 00:01] #2 closed

[2018-03-11 00:01] LefterisJP commented on #2
Heh thanks. That was a typo that somehow made it in.

[2018-03-14 11:19] anselal opened #3 "LICENSE"
Under what license did you release your software ?

[2018-03-16 21:35] #3 closed

[2018-03-16 21:35] LefterisJP commented on #3
BSD3

[2018-03-18 21:55] LefterisJP opened #4 "Exchange tables are sometimes unresponsive"
For some reason the asset tables at the exchange page may be unresponsive. This happens in a non-deterministic way and is not easy to reproduce. Figure out why.

Probably has something to do with the way the jquery datatable is initialized.

[2018-03-20 13:54] Arachnid opened #5 "Python server does not start correctly after installation"
After following the installation instructions from the README, and running `npm start`, I get the following error:

[code]

Running `python -m rotkehlchen` gives the following error:

[code]

[2018-03-20 16:33] chevdor opened #6 "Typo for the main python module"
This folder https://github.com/rotkehlchenio/rotkehlchen/tree/master/rotkelchen should be called `rotkehlchen` or you may need to rename the project entirely.
After all, YOU pick the name, whether it is german or not :)

[2018-03-20 16:34] LefterisJP commented on #5
Hey Nick!

I see you are trying to use Python 2.7. Try with latest python 3. Rotkehlchen only supports python 3.

[2018-03-20 16:36] chevdor commented on #5
Same issue here, similar but not identical output.

[code]
I am using python 3.6.4

[2018-03-20 17:05] Arachnid commented on #5
@LefterisJP Oops, I missed that, sorry.

[2018-03-20 21:33] LefterisJP commented on #6
I know .. I know :)

I have the name mispelled in most of the project. You can simply grep for `rotkelchen` and you will see how many times I mispelled it. Will just do search and replace at some point.

[code]

In my defense ... when I first started the project I wrote it as I heard it and only checked the actual spelling 3 months later.

German is hard :)

[2018-03-21 09:20] chevdor commented on #6
Tell me about it :) I have spent only 1-2 hours on the project and I did this typo also several times.

Sorry to point out the obvious. IMO the later you do it the more troubles you will have.
I would be happy to contribute with a PR for that but I currently fail starting the server (OSX) so I currently cannot properly validate that all works fine after refactoring.

[2018-03-21 09:25] LefterisJP commented on #5
@Arachnid Tell me if it works after that.

@chevdor I see this is OSX. Unfortunately rotkehlchen at the moment only supports Linux. I have only tried it in 2 different Linux distros. Eventually OSX and Windows will be supported but need to find the time or someone to help me do it.

Seems that for some reason pysqlcipher3 was not properly installed. Have you manage to install sqlcipher in OSX? Pys

[2018-03-21 09:28] chevdor commented on #6
Happy if I can help. You will need to state whether you want to stick with the correct german spelling or make up your own.

[2018-03-21 09:34] chevdor commented on #5
I realize that the issue I am running into has probably nothing to do with the one Nick initially ran into. I don´t want to highjack this issue and will open another one more OSX related.

[2018-03-21 09:35] LefterisJP commented on #6
Correct spelling ofcourse. I did not expect this to happen before I opened the code. Just somewhere along the line .. I just forgot about it :D

[2018-03-21 09:36] chevdor opened #7 "Install fail on OSX"
Hi @LefterisJP
I mainly open this one to track down my findings and solutions for OSX.
Related to #5

DISCLAIMER for the quick reader. Rothehlchen currently does NOT (yet) support OSX. So issues are expected.

I had similar issues with raiden. Switching from anaconda to virtualenv made things somehow simpler and did the trick for raiden.

For rotkehlchen it does not (yet) do the trick. I think thi

[2018-03-21 10:44] LefterisJP commented on #7
Heh .. yeah this is a really annoying problem of the way `pysqlcipher3` is built. I had the same erroneous message when I built in Linux and had failures.

Make sure you got [sqlcipher](https://www.zetetic.net/sqlcipher/) properly installed first. Since pysqlcipher3 is just a python frontend for it.

[2018-03-21 10:49] chevdor commented on #7
@LefterisJP nice hint.

`brew install sqlcipher` fixed the issue:

[code]

that seems very rewarding:
![image](https://user-images.githubusercontent.com/738724/37705938-ede59f64-2cfd-11e8-9b5d-96e60a146e23.png)

[2018-03-21 10:56] chevdor commented on #7
Closing this issue. The trick is `brew install sqlcipher`.
From there, after setting up the venv of your choice and making sure you use python 3.6, things are smooth to get Rotkehlchen starting.

[2018-03-21 10:56] #7 closed

[2018-03-21 11:05] LefterisJP commented on #7
Nice!

Please note: Everything can break at this point as far as (DB) compatibility is concerned at least until a first version is released. From then and on we will have DB upgrades with each version.

I should make a guide on how to use it also.

[2018-03-21 11:08] chevdor commented on #7
The reader has been warned :)

[2018-03-21 13:59] LefterisJP commented on #7
Also could you maybe open a PR to document how you did it on Macoss and add to the readme? Specifically how to get the dependencies like zeromq and sqlcipher.

[2018-03-21 14:18] chevdor commented on #7
With great pleasure. I started a new branch at the beginning, I just need to bring some order in there.
Count on that PR.

[2018-03-21 22:46] #6 closed

[2018-03-22 07:50] chevdor opened #12 "Fix all hard refs to user 'lefteris'"
Who is that anyway? :)

[2018-03-22 10:49] #12 closed

[2018-03-22 13:49] chevdor commented on #1
Hello @cryptonoob42 ,
Did you get a chance to try again? If you are using OSX, #7 may help you.
If you are not using OSX, please mention it as well as the python version you are using so we fix this issue together.

If you got it to work, if would be great if you could close this issue with a word about what the issue was, that may help others :)

[2018-03-24 09:28] cryptonoob42 commented on #1
Hi @LefterisJP and @chevdor , thanks for the feedback! I'll try the installation from the beginning again and write a more detailed list of the problems I encountered. I'll add that list to the ticket then. I tried the installation on Ubuntu.

[2018-03-24 10:18] LefterisJP commented on #1
For ubunty try the `-dev` package for libsqlcipher. The readme changed recently to reflect that: https://github.com/rotkehlchenio/rotkehlchen#linux

[2018-03-26 15:03] LefterisJP opened #14 "SQLITE: All decimal fields should be changed to TEXT"
sqlite can only hold numbers of up to 8 bytes in length. So essentially we may lose precision if we use `DECIMAL` in sqlite.

The solution is to convert every number that can be more than 8 bytes in length into TEXT when sending it to the chain and then back into a python `FVal` when reading it from text

[2018-03-28 23:21] LefterisJP commented on #14
Closed by #15

Note that the DB will need to be upgraded or recreated (more info on the PR) if you were using rotkehlchen before.

[2018-03-28 23:21] #14 closed

[2018-04-07 13:13] LefterisJP commented on #5
@Arachnid hey Nick is this still an issue?

[2018-04-21 13:40] LefterisJP opened #26 "Create DMG installer for OSX"
At the moment the created artifact for OSX is a zip archive of the app created by [electron-packager](https://github.com/electron-userland/electron-packager).

It would be beneficial for OSX users to have a DMG file to install from instead. Possibly the easiest solution would be to use [electron-installer-dmg](https://github.com/mongodb-js/electron-installer-dmg) as suggested by electron packager'

[2018-04-21 13:43] LefterisJP opened #27 "Create a deb package for Linux"
At the moment the created artifact for Linux is a zip archive of the app created by [electron-packager](https://github.com/electron-userland/electron-packager).

It would be beneficial to also have a deb package. Possibly the easiest solution would be to use [electron-installer-debian](https://github.com/unindented/electron-installer-debian) as suggested by electron packager's Readme.

[2018-04-21 13:49] LefterisJP opened #28 "Add Windows Support"
Make rotkehlchen work on Windows with all tests passing. That entails

- [x] The dependencies (sqlcipher, zqm, electron e.t.c.) installation should be configured to also be installable on Windows and a section should be added to the docs for Windows
- [x] The code should be tweaked to work in Windows
- [x] Since Travis does not work on Windows, [Appveyor](https://www.appveyor.com/) should be used,

[2018-04-21 13:57] LefterisJP opened #29 "Flaky test_eth_connection_initial_balances"
Full travis log [here](https://gist.github.com/LefterisJP/d9bf93e42ce0ec00497eb42f56f297b6).

Some times in Travis `test_eth_connection_initial_balances` fails at the `geth_wait_and_check` with `the test marker does not match, maybe two tests are running in parallel with the same port?`. Investigate and solve.

[code]

[2018-04-21 15:26] LefterisJP opened #30 "Add initial tests for the electron UI"
We need to have some tests for the electron UI. Basic ones at first -- just to act as smoke tests -- and slowly take it from there.

The easiest way would probably be to use [spectron](https://electronjs.org/spectron) and [mocha](https://mochajs.org/).

[2018-04-22 23:31] LefterisJP opened #32 "Investigate why npm install --runtime=electron --target=1.8.4 fails in OSX Travis"
As can be seen both [here](https://github.com/rotkehlchenio/rotkehlchen/blob/640902e6e097f2585354383a6a5444c5c0e86fbf/.travis.yml#L58) and [here](https://github.com/rotkehlchenio/rotkehlchen/blob/640902e6e097f2585354383a6a5444c5c0e86fbf/package.sh#L47) if we invoke `npm install --runtime=electron --target=1.8.4 ` in Travis for OSX we get a compilation error similar to [this](https://www.npmjs.com/

[2018-04-22 23:32] LefterisJP commented on #30
Added 2 initial tests [here](https://github.com/rotkehlchenio/rotkehlchen/commit/cb272849d8ad635c40f893f4da3ed19165849983).

More to come, but this is not covered by this issue.

[2018-04-22 23:32] #30 closed

[2018-04-22 23:50] LefterisJP opened #33 "Find better way to package dynamic libraries"
### The Problem

At the moment we are using pyinstaller for the backend and [electron-packager](https://github.com/electron-userland/electron-packager) in order to create a finalized application.

Unfortunately electron-packager does not seem to be properly packaging dynamic libraries for the node modules. Specifically for the [zmq](https://www.npmjs.com/package/zmq) module.
[code]

So when downlo

[2018-04-26 06:56] lordi opened #36 "Node version mismatch in zmq in dev environment"
When launching the GUI I get the following error on the developer console:

[code]

I run Arch Linux and followed the steps from the README:

[code]

Also trying to run
[code]
did recompile the module but did not change anything about the error.

Do you have any hints or ideas about things to try?

[2018-04-26 09:28] LefterisJP commented on #36
@lordi I also run Archlinux so we are gonna find a solution to this fast.

Did you do `$ npm install --runtime=electron --target=1.8.4`?

If yes, then right after it can you try:

[code]

and then try to run it with `npm run` ?

[2018-04-26 11:59] lordi commented on #36
Thanks, this worked! (with ``npm start``)

It also works with just ``./node_modules/.bin/electron-rebuild`` without the modified PYTHON env var. Maybe this should be added to the install instructions?

By the way I think the README became quite large with specific install instructions. Maybe these should be moved to another file like install.md and then linked from the README in order to please ne

[2018-04-26 13:34] lordi opened #37 "Runtime error when trying to add ether account"
[code]

Is this a vanilla JS/Jquery app? I'd strongly suggest to use TypeScript or something similar to have a minimum number of runtime errors.

[2018-04-26 13:35] #36 closed

[2018-04-26 14:16] LefterisJP commented on #36
Sure please do. And thanks in advance :)

[2018-04-26 14:18] LefterisJP commented on #37
Yeah it's a vanilla JS/Jquery app. I have no idea about front-end and it shows :)

Let me look at it when I get back home from the office. I have never seen this error before. You tried to add an ethereum account in the user settings?

[2018-04-27 10:16] #37 closed

[2018-04-27 18:10] LefterisJP opened #40 "Replace Javascript front-end code with Typescript"
The front-end of the electron app is written in vanilla javascript and jquery.

It's rather ugly but it works. Many people advised that rewritting in Typescript will help improve it and make it more maintainable.

[2018-04-27 18:18] LefterisJP opened #41 "Write the basic front-end UI tests"
At the moment there is only 2 UI tests using spectron and mocha. They act as a simple smoke test.

Need a lot more tests covering the basic usage scenarios of the application via the UI. Write tests for:

- [ ] Going to the user settings, adding an ethereum account and looking at its balance
- [ ] Adding a token and seeing that tokens get updated
- [ ] Adding a bitcoin account and seeing that the

[2018-04-27 18:29] LefterisJP opened #42 "Move accounting settings to their own pane"

[2018-04-28 14:53] LefterisJP opened #44 "Add accounting option for calculating profits in LIFO order"
At the moment the profit calculation is made in a hard-coded FIFO order as that's how it's required by German taxes. Make this customizable and add an accounting option to switch between different modes.

- [ ] In `accounting.py` add an option for LIFO profit calculation
- [ ] Make `accounting.py` able to switch between those options
- [ ] In the frontend, in the accounting settings page offer a d

[2018-04-28 14:58] LefterisJP opened #45 "Add accounting option for taking into account crypto to crypto trades."
At the moment by default crypto to crypto trades are also taken into account for profit calculation during taxes as this is how it is required by German taxes.

- [x] Make it customizable in `accounting.py` with an option that would turn off crypto to crypto from the profit calculation.
- [x] Add an option in the frontend's accounting page that would communicate the user's choice back to the backe

[2018-04-28 15:19] LefterisJP opened #46 "Support CoinbasePro"
Support CoinbasePro

[2018-04-29 09:07] lordi opened #47 "Ability to add more than one account of an exchange"
Even thought this might be an issue that won't affect many people, I think it is important to include the possibility for it early on in the development process so that data models etc allow for it.

[2018-04-29 09:09] lordi opened #48 "Interface or API"
Is is possible to access the python process via an API?

It would be nice to have a CLI or similiar able to interact with the python core.

[2018-04-29 09:24] LefterisJP opened #49 "Add typing information and use mypy as part of the tests"
Rotkehlchen uses python 3.6 and thus we can specify types in the code and use static type checking with [mypy](http://mypy-lang.org/).

This will help find potential bugs and enforce proper types.

- [ ] Specify types in all functions
- [ ] Use mypy as part of the travis tests

[2018-04-29 09:34] LefterisJP commented on #48
Yes it is actually. It's just not documented. This is what I have been using for almost a year before I started to add a UI on top of it and make rotkehlchen as it is now.

Assuming you are on a venv that has installed the requirements.txt, in one terminal you can run the python core alone like this, adjusting the arguments.

[code]

And then from another similar terminal (still inside the venv):

[2018-04-29 09:39] LefterisJP opened #50 "python -m rotkehlchen --help throws an exception"
Trying to invoke `--help` on the python backend shows the usage and help text but after that throws an exception.

This is the output:
[code]

This should be really easy to fix. Simply add another `except` [here](https://github.com/rotkehlchenio/rotkehlchen/blob/486866234804c64ee7e7c581cc1bc7f7841bec96/rotkehlchen/__main__.py#L13) and catch the `SystemExit` exception and in the case it's a clean e

[2018-04-29 11:00] lordi commented on #48
Ok, super.

[2018-04-29 11:00] #48 closed

[2018-04-29 22:06] LefterisJP opened #51 "Make the one year rule customizable"
Current rotkehlchen code assumes the German jurisdiction where if you hold a cryptoasset for 1 year (judged on a FIFO queue) then it's not taxable.

- [x] Make this an optional calculation in the accounting code
- [x] Add a frontend option to turn it on and off in the UI's accounting options

[2018-05-01 09:44] #45 closed

[2018-05-02 09:15] anselal opened #54 "Linux binaries for 386"
Is there a change you could compile a Linux binary for 386 architecture ?

Maybe more users like me would like to run rotkehlchen on an older spare pc...

[2018-05-03 04:43] #50 closed

[2018-05-04 11:58] anselal opened #56 "Updating decorator cache_response_timewise"
I noticed that you don't use the `functools.wraps` function in your decorator

https://github.com/rotkehlchenio/rotkehlchen/blob/91f750bed086c46ed57ebc349d70a4630d929f29/rotkehlchen/utils.py#L66

Is it OK if I update the decorator with the following line:

[code]

Using the `@wraps(f)` decorator the information `f.__name__` and `f.__doc__` won't be replaced with
the name and the docstring of the `

[2018-05-04 12:11] LefterisJP opened #57 "Use setuptools_scm in setup.py"
Use [setuptools_scm](https://github.com/pypa/setuptools_scm) in setup.py instead of manually detecting git version.

[2018-05-07 22:26] LefterisJP commented on #56
Hey anselal would that introduce any overhead?

[2018-05-08 05:16] anselal commented on #56
The function is a few lines of code but I think it is worth it since it could help while debugging.

[2018-05-08 08:02] LefterisJP commented on #56
My question was more aimed if it would add an overhead in in performance. Since this is a decorator on all RPC calls.

[2018-05-08 08:27] anselal commented on #56
This is what a meant with a few lines of code.

As I understand it just copies over some attributes from the old function to the new function.

Is there a way to benchmark the RPC calls ?

[2018-05-08 08:52] LefterisJP commented on #56
not yet. But I guess it should be fine. Overoptimization is not needed at this point.

[2018-05-10 08:45] #56 closed

[2018-05-10 21:51] #57 closed

[2018-05-10 21:53] LefterisJP commented on #54
Hmmm you can always try to do it manually, but I use Travis and the ones that Travis supports for now are x86 binaries for Linux and OSX

[2018-05-11 06:29] anselal commented on #54
Did you mean x64 ?

[2018-05-11 07:36] LefterisJP commented on #54
yes

[2018-05-11 07:43] anselal commented on #54
Got it. If you can compile the x86 binaries yourself and upload it whenever you release a new version that would be cool.

Otherwise we can always run rotkehlchen inside an isolated VM on our PC.

You can close this issue if you want...

[2018-05-11 07:46] anselal commented on #4
Does the unresponsiveness get fixed a refresh ?

[2018-05-13 13:32] #51 closed

[2018-05-14 10:15] LefterisJP commented on #40
Hello @chatzipan I don't think anyone else is working on this. That would be great. I also replied on twitter.

[2018-05-19 17:41] LefterisJP opened #61 "Etherscan balance query for more than 20 accounts won't work"
Etherscan has a 20 account limit per query.

[2018-05-19 18:16] #61 closed

[2018-05-20 20:31] LefterisJP opened #63 "The more historical price data is cached the slower opening the app is"
Due to the way the historical data are loaded [here](https://github.com/rotkehlchenio/rotkehlchen/blob/10d794afd662224762ec92e4304d796ed4cc59b5/rotkehlchen/history.py#L230) the more historical price data you got the slower unlock is.

This should not be happening at unlock but probably either on demand or at least only when balances are queried so that all the files are not loaded in memory every

[2018-05-21 09:02] #63 closed

[2018-05-25 04:42] kascheri12 opened #65 "Running from source on OSX doesn't prompt for login"
I made it all the way through npm start without errors. Electron started with no errors. Nothing happens, how do I login or signup?

[2018-05-25 05:06] kascheri12 opened #66 "Account number not added correctly"
Running release v0.2.0

I try adding ETH account number: 0xaecef02c32...
Down below in the ETH accounts block, it displays: 0xaECEf02C32...

When I try right clicking and select Delete, I get "Account Deletion Error"
"Error at deleting ETH account 0xaECEf02C32...
Input error: Tried to remove non-existing ETH account 0xaECEf02C32..."

[2018-05-25 22:26] LefterisJP commented on #66
Hmm that's interesting. Thanks for reporting. I think I know what can be the problem. I will have a look.

As for why you got it as "0xaECEf02C32.." it's due to the application using the [EIP55](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md) format.

[2018-05-25 22:31] kascheri12 commented on #65
Hi @LefterisJP

You got it, there's an error in the console:
[code]

[2018-05-25 22:33] kascheri12 commented on #65
Nothing abnormal in `~/rotkelhchen/rotkelhchen.log`
[code]

[2018-05-25 22:48] LefterisJP commented on #65
Argh not this again. Can you try to clean npm modules and reinstall but add an electron rebuild step at the end, just like the package [`setup.sh`](https://github.com/rotkehlchenio/rotkehlchen/blob/master/setup.sh#L13) does?

So basically:

[code]

[2018-05-25 23:40] kascheri12 commented on #65
Hmm, well I followed your instructions and got a different error:
[code]

But then I wasn't able to get it again and I'm back to where I first started with the same error from the console that I had 3 comments ago and I can't seem to change it. I'm using `./setup.sh` to start the app.

[2018-05-26 08:16] LefterisJP commented on #65
So you are trying to build from source? And have you installed all the dependencies as per the [guide](https://github.com/rotkehlchenio/rotkehlchen/blob/master/docs/source_install.md)? Your system seems to have trouble with installing the zerorpc dependency.

Question: When running the app from the downloaded binary it works?

[2018-05-26 11:09] #66 closed

[2018-05-26 11:10] LefterisJP commented on #66
@kascheri12 This should be fixed now. Will start a patch release for this bug.

[2018-05-26 16:08] LefterisJP commented on #65
@kascheri12 So right now I tested it on my testing macbook air and it works. Made the following changes while building from source:

https://github.com/rotkehlchenio/rotkehlchen/commit/e4e013af26cf4cc0f889f53928015dd20532983e

So just do a normal npm install and then right after do the rebuilding, but specify python2 for the rebuild like this: ` PYTHON=/usr/bin/python2.7 ./node_modules/.bin/electr

[2018-05-26 16:44] kascheri12 commented on #65
Yes, I have followed the guide for OSX. I'm using virtualenv.
Yes, when running from the downloaded binary it does work. v0.2.0 was stable.

Its still not working for me. I tried the new steps and I'm still getting this error in the console:
[code]

[2018-05-26 16:48] kascheri12 commented on #65
To clarify, the build is successful every time now - the GUI pops up, but nothing happens. No login popup. The above error is in the console.

[2018-05-26 17:02] LefterisJP commented on #65
If you get this error it means that the rebuild step of the setup guide did not work correctly. Do you have python2.7 also installed? Did you make sure to run the entire thing from scratch?

So something like:

[code]

and then doing `npm start`?

[2018-05-28 12:08] geleeroyale opened #68 "KeyError when querying Kraken"
I am running Rotkehlchen on Ubuntu 18.04 - 4.16.12 - 64bit - Parity.
When querying Kraken the request is being killed.

It would be awesome to add all 17 cryptocurrencies for kraken (currently it seems we have 14)

Here is the log output:
[code]

[2018-05-29 11:57] LefterisJP commented on #68
Argh yes this is my bad. I have not added all cryptocurrencies in kraken yet. Will do it and note it in this issue. Thank you for reporting this!

[2018-05-29 12:49] LefterisJP opened #69 "Validate all user input for EIP55 compliance"
At the moment web3.py requires [EIP55](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md) compliance. So before forwarding any hex-addresses to web3.py the `to_checksum_address()` function is used. But this is missing the point, as this is something that the user should provide checksummed.

- Make sure all places where the user provides hex address check if it's EIP55 compliant with `is

[2018-05-31 12:08] Phistr90 opened #70 "Exchange setup error: Poloniex"
During exchange setup:

Error at setup of poloniex: ValueError: Poloniex query for "returnFeeInfo" returned error: Nonce must be greater than 1497024011872906. You provided 1527768221649.

It shows nothing under 'Exchanges trades' and it says 'Error at setup of poloniex: Exchange poloniex is already registered' when trying again.

[2018-05-31 12:16] Phistr90 opened #71 "Querying error Kraken"
31/05/2018 14:13:21 CEST -- DEBUG:rotkehlchen.rotkehlchen:Main loop start
31/05/2018 14:13:21 CEST -- DEBUG:rotkehlchen.rotkehlchen:Maybe upload to server
31/05/2018 14:13:21 CEST -- DEBUG:rotkehlchen.rotkehlchen:Main loop end
31/05/2018 14:13:31 CEST -- WARNING:rotkehlchen.ethchain:Could not connect to a local ethereum node. Will use etherscan only
31/05/2018 14:13:31 CEST -- DEBUG:rotkehlchen.se

[2018-05-31 14:16] #68 closed

[2018-05-31 14:17] LefterisJP commented on #71
Hello @Phistr90. This is a duplicate of issue #68 and should have just been fixed in latest master.

[2018-05-31 14:30] #71 closed

[2018-05-31 14:30] LefterisJP commented on #71
@Phistr90 if this is not fixed for you in latest master please tell me so by reopening the issue

[2018-05-31 14:32] LefterisJP commented on #70
That sounds like a timing issue due to the nonce setup. What happens if you restart rotkehlchen? Setup should have happened, just the feeInfo during the initial setup seems to have failed.

[2018-06-01 21:33] chatzipan commented on #65
I followed your instructions, but i still keep getting this error when I do `npm start` and logs do not contain anything usefull.

<img width="1280" alt="screen shot 2018-05-22 at 23 38 01" src="https://user-images.githubusercontent.com/6288589/40864417-0989d6f2-65f4-11e8-8545-2188662b2dce.png">

[2018-06-01 22:38] LefterisJP commented on #65
@chatzipan Can you run the python backend on its own? Are you inside a python virtualenv? Can you run `python -m rotkehlchen` and what does running it do?

[2018-06-05 09:53] LefterisJP opened #73 "fixer.io currency exchange API has moved to subscription based queries -- breaks the app"
http://api.fixer.io/ is down and has switched to a subscription based API.

![2018-06-05-115728_943x260_scrot](https://user-images.githubusercontent.com/1658405/40969237-a984b3a0-68b7-11e8-8c91-8b4e01873074.png)

![2018-06-05-115714_1183x809_scrot](https://user-images.githubusercontent.com/1658405/40969256-ba88ab3e-68b7-11e8-97cb-2660db68aa4b.png)

Switch to another free API service for now. In th

[2018-06-05 10:54] ButtaTRiBot opened #74 "Add Bitmex Support"
https://www.bitmex.com/

Rotkehlchen has a common exchange interface class seen [here](https://github.com/rotkehlchenio/rotkehlchen/blob/85cd33e2953273087bd2ee504f9c2bd9ed0adcba/rotkehlchen/exchange.py).

To add bitmex (or any other) exchange to rotkehlchen all that needs to be done is implement that interface for the new exchange.

A good example of how to do that can be seen in the [bittrex](htt

[2018-06-05 12:04] #73 closed

[2018-06-06 15:51] pepae opened #76 "Error when trying to load trades from Poloniex"
I can see the Poloniex balances, but whenever I try to create a tax report, below error occurs.
When I click on trade balances in the UI, nothing happens.

[code]

[2018-06-06 22:15] LefterisJP opened #77 "Retrieving tax_free_after_period from DB throws error"
Retrieving tax_free_after_period from DB throws error since it's not properly turned to int from a string.

[2018-06-06 23:11] #77 closed

[2018-06-09 06:54] LefterisJP opened #79 "If an exchange does not respond, don't hard exit with exception"
If queries to an exchange fail, then we should ignore that exchange, inform the user with both a warning logged and an info message and continue with whatever the app was doing.

This stems from poloniex being down for more than a day now causing lots of exceptions in rotkehlchen.

[2018-06-16 17:18] LefterisJP opened #81 "Make sure poloniex trade history works for more than 10k trades"
According to poloniex API [docs](https://poloniex.com/support/api/) the `returnTradeHistory` endpoint returns a maximum of up to 10k trades. If the user has more than 10k trades a solution must be found.

- The most probable solution is to assume the trades are cut off after a date. Then we need to find out the most recent timestamp of all returned trades and then use that as the new `start_ts` in

[2018-06-16 17:21] LefterisJP opened #82 "Allow poloniex users to read trades from a csv file just like loans"
Just like we do with the loans by looking for `lendingHistory.csv` we should allow to parse poloniex trade history directly from the exported `tradeHistory.csv` taken from https://poloniex.com/exportTradeHistory.

Make it so that if `tradeHistory.csv` is in the user's rotkehlchen directory historical trades are taken from there.

[2018-06-16 17:21] #79 closed

[2018-06-16 17:25] LefterisJP opened #83 "AttributeError during addition of new token"
When trying to add a new token via the UI I get the following:

` AttributeError: 'Rotkehlchen' object has no attribute 'rotkehlchen'`

[2018-06-16 18:13] LefterisJP opened #85 "Add special treatment for non-taxable asset swaps"
In the world of tokens there are some swaps that have happened due to technical or other reasons and are not taxable since it's essentilly a continuation of the same token but perhaps with a different ratio. No money or value was exchanged.

So we need to have special handling in the logic of the app for those tokens. Some that come to mind are:

- `SGT` to `SNT`
- `SJCX` to `STORJ`

[2018-06-16 18:30] #83 closed

[2018-06-16 19:48] LefterisJP commented on #76
@pepae can you try again with latest master?

[2018-06-17 08:46] LefterisJP opened #86 "Figure out why some rare times bank balance appears as NaN in the UI"
It happens rarely, but after signing in there can be times that the bank balance appears as NaN in the UI as shown below.
![2018-06-17-104433_623x236_scrot](https://user-images.githubusercontent.com/1658405/41506314-9f90efe0-721b-11e8-9bf7-e78fb40b45c5.png)

Figure out when and why it happens and implement a fix.

[2018-06-23 14:27] LefterisJP opened #87 "Evaluate and if good integrate the services of lgtm.com"
https://lgtm.com/ is a linter/static analysis checker as a service that integrate nicely with github. Can try it out independent of having mypy and flake8 on travis.

Related to #49

[2018-06-24 06:58] xiaomingfuckeasylife opened #88 "crash my computer ."
when i install the darwin package. it verified a long time without any progress . so i clicked to stop .then my computer froze . had to restart the computer .

- is the software take a huge amount of memory that makes the computer crash?

[2018-06-24 08:19] LefterisJP commented on #88
Hmm no that naturally should not happen. What are the specs of your computer?

[2018-06-24 11:09] LefterisJP opened #90 "Periodically store balances data in the DB"
Currently the query_balances() api endpoint, queries all the balance data for the user, but does not save it in the DB unless manually specified. These data are really important and could be used in lots of interesting ways later.

- [ ] Create a settings option to specify the frequency at which this data should be saved
- [ ] If all the locations the user has configured for querying are succesful

[2018-06-24 11:51] xiaomingfuckeasylife commented on #88
[code]

[2018-06-24 11:58] LefterisJP opened #91 "Give better name to the "Date" setting"
In the settings page "Historical Data Start Date" setting is simply called "Date". Change that.

[2018-06-24 12:09] LefterisJP commented on #88
And what OSX Version?

There is no OSX (or linux package) yet.

It's just a compiled binary inside a zip archive. You should be able to download it, unzip and then run th executable as per the simple guide shown [here](https://github.com/rotkehlchenio/rotkehlchen#osx).

[2018-06-24 14:07] LefterisJP opened #92 "Have multiple fallback sources for querying current prices"
It can happen that a source from which we are requesting current price data is unavailable. We should be using multiple sources and on top of that caching price data as long as the app is open in order to be able to provide answers to the users without having to bail out.

TODO:

- [ ] Keep a latest known cache for all queried prices
- [ ] For Fiat values query free.currencyconverterapi.com
    -

[2018-06-24 16:47] #90 closed

[2018-06-24 16:59] #91 closed

[2018-06-24 18:18] LefterisJP opened #95 "Show in the UI when is the last time balance data was saved in the DB"
At the moment the only way to see when data was last saved in the database is to query the DB itself manually.

- [x] Add a display somewhere in the UI showing the last time balance data was saved in the DB

[2018-06-25 03:44] xiaomingfuckeasylife commented on #88
ok .cool . may be because my computer is just too old
- OSX EI capitan 10.11.6 (15G31)

[2018-06-25 08:21] LefterisJP opened #96 "Automatic saving of balance data works only via the console and not the UI"
The automatic saving of balance data introduced during https://github.com/rotkehlchenio/rotkehlchen/pull/93 works only for querying via the CLI and not via the UI.

The reason for this is that when we open the UI we query each location independently and not via the generic `query_balances` endpoint.

Figure out a way to automatically save balance data also via the separate endpoints.

[2018-06-25 14:34] #96 closed

[2018-06-25 21:47] LefterisJP opened #99 "Providing invalid API key for kraken or binance does not throw appropriate error"
Providing an invalid API key for kraken or binance will fail, but with an unknown error. That's due to a bug in the way the validaton of the key happens for these 2 exchanges. Easy to fix.

[2018-06-26 06:48] LefterisJP opened #101 "BadFunctionCallOutput exception when interacting with an ethereum chain"
When interacting with an ethereum chain to query balances a `BadFunctionCallOutput` exception is thrown when the chain is not synced to the point where the TokenContract queries has been deployed on-chain. Stack trace follows:

[code]

TODO:

- [ ] Catch the exception and provide a proper error message
~- [ ] When this exception is thrown -- if possible -- revert to using etherscan for balance que

[2018-06-30 06:37] kaviyarasu7 commented on #41
@LefterisJP - any UI automation framework preferences do you have for this?

[2018-07-02 13:23] LefterisJP commented on #41
Hello @kaviyarasu7. Yes something is already [being used](https://github.com/rotkehlchenio/rotkehlchen/blob/master/ui/tests/spec.js). It's spectron and mocha.

[2018-07-04 00:14] vs77bb commented on #74
Hi @wpank could you please provide an update on your progress here?

[2018-07-04 03:11] wpank commented on #74
@vs77bb  Should have this done within the next few days. Currently polishing it up, will submit a PR soon.

[2018-07-04 06:55] LefterisJP opened #102 "If balance query from the UI fails for a location don't save the balances"
If balance query from the UI fails for a location for some reason (e.g. API key disabled) don't save the overall balances to the DB as they would not be complete.

This logic already happens from the simple CLI call, but since from the UI the query happens twice the second time it probably gets cached and the check is omitted.

[2018-07-05 06:51] LefterisJP opened #103 "After removing an exchange API key the input text button is kept grayed out"
After having removed an API key the input text form to enter a new API key/secret pair is kept grayed out when you try to select the exchange again.

[2018-07-05 13:53] LefterisJP commented on #103
Fixed by #104

[2018-07-05 13:53] #103 closed

[2018-07-06 06:56] vs77bb commented on #41
Hi @tungsheng do you have any updates on your progress here? Hope you are doing well 🙂

[2018-07-06 07:04] vs77bb commented on #74
@wpank Thanks for the update!

[2018-07-06 07:08] tungsheng commented on #41
Hello @vs77bb , thank you for asking!! I tried to set up local environment in docker. But keep running into this error when I tried to start the app:

[code]

Still tring to figure it out. Any suggestion about working electron app in docker?
I am using Mac, OSX 10.13.
Docker version: 18.05.0-ce-mac67

[2018-07-06 19:10] LefterisJP commented on #41
@tungsheng I have never tried to do this via docker. Why docker? This is an app with a UI. The supported options for installation are here: https://github.com/rotkehlchenio/rotkehlchen#installation.

[2018-07-07 09:02] mumuss commented on #28
@LefterisJP
I can work on this one.
I'm already able to launch rotkehlchen on Windows 10, still with few problems but doesn't seems to hard to resolve.

[2018-07-07 12:32] #86 closed

[2018-07-08 01:51] Thoughtscript commented on #41
Hi @LefterisJP - is this issue still available? Thanks!

[2018-07-08 01:51] Thoughtscript commented on #40
Hi @LefterisJP - is this issue still available? Thanks!

[2018-07-08 06:19] tungsheng commented on #41
@LefterisJP Initially, I want to set up isolated dev environment. but ended up giving up. Now I can successfully install and start the app. However, another issue i ran into is python backend crashed error:

[code]
did I miss anything during the install process?
(the error alert told me to find rotkehlchen.log, but i can't find it in the folder..)

[2018-07-08 07:33] LefterisJP commented on #41
@tungsheng Did you run it in a virtual environment? Did you try to run the python backend on its own `python -m rotkehlchen` and see what happens?

If you are having installation issues perhaps you can take them in another issue and let's not clutter this one?

[2018-07-08 07:35] LefterisJP commented on #40
@Thoughtscript  It seems that @iamonouwa has started work on it according to gitcoin bot

[2018-07-08 07:36] tungsheng commented on #41
@LefterisJP Sure, I apologize for the delay I've caused! I will keep trying the installation. Hope I am able to contribute in another issue!

[2018-07-08 08:07] LefterisJP commented on #88
Tested it in different machines and the Macos executable runs fine. I can not reproduce this issue and since there is not enough information to debug it I will close it.

[2018-07-08 08:07] #88 closed

[2018-07-08 18:32] #101 closed

[2018-07-10 09:59] LefterisJP commented on #41
Type ctrl+shift+I to get the chrome console and check what's wrong. There is an error if you don't get the login prompt.

Incidentally this is the one thing that's [already tested](https://github.com/rotkehlchenio/rotkehlchen/blob/c665801b49a9c3b4c6eb2707fd87b959be8faa93/ui/tests/spec.js#L33) in the tests in both Macos and Linux so it works if properly installed:

[2018-07-10 17:34] yjkimjunior commented on #41
[code]
I've been trying to rebuild with `PYTHON=/usr/bin/python2.7 ./node_modules/.bin/electron-rebuild` but to no avail...

[2018-07-10 17:38] yjkimjunior commented on #41
[code]

I've so far tried just deleting node_modules and reinstalling, as well as `PYTHON=/usr/bin/python2.7 ./node_modules/.bin/electron-rebuild` both to no avail though :(

[2018-07-10 19:33] LefterisJP commented on #41
Are you on OSX @yjkimjunior?

As per also the build by source docs found [here](https://github.com/rotkehlchenio/rotkehlchen/blob/master/docs/source_install.md#osx), try:

[code]

[2018-07-10 22:39] LefterisJP opened #108 "typing.cast() is overused"
typing.cast() is used too much around the code for casting to a different type. The type constructor can also be used for the same effect while being less verbose

[2018-07-11 06:18] yjkimjunior commented on #41
Yeah I'm on OSX, those are the exact steps I took but still no luck. Even tried entirely removing my local repo and then re-cloning.

[2018-07-12 04:33] yjkimjunior commented on #41
Hey @LefterisJP, I got in installed properly in the end. I got started writing some tests with the Spectron library included, but what do you think about https://github.com/jprichardson/electron-mocha?

[2018-07-13 19:39] eayoungs commented on #40
Hey, I'm getting some errors on installing packages with NPM that seem to indicate that Xcode CLI tools is not enough, that full Xcode must be installed. Can anyone verify this? @LefterisJP ?
Thx!

[2018-07-13 22:30] LefterisJP commented on #40
The OSX installation by source guide is [here](https://github.com/rotkehlchenio/rotkehlchen/blob/master/docs/source_install.md#osx). I don't use OSX myself so I can't help much. I have tried it only 2 times in some old OSX machines and it worked fine using that guide.

[2018-07-20 05:05] eayoungs commented on #40
@gitcoinbot My WIP PIR is #107

[2018-07-20 06:44] vs77bb commented on #41
Hi @eayoungs - any update here on your side?

[2018-07-21 07:49] LefterisJP commented on #40
@eayoungs You made a PR that just renames javascript files to typescript and fails the tests 11 days ago. If you don't want to continue or don't know how to do so please close the PR and let someone who can do this faster and do this effectively.

[2018-07-21 10:02] iamonuwa commented on #40
@eayoungs are you still working on this task? If no, I've already done some of the job. I would love to pick it and finish it up.

[2018-07-23 20:34] owocki commented on #74
per request from the rotkehlchen team; i have removed all contributors to this bounty and set the bounty as 'approval required'.

to future bounty hunters; please only apply if you are serious about turning around the bounty

[2018-07-23 20:34] owocki commented on #40
per request from the rotkehlchen team; i have removed all contributors to this bounty and set the bounty as 'approval required'.

to future bounty hunters; please only apply if you are serious about turning around the bounty

[2018-07-23 20:34] owocki commented on #41
per request from the rotkehlchen team; i have removed all contributors to this bounty and set the bounty as 'approval required'.

to future bounty hunters; please only apply if you are serious about turning around the bounty

[2018-07-27 16:23] StevenJNPearce commented on #40
Not sure why @gitcoinbot is complaining, only the accepted email yesterday. Anyway, making good progress, it's a little tedious, 3/12 files completed so far.

[2018-07-27 16:34] owocki commented on #40
ahh good point! well have to update gitcoinbot to comment after the 'acceptance' time, not the application time.  thanks for the feedback

[2018-07-28 10:07] LefterisJP commented on #41
@gitcoinbot @vs77bb @owocki I would like to approve iamonuwa to start work on this but gitcoin interface does not let me. Can you please change the permissions so that I can approve work myself?

[2018-07-30 16:23] iamonuwa commented on #41
@gitcoinbot am almost done

[2018-07-30 16:42] auroq commented on #41
Sounds like @iamonuwa has this handled. Since I was second dibs, I'll stop work so I don't keep getting pinged by @gitcoinbot. I'll watch for similar future bounties, though.

[2018-07-30 17:29] vs77bb commented on #41
@auroq Sounds good! Thanks for your interest here and definitely do take a peek, more to come on the explorer 🙂

[2018-07-30 17:33] vs77bb commented on #40
Thanks for the feedback @StevenJNPearce! This one is yours to run with, excited to see what you come up with here.

[2018-08-03 12:10] cryptomental commented on #28
I last ran Windows a couple years back, but was curious and wanted give it a try.

I spent around 1 hour on installing fresh Windows 7 Virtualbox VM from scratch, then installed

* VSCode
* GIT
* nodejs and npm
* Python27
* Visual Studio redistributable 2008
* Windows SDK for Windows 7

And currently blocking thing is msgpack not being able to compile with .NET 4.0

[code]

Unfortunately msgpack r

[2018-08-03 13:46] cryptomental commented on #28
I found a hint there https://github.com/nodejs/node-gyp/issues/679 and https://github.com/nodejs/node-gyp#installation.

[2018-08-03 14:24] LefterisJP commented on #28
Hey @cryptomental nice to see you here. If you want to tackle this it would be great! Thanks for all the hints.

[2018-08-03 14:32] vs77bb commented on #28
@cryptomental You've been approved!

[2018-08-04 23:36] Thoughtscript commented on #41
Hi! Just checking to see if there's any work on this that still needs doing! Thanks!

[2018-08-05 10:20] LefterisJP opened #112 "Investigate jquery violations"
When switching between pages we get some jquery violations:

[code]

Investigate what they are and if required take action.

[2018-08-05 10:39] LefterisJP commented on #95
![2018-08-05-123824_592x119_scrot](https://user-images.githubusercontent.com/1658405/43685078-8677b8c4-98ac-11e8-9174-bd15ecfc5f4b.png)

Added the UI widget in https://github.com/rotkehlchenio/rotkehlchen/pull/113

[2018-08-05 10:39] #95 closed

[2018-08-05 10:41] LefterisJP opened #114 "Make the periodic client query customizable"
The periodic client query right now happens only once every minute.

Code is [here](https://github.com/rotkehlchenio/rotkehlchen/blob/5a8dbc8d73e85f33a4de1505bbeb1698424e4089/ui/utils.js#L130)

- Make this value customizable
- Have a minimum periodic query limit. i.e. should never be more frequent than once per minute

[2018-08-05 11:56] LefterisJP opened #115 "Kraken: Deposit/withdrawals endpoint response causes warnings"
The deposits and withdrawals endpoint for the Kraken exchange are misbehaving and making rotkehlchen think there is more deposits/withdrawals than there is. For more info look at #116

[2018-08-05 11:57] LefterisJP opened #116 "Kraken: Ledger API endpoint's count result misbehaves when given a filtered query."
Kraken's API system of returning a `count` attribute in the responses signifying the total amount of responses existing for the given query is misbehaving. I have already reported a bug via email for the `Trades` endpoint where with an unfiltered query there is just some trades that are not ever accessible (for my personal account).

But now I have detected a similar bug (or questionable behaviour

[2018-08-05 11:59] LefterisJP commented on #116
I will create a workaround and "fix" this for rotkehlchen but keep this issue open as a reminder of this misbehaviour of the Kraken API. The issue to be fixed is #115, which is essentially the way this bug manifests for rotkehlchen.

[2018-08-05 14:27] #115 closed

[2018-08-06 09:50] cryptomental commented on #28
Thank you! I am starting today with a fresh VM and will start from scratch.

[2018-08-06 13:46] cryptomental commented on #28
After going through dozens of Microsoft-related errors and googling I discovered something very important. A prerequisite that installs Visual Studio and Microsoft SDK + python 2.7

[code]

that has to be installed from an elevated shell (run as admin), has a bug. It returns with a 0 code from the installer when only *part* of the binaries were installed (visible in the screenshots below). I disco

[2018-08-07 12:15] cryptomental commented on #28
Today's update: windows build toolchain with Python 2.7 installed fully, I installed Python 3.6 on top, all dependendencies, was able to build msgpack that was previously failing.

![ie11 - win7_07](https://user-images.githubusercontent.com/20819151/43775043-8b2c71de-9a4b-11e8-9243-87a928da2a43.png)

![ie11 - win7_08](https://user-images.githubusercontent.com/20819151/43775075-a9dc3952-9a4b-11e8-9

[2018-08-07 18:01] LefterisJP commented on #28
Ah thank you @cryptomental. Yes I also suspect pysqlcipher would be the hardest thing to do as when I checked it out windows seemed a bit more hard to support.

[2018-08-08 20:08] cryptomental commented on #28
I spent a few hours fighting with sqlcipher, installed all dependencies, followed tutorials, currently stuck at

[code]

to be continued tomorrow...

[2018-08-09 13:17] cryptomental commented on #28
@LefterisJP  I am quite proud of myself. Rotkehlen is running on Windows.

Obviously I did not anticipate that this bounty will consume so much time. Making pysqlcipher3 built and install correctly was beyond insane itself. Unfortunately this package alone requires lots of third party dependencies, like installing old TCL/TK (with latest version does not compile as seen above), and copying OpenSSL

[2018-08-09 13:45] cryptomental commented on #28
And last but not least

[code]

[2018-08-09 14:25] LefterisJP commented on #28
Amazing work @cryptomental. Now if only you can do appveyor automation that would be complete and I can use my wife's computer (has Windows) to test it all works.

Really great.

I am also going to head on a 1.5 week vacation from Sunday and on so  we can keep it open untils it's finalized?

Can you also document the installation process for Windows in the docs so others can follow it? I need to f

[2018-08-10 06:44] cryptomental commented on #28
HI @LefterisJP All right it makes sense to leave it open. I will experiment a bit today but I suspect that it will take me longer than that. Let's see how it goes.

[2018-08-10 07:10] cryptomental commented on #28
I encountered already a blocking issue. TCL/TK 8.5.18 version has to be installed in AppVeyor but Chocolatey package is missing. I tried the latest available 8.6 version but it is broken as well due to package not available anymore on ActiveState server.

See:

https://ci.appveyor.com/project/cryptomental/rotkehlchen

There were questions on update 10 months back
https://chocolatey.org/packages/Ac

[2018-08-10 07:43] cryptomental commented on #28
I will now press 'stop work' since I will be unavailable for the next three weeks to allow anyone to pick up the bounty and continue working on this. @LefterisJP feel free to continue after you are back from holidays and/or redistribute the work as I am not sure if I will have enough time after I come back.

The needed Windows software on AppVeyor's VM are:

* Visual Studio 2015
* OpenSSL 1.0.2o
*

[2018-08-12 17:36] PumpkingWok commented on #74
Hi,
I have started to work on it only now because my request has been accepted today.I will write a msg update in the next days.Thanks.

[2018-08-14 18:10] PumpkingWok commented on #74
Hi @ButtaTRiBot ,
I will be away to home for 2/3 days and i'm going to create PR next sunday/monday.
Thanks, have a nice day !!

[2018-08-15 22:50] LefterisJP opened #121 "Add some tests for the blockchain class"
The blockchain [class](https://github.com/rotkehlchenio/rotkehlchen/blob/b2addfdb1cee4e96630a48cd49eb24abcfb5e4ed/rotkehlchen/blockchain.py) is not really tested. The dbhandler functions it calls are but the blockchain class itself is not.

Make tests for it.

[2018-08-17 08:09] kascheri12 opened #122 "Error at setup of binance: Exchange binance is already registered"
Running from source with latest on osx.

Added Binance Exchange successfully, synced and everything worked. Generated tax report. Everything working. Closed rotkehlchen.
After re-launching and logging in again, my Binance Exchange isn't showing anywhere.
When trying to add it again, I get "Error at setup of binance: Exchange binance is already registered"

[2018-08-17 08:11] kascheri12 opened #123 "Sign In Failed - Need default main_currency"
Running from source with latest on osx.
Getting "Sign In Failed" "main_currency not returned from db_settings"
but - the sign in is actually successful and I get logged in.

[2018-08-17 08:31] kascheri12 commented on #123
It seems [this block of code](https://github.com/rotkehlchenio/rotkehlchen/blob/b2addfdb1cee4e96630a48cd49eb24abcfb5e4ed/ui/userunlock.js#L166) is keeping me from signing in successfully. This is probably the cause of #122

[2018-08-17 08:51] kascheri12 commented on #123
To initialize the value in my db so that I could achieve a successful sign-in - I commented [this block](https://github.com/rotkehlchenio/rotkehlchen/blob/b2addfdb1cee4e96630a48cd49eb24abcfb5e4ed/ui/userunlock.js#L166-L172) and added this block:
[code]

I only needed this for one execution. After a successful login, I closed rotkehlchen, reverted my changes, restarted the application, and had a su

[2018-08-17 08:54] kascheri12 commented on #122
After fixing #123 and had the successful sign-on, my Binance exchange information was there.

[2018-08-17 08:54] #122 closed

[2018-08-19 08:45] PumpkingWok commented on #74
Hi,
Yes, I'm still working on it, in these last four days  i was away from home unfortunately. I will be back to this issue tomorrow.Thanks.

[2018-08-19 21:00] LefterisJP commented on #65
Good to hear @kascheri12. In the guide I have the proper combination of removing file and rebuilding modules that needs to be followed. I will try to improve this in the future if dependencies get simplified.

[2018-08-20 06:30] LefterisJP opened #124 "With gevent 1.3.5 attribute error at handling failed greenlets"
At the main loop with gevent 1.3.5 we got a problem when handling failed greenlets.

Trace below:

[code]

[2018-08-20 06:39] LefterisJP commented on #123
Thank you for the report @kascheri12

Once your DB data are initialized rotkehlchen always expects it to be there. Do you have any idea how this situation happened? I would like to understand how you ended up in this situation to see what the proper way to fix this would be.

[2018-08-21 05:44] kascheri12 commented on #123
Whenever I create a new account, I receive the Sign In Failed message like above.

[2018-08-22 23:11] vs77bb commented on #41
Hi @iamonuwa where are we with this bounty? Looks like it returned to an 'Open' status on Gitcoin

[2018-08-22 23:11] vs77bb commented on #74
Hi @PumpkingWok thanks for the update. Please let us know where you're at here when you're able to do so!

[2018-08-23 15:37] PumpkingWok commented on #74
Hi @vs77bb, I'm so sorry for the late reply, I'm going to create a PR at most in 3/4 days.I have already tested the environment on Mac OS.Unfortunately i could not work on it for one week.
I will write a msg in this issue page every two day with the updates that i will do.
Thanks and sorry.

[2018-08-23 17:17] frankchen07 commented on #40
@StevenJNPearce - snoozed Gitcoin bot - looks like progress is being made on the PR! 👍

[2018-08-23 20:54] #123 closed

[2018-08-23 20:55] LefterisJP commented on #123
Hey @kascheri12 sorry for the slow responses. I was on vacation.

[This](https://github.com/rotkehlchenio/rotkehlchen/pull/125) PR should fix your problem. I wonder how this bug got in there and I had not noticed it until now.

Thanks.

[2018-08-23 22:30] LefterisJP commented on #41
@iamonuwa Your PR(https://github.com/rotkehlchenio/rotkehlchen/pull/118) has no activity for 18 days. If you can't finish it please let other people work on this.

[2018-08-24 05:46] kascheri12 opened #126 "Tax Report generates over the top of itself"
After a Tax Report is generated for a time period (example: 7/1/2018-7/31/2018) then I change the date range to 8/1/2018-8/23/2018 and click Generate Report a second time. The screen doesn't look right, see screenshot.
<img width="2004" alt="screen shot 2018-08-23 at 10 35 28 pm" src="https://user-images.githubusercontent.com/4165385/44567132-e147ae80-a725-11e8-8394-85010fa28101.png">

[2018-08-24 21:00] #126 closed

[2018-08-24 21:00] LefterisJP commented on #126
Thank you @kascheri12. Indeed there was an issue there. Also added a check to not start generating a tax report if one is already being calculated.

[2018-08-25 21:46] LefterisJP opened #131 "Replace the log watcher functionality in the frontend"
## Description

At the moment in the frontend we use a [log watching](https://github.com/rotkehlchenio/rotkehlchen/blob/ecd231b8d8c55f30a7f7ef54280fa19e7a15f5ba/ui/utils.js#L119) functionality in order to watch the log for warnings and errors and display them to the user.

The problem with this approach is that for big log files it seems the frontend is slowing down.

## Task

1. Think if this is

[2018-08-25 21:54] LefterisJP opened #132 "Add UI widget showcasing if we are connected to an Ethereum node"
Add a UI widget to showcase if we are connected to an Ethereum node or if we simply use etherscan to query the chain.

[2018-08-26 13:50] LefterisJP commented on #74
@PumpkingWok I am the maintainer of this repository.

Following poloniex, kraken or bittrex as an example is what you should do. Only implement the same functionality that is used by them.

There is a common interface class [here](https://github.com/rotkehlchenio/rotkehlchen/blob/master/rotkehlchen/exchange.py).

And then you have to follow the code in the repository to see where exchanges are def

[2018-08-26 14:10] PumpkingWok commented on #74
Hi @LefterisJP, thank you for the reply.
I have looked into your code many time but i did not understand well some piece of code,I'm trying to finish to develop it and open a PR.If i will  have some issues i ask to you.
Thanks for the support.

[2018-08-26 14:12] binarybaba commented on #41
@LefterisJP, new to python. im more into js. I forked the repo but it crashed and I cant find a rotkehlchen.log. Am i missing something?
OSX High Sierra 10.13.2
Node 10.5.0
Python 3.7.0

[2018-08-26 14:16] LefterisJP commented on #41
@binarybaba Hello! Please read the [documentation](https://github.com/rotkehlchenio/rotkehlchen/blob/master/docs/source_install.md) on how to build from source. If you have problems open a separate issue. I would like to keep the issues on-topic.

(most probably you never prepared the python backend)

[2018-08-26 15:39] LefterisJP commented on #41
Hello @mykeels. Very good. I will ask @vs77bb to approve you. Your commit of the first test seems fine from a first look: https://github.com/mykeels/rotkehlchen/commit/c3305b4a55b983e96246ff6a5c93088833c9ed87

[2018-08-26 17:50] binarybaba commented on #41
Guess I'll step back now.

[2018-08-26 23:21] kascheri12 opened #134 "Binance: Too many requests; current limit is 1200 req/min"
I got the following error/warning message when creating a tax report for 8/1/2018-8/26/2018.

# Trade History Query Warning

Should there be a setting in rotkehlchen to limit the basic requests per minute for each exchange's API?

It seems that different tiers of membership at each exchange might allow for a greater number of available requests/min. It would be best if rotkehlchen would support fa

[2018-08-26 23:31] kascheri12 opened #135 "Binance: Tether values are not correct in Tax Report"
Values are not correct for USDT in Tax Report.

This screenshot is rotkehlchen:
<img width="1591" alt="screen shot 2018-08-26 at 4 30 14 pm" src="https://user-images.githubusercontent.com/4165385/44634343-6365ec00-a94d-11e8-87c3-dc406a04235f.png">

This screenshot is Binance:
<img width="1238" alt="screen shot 2018-08-26 at 4 25 12 pm" src="https://user-images.githubusercontent.com/4165385/4463432

[2018-08-27 21:55] LefterisJP commented on #135
@kascheri12 What currency have you set rotkehlchen to? `USD`?

[2018-08-27 22:01] kascheri12 commented on #135
Yes, USD.

[2018-08-27 22:06] LefterisJP commented on #135
I will check it.

Note that rotkehlchen takes the USDT/USD exchange rate of the time of the trade into account. Generally crypto to crypto is seen as taxable events (there is an option to ignore crypto to crypto and not see it as taxable events in settings).  The way to do this is take the USD (or whatever other currency rotkehclhen is set to) equivalent for the trade. So when you say sell ETH to

[2018-08-27 22:47] LefterisJP commented on #135
Also if possible send me your `rotkehlchen.log` when running the tax report. It may contain sensitive data so reduce anything you don't want to be seen.

I just need the parts of the log that show the relevant accounting calculations. Should be there by default as debug mode is on by default at the moment.

They should start with `DEBUG:rotkehlchen.accounting.events`. Find the part where these USD

[2018-08-27 22:56] mykeels commented on #41
@LefterisJP I just my name marked as **"started work"** on the gitcoin page for this issue. I understand this to mean I have been approved and can continue work on this task. Is my assumption correct?

[2018-08-28 04:40] kascheri12 commented on #135
For the ETH/USDT transaction in Binance with timestamp 2018-08-02 18:12:23

Timestamp | Pair | Type | Price | Filled | Fee | Total
--- | ---  | ---- | ---- | ---- | ----- | ----
2018-08-02 18:12:23 | ETH/USDT | Sell | 400.00 | 1.20416 | 0.02599809 BNB | 481.66400000 USDT

`rotkehlchen.log`
[code]

[2018-08-28 04:45] kascheri12 commented on #135
I had deposited ETH into my Binance wallet. I sold ETH for USDT in this transaction. I guess I expect to see my taxable p/l to be around 481 USD instead of 193426 USD.

[2018-08-28 22:17] LefterisJP commented on #74
@vs77bb Please remove the bounty from this issue. It's attracted the wrong kind of attention from people who can not complete it and wast my time.

I thought I could get more people interested in the project but obviously this is not gonna happen this way.

I will just devote an hour of my time and finish this myself.

[2018-08-28 22:32] LefterisJP opened #138 "Allow for anonymized data in the logs"
## Problem Definition

As can also be seen by [this](https://github.com/rotkehlchenio/rotkehlchen/issues/135) issue it's rather hard to provide a good bug report for specific cases as the logs will contain your personal financial data. We have to provide a way to easily give the logs to the developers showcasing what's happening while at the same time protecting the privacy of the user.

## Task

[2018-08-28 22:52] LefterisJP commented on #135
Hmm @kascheri12 from the log it seems that rotkehlchen gets confused with the conversion from the binance trade format to our own format. And most probably the pair seems to get reversed.

I will need to increase the debug logs all over the place in general (also refer to https://github.com/rotkehlchenio/rotkehlchen/issues/138) but something that would really help right now is if you can add somet

[2018-08-28 22:57] kascheri12 commented on #135
Hi @LefterisJP, I had suspicion that it might be getting pairs reversed.

I will add the debug logs to my local codebase and report back the logs.

I will try to have this later tonight or tomorrow.

[2018-08-28 22:57] LefterisJP commented on #134
Where did you see this warning? Where was it shown?

 Binance does indeed have query limits as explained in their API [here](https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#limits)

[2018-08-28 23:00] kascheri12 commented on #134
This was shown as a popup in rotkehlchen.

Thank you for the API link.

[2018-08-29 06:17] PumpkingWok commented on #74
Hi, @vs77bb, Please you should not permit to a certain kind of people to open a bounty on gitcoin.
The issue description was composed only by a link, i have accomplished the issue and @LefterisJP without testing nothing attack me with words, you can read the comment here and in the PR that i have opened yesterday.
And @LefterisJP edited the descriptions 8 hours ago, he is a very stressed and poor

[2018-08-29 06:26] LefterisJP commented on #74
@PumpkingWok  I edited the description of the issue to move my comments from [here](https://github.com/rotkehlchenio/rotkehlchen/issues/74#issuecomment-416040353) to the issue to make it clearer.

You did nothing of the sort. I was prepared to help you go through it but your reaction to my review comments was to rage quit with [this](https://github.com/rotkehlchenio/rotkehlchen/pull/137#issuecomme

[2018-08-29 06:43] kascheri12 commented on #135
I'm having some trouble.. when I add those blocks of code, the tax report never finishes and my logs are repetitive, as seen below. When I comment out the new blocks of code, the Tax Report returns with the data.

[code]

[code]

[2018-08-29 06:47] PumpkingWok commented on #74
It is very strange, you said it has called Pull request review but you don’t know how open an issue properly, with description.
You have to insert a description not now but when you opened the issue.
With my code you can authenticate with bitmex and see the total balance, i have done my work, you requested a link in the description, eh eh !! It is free for you !! BTW the code in this repo is disgu

[2018-08-29 06:50] PumpkingWok commented on #74
You need to be more humble if you want stay in open source world, remember it for the future.our collaboration ends now, have a nice day !!

[2018-08-29 07:02] kascheri12 commented on #135
Figured it out with logger.debug instead of logger.log

Below is the new log contents.
[code]

[2018-08-29 07:17] kascheri12 commented on #135
I find inconsistency here:
[code]

I think it should be:
Selling 0.505 of "**ETH**" for 242.9050 "**USDT**" (481.0 "**USDT**" per "**ETH**" or **??.??** "USD" per "USDT")

[2018-08-29 19:17] owocki commented on #74
Hey all, I'm sorry to see a bounty end like this. We are performing an internal review over at Gitcoin.

[2018-08-29 23:18] LefterisJP commented on #135
Ops ... yeah you figured out correct. Sorry made a typo there.

Thank you so much for the logs. But it is missing something important.

It seems that all the lines

`28/08/2018 23:56:03 PDT -- DEBUG:rotkehlchen.binance:Got binance trade: ` are empty.

So this logging line does not do anything.

[code]

That can't be as this `binance_trade` is what all data comes from and it should be printed. Did

[2018-08-29 23:33] LefterisJP commented on #135
Selling 0.505 of "ETH" for 242.9050 "USDT" (481.0 "USDT" per "ETH" or ??.?? "USD" per "USDT")

Definitely. And I think I see it now. I am making an assumption that binance follows proper base_quote currency naming for their currency pairs. [Wikipedia link](https://en.wikipedia.org/wiki/Currency_pair#Base_currency)

I made this assumption because in ETH/RDN which I have used they did and because mo

[2018-08-30 21:31] cryptomental commented on #28
After numerous failed attempts I managed to get appveyor up and running, including test run and electron deployment stage https://ci.appveyor.com/project/cryptomental/rotkehlchen/build/1.0.63

It took me around 60 builds of trial and error, I cleaned the code up and will open a pull request soon.

I borrowed part of the appveyor setup from the excellent Appveyor integration example from VIM for Wi

[2018-08-31 22:10] LefterisJP opened #140 "Do not log an error for not finding the manual margins file"
This file is only used by poloniex and since margin trades can't be easily audited in that platform. As such logging an error if one is not found is not correct.

[2018-09-01 10:52] LefterisJP commented on #28
Hey @cryptomental welcome back!

Do you need me to authorize anything in the Appveyor side to have the tests run in appveyor for every PR?

[2018-09-01 10:55] #135 closed

[2018-09-01 12:36] cryptomental commented on #28
Hi @LefterisJP yes, you will need to sign in to AppVeyor with your GitHub account and then add this repository to your AppVeyor projects. I was able to configure AppVeyor on my fork only.

[2018-09-01 19:43] cryptomental commented on #28
The npm issue was resolved. I am glad that you managed to get it working! As for the Appveyor itself I remember that ocasionally for other projects I had to wait for the job up to 1 hour to kick in but recently it seems to have improved.

[2018-09-01 22:52] LefterisJP commented on #28
Yeah seems to be working but the new UI tests seem to fail: https://ci.appveyor.com/project/rotkehlchenio/rotkehlchen/build/1.0.9

Granted ... the PR is not yet merged and could be any number of things I wonder if you have an idea:

`Error: element (".jconfirm-box.jconfirm-type-green.jconfirm-type-animated") still not existing after 5000ms`

That means that the popup modal that greets the user aft

[2018-09-02 18:12] cryptomental commented on #28
@LefterisJP I will try to find time and have a look tomorrow. I suspect that the problem may be located on Python code side.

[2018-09-02 21:55] #74 closed

[2018-09-02 22:03] LefterisJP opened #144 "Support querying exchange history and profit calculation in Bitmex"
After #74 we added experimental Bitmex support that only allows for simple query of the balance inside the exchange.

In order to allow for the tax report calculation for Bitmex we also need to be able to query for all trade history and calculate profit/loss. That is a bit more complicated for Bitmex since their [API](https://www.bitmex.com/app/restAPI) is complex and they also seem to support onl

[2018-09-03 17:05] cryptomental commented on #28
Hi @LefterisJP I created a branch in my fork off the PR #136 and spent around an hour playing around with loglevels and exposing artifacts.

I added rotkehlchen.log to artifacts and I learnt that AppVeyor exposes artifacts *only* if the build is green, so I forced it to be green on my forked PR branch. There are no Python errors or exceptions in the log, just a few debug messages:

https://ci.appv

[2018-09-03 22:04] LefterisJP commented on #28
@cryptomental so you have no local Windows machine to play with on this? It seems that there is no problem on the python side from the logs you showed.

[2018-09-04 08:35] cryptomental commented on #28
I did not have one yesterday, I will try to give it a shot today.

[2018-09-05 16:49] cryptomental commented on #28
@LefterisJP I found the root cause and fixed the issue.

There is a problem with regular expressions parsing on Windows when it comes to paths.
On *nix we have /a/path and on Windows C:\A\Path and the backslashes are treated as escape sequences.

A few screenshots below may help to understand the problem:

![virtualbox_ie8 - win7_05_09_2018_17_48_18](https://user-images.githubusercontent.com/20819

[2018-09-05 16:51] cryptomental commented on #28
The backtrace I mentioned above:
[code]

and the PR with the regex fix will be opened within 5 minutes.

[2018-09-05 16:58] cryptomental commented on #28
https://github.com/rotkehlchenio/rotkehlchen/pull/145 opened.

I guess after the PR is merged we should be able to close this ticket.

[2018-09-05 22:46] LefterisJP commented on #28
Hello @cryptomental for this:

The backtrace you pasted is from what? Locally running the tests? Because the backtrace does not look like the one shown for the UI tests in the appveyor build you linked above. The ones that fail there seem to be the flaky UI tests that @mykeels is trying to finalize in his PR, so nothing windows specific.

[2018-09-05 23:04] LefterisJP commented on #28
As for the #145 PR along with the work you have done all around windows research and appveyor I want to thank you and consider your part of the work here done. I will open other github tickets for specific windows issues that will popup when I test it myself too in Windows and when the binary generation is tackled.

[2018-09-05 23:05] #28 closed

[2018-09-05 23:06] LefterisJP opened #146 "Create windows binaries in Appveyor"
The appveyor build should also generate binaries if a tag is pushed just like Travis does at the moment.

Follow up from https://github.com/rotkehlchenio/rotkehlchen/issues/28

[2018-09-06 06:57] cryptomental commented on #28
Thank you a lot @LefterisJP . I really enjoyed it.

[2018-09-06 07:07] cryptomental commented on #28
And as for the backtrace, yes, I was referring to backtrace when running tests locally on Windows. I was observing them in rotkehlchen.log in realtime. I realized that the file is wiped with each test case, therefore I had not seen backtraces in AppVeyor before as only the last test case's log was exposed as AppVeyor artifact that I set up on my branch e.g. https://ci.appveyor.com/project/cryptome

[2018-09-07 20:39] LefterisJP commented on #40
@vs77bb As it seems that @StevenJNPearce has stopped work on this I would like to approve @kelsos to give it a try

[2018-09-08 11:59] LefterisJP opened #148 "Add icons for all tokens to the UI"
Mostly a cosmetic change, but would be nice to show the icon of each token along with its name in the UI.

[2018-09-09 06:16] kascheri12 commented on #134
Is there any way to limit the requests per minute from rotkehlchen so that the error doesn't happen?

[2018-09-09 07:36] LefterisJP commented on #134
It keeps happening for you? What action are you taking when it happens?

[2018-09-10 11:06] dnivi3 commented on #148
@LefterisJP the following repository has a bunch of icons (for almost all tokens): https://github.com/atomiclabs/cryptocurrency-icons

[2018-09-11 16:38] kascheri12 commented on #148
Hi @LefterisJP, I have worked on this utilizing the repo mentioned in the last comment and would like to create a PR and have your review. I don't seem to be able to create a PR.

[2018-09-11 16:41] kascheri12 commented on #148
<img width="462" alt="screen shot 2018-09-11 at 9 32 13 am" src="https://user-images.githubusercontent.com/4165385/45374355-ba52fe80-b5a6-11e8-84b1-c309f987c613.png">

Still a WIP.

[2018-09-12 19:05] LefterisJP commented on #148
Hey @kascheri12 thanks a bunch. I will check the PR.

[2018-09-13 09:10] kascheri12 commented on #134
Doesn't seem to happen anymore. If it happens again I'll open another issue.

[2018-09-15 06:57] LefterisJP opened #151 "BTG or other assets with no market in bittrex crash the app"
## Problem Definition

If a user holds an asset in bittrex that does not have a market in the exchange, like say `BTG`, then during balances query rotkehlchen will crash with `ValueError: Bittrex: Could not find BTC market for "BTG"`

## Task

Fix the crash, and use other sources for market price data in the case this happens.

[2018-09-15 09:38] #151 closed

[2018-09-16 21:56] LefterisJP opened #153 "Add a CLI command to access the version of rotkehlchen."
Add a version command to rotkehlchen via the CLI backend.

[2018-09-18 17:28] kascheri12 commented on #132
Hi @LefterisJP do you have an idea in your head of what you're looking for?
I was thinking of following the commit for the [balances updated ui widget](https://github.com/rotkehlchenio/rotkehlchen/commit/bba523b19e9123643699f1a183a53affe87c26c7).

<img width="912" alt="screen shot 2018-09-18 at 10 22 34 am" src="https://user-images.githubusercontent.com/4165385/45704958-23012480-bb2d-11e8-82e7-e99

[2018-09-18 20:44] #148 closed

[2018-09-18 22:04] LefterisJP commented on #132
Hey @kascheri12. Thanks for taking an interest in this issue.

For the moment it could be there but I was thinking of having this as an indicator (and perhaps others somewhere on the top of the screen. Separated from the settings and currency menu. And each indicator would be an icon which would show more information if the mouse hovers over it.

For example for the connected to local ethereum nod

[2018-09-20 04:32] kascheri12 opened #155 "Blockchain balances don't load when connected to local ethereum node"
## Problem Definition

The problem happens when running a local ethereum node using the command `geth --rpc --syncmode=fast`.
After signing into rotkehlchen, my blockchain assets do not load on the dashboard and show as all 0's in the user settings.
I would expect that since my binance assets load on the dashboard that my blockchain assets would also load. Aren't the balances supposed to be saved?

[2018-09-20 06:58] kascheri12 opened #156 "Cannot see all content of dashboard or user settings when window is small"
## Problem Definition

When window height is less than 964px, I cannot scroll down enough to see the bottom of the dashboard-contents.
When windows height is less than 1020px on User Settings, I cannot scroll all the way down to see all information.
I would expect to be able to scroll all the way to the bottom and view all page contents.

[2018-09-20 15:59] LefterisJP commented on #155
Hey @kascheri12 no they are not saved.

If you connect an ethereum node then it uses the ethereum node to query your balances. If the ethereum node is not synced then you will get the balances of the block height your syncing is at.

The proper solution here would be to revert back to etherscan querying if the ethereum node is not synced.

[2018-09-21 20:51] LefterisJP commented on #156
Hey thanks for this report. I will take a look at this. Experienced on Linux or OSX?

[2018-09-21 22:27] LefterisJP opened #159 "Providing a non-existing argument should fail gracefully"
## Problem Definition

When a non-existing argument is provided to rotkehlchen at the moment  an exception is thrown.

[code]

## Task

Instead of throwing an exception, an error message should be displayed and the program should exit gracefully.

[2018-09-21 23:01] #153 closed

[2018-09-21 23:01] #159 closed

[2018-09-22 07:31] kascheri12 commented on #156
I'm on OSX Version 10.13.6 (17G65), here's my display settings:

<img width="780" alt="screen shot 2018-09-22 at 12 09 08 am" src="https://user-images.githubusercontent.com/4165385/45914603-fb93ab80-bdfb-11e8-82b3-f47410615fdb.png">

When I launch rotkehlchen with default settings, I see this:

<img width="915" alt="screen shot 2018-09-21 at 11 46 16 pm" src="https://user-images.githubusercontent.

[2018-09-22 07:34] kascheri12 commented on #156
I'm working on a branch currently that fixes this issue for me but I know display resolution is a tricky thing so I'm not sure if the solution for me is a global solution. I will start PR to share that branch and post screenshots of my resolution.

[2018-09-22 09:46] kascheri12 commented on #134
I got a similar error again...
<img width="2004" alt="screen shot 2018-09-20 at 10 28 54 pm" src="https://user-images.githubusercontent.com/4165385/45915872-9fd41d00-be11-11e8-8ea1-3accfbabb286.png">

[2018-09-22 13:30] LefterisJP opened #163 "If an error occurs on the python backend during tax report calculation, the app will hang forever"
## Problem Definition

If a python backend error happens during the calculation of the tax report, then because the call to the backend is made in an asynchronous way we have no way of detecting that something went wrong and the application will always be stuck at the "Loading..." stage

## Task

Somehow catch all errors that may happen during the tax report or periodically check for errors. If an

[2018-09-22 13:52] #155 closed

[2018-09-22 14:44] #163 closed

[2018-09-22 18:36] #144 closed

[2018-09-23 14:51] rakanalh opened #167 "Query Bittrex Balances stuck at 40%"
## Problem Definition

I downloaded the latest release (Medici) and the one before it (Summer's end) and both had a problem importing my bittrex account which was stuck at 40% for the whole night. Generating a tax report also got stuck at 40% and i think it's related to bittrex import but not 100% sure.

[2018-09-23 15:11] LefterisJP commented on #167
Hey @rakanalh thanks for the report! We will figure it out together!

Can you please attach your `rotkehlchen.log` here? This would help to find out where the problem is. I also use bittrex and have never experienced this so it has to be something with your particular coins/trades in bittrex.

If it contains sensitive data and until https://github.com/rotkehlchenio/rotkehlchen/issues/138 is comple

[2018-09-23 15:40] rakanalh commented on #167
Here's what i did:
1. Create an account
2. Added binance keys
3. Added bittrex keys
4. A while after, pending tasks shows importing Bittrex while Binance trades are finished.

here's what i have from the logs:
[code]
It's curious as to why the task is querying all the time and the line about starting the event loop keeps repeating.
I will try to remove my data and restart the process. will try to

[2018-09-23 15:44] LefterisJP commented on #167
These are just debug logs for now (maybe I should remove them in the future) to show that a greenlet for a task was started and not finished yet.

You mean this:

[code]

This is normal. There is a main loop that runs on a timer.

[2018-09-23 15:51] rakanalh commented on #167
Thanks man... seems like the logs i have are not very useful, i'll try to get more.

[2018-09-24 16:26] kascheri12 opened #168 "Enable user to force-refresh balance queries."
## Problem Definition

Note: @LefterisJP edited this issue to add more information for a generic solution that will satisfy force querying of all types of balances.

Original Request by @kascheri12:

We need a way to be able to ask for a force refresh of balances of each location independently at any point in time. And this should also ignore the cache (?).

## Task

### Frontend Work
- Add force

[2018-09-24 20:14] LefterisJP commented on #168
Hmmm that's interesting. There is a cache so that we don't make too many RPC calls to exchanges, but that should be max 10 minutes. Did you wait more than 10 mins or just restarted before that?

[2018-09-24 20:16] kascheri12 commented on #168
No, definitely didn't wait 10 minutes.

[2018-09-24 20:19] LefterisJP commented on #168
But anyway this should be configurable as you said.

[2018-09-25 23:02] LefterisJP opened #170 "With slow connection and many tokens/addresses balance query may throw exception at etherscan call"
## Problem Definition

This has been noticed a few times for slow connections and if many tokens and addresses are involved. At some point the etherscan balance query may fail with the following stack trace and crash the application:

[code]

[2018-09-26 02:37] ryan-shea commented on #41
Hey @mykeels, wanted to check in on this bounty and see what the latest is. @LefterisJP, is the bounty completed? Thanks :)

[2018-09-26 22:49] #170 closed

[2018-09-30 10:04] LefterisJP commented on #167
@rakanalh Any progress on this one? We will add more logs to get more information from the entire application soon.

[2018-09-30 19:36] rakanalh commented on #167
@LefterisJP sorry to disappoint... but i haven't had the time to look into this. Will try to squeeze it in for this week.

[2018-09-30 22:39] LefterisJP commented on #167
No worries. When I add the debug logs everywhere and enable debug logging by default it should become really apparent where the problem is.

[2018-10-01 17:10] kascheri12 opened #173 "USD Value for IOTA is incorrect"
## Problem Definition

The usd value reported on my exchange is inconsistent with the usd value that rotkehlchen shows.

I tried to find where the USD value is calculated for exchange assets and I found the following API call: [rotkehlchen.inquirer#L68](https://github.com/kascheri12/rotkehlchen/blob/master/rotkehlchen/inquirer.py#L68)

The asset "IOTA" uses symbol "IOT" at the api endpoint therefo

[2018-10-01 20:15] LefterisJP commented on #173
Yes unfortunately cryptocompare uses abitrary names for some tokens. The reasons is that there exist tokens with the exact same symbols and I suppose they use a first come first serve basis.

[2018-10-01 20:49] #173 closed

[2018-10-03 06:38] LefterisJP commented on #132
Fixed by https://github.com/rotkehlchenio/rotkehlchen/pull/154

[2018-10-03 06:38] #132 closed

[2018-10-03 22:12] LefterisJP opened #175 "Make tx gas costs inclusion optional with new accounting setting"
## Problem Definition

History processing and tax report calculation at the moment always takes into account gas costs for all your ethereum transaction movements as "loss".

This should be made customizable.

## Tasks
![todo](https://user-images.githubusercontent.com/1658405/46442232-30432380-c769-11e8-95af-209620519083.png)

Add a new accounting option named `account_for_gas_costs`.

- [ ] The l

[2018-10-03 22:15] LefterisJP opened #176 "Make asset movement inclusion optional with an accounting option"
## Problem Definition

History processing and tax report calculation at the moment always takes into account any asset movements from and to exchanges. Exchanges withdrawals always have fees and they are taken by default into account as a loss.

This should be made customizable.

## Tasks
![todo](https://user-images.githubusercontent.com/1658405/46442232-30432380-c769-11e8-95af-209620519083.png)

[2018-10-03 22:29] LefterisJP opened #178 "Log out button does not work -- needs backend implementation too"
## Problem Definition

When pressing the logout button the user is not logged out of everything. Instead a blank screen is given and the login prompt is not presented.

![2018-10-04-002253_198x194_scrot](https://user-images.githubusercontent.com/1658405/46442958-d4c66500-c76b-11e8-8772-b95767c34fca.png)

And in the chrome console we get the following error:

![2018-10-04-002214_647x116_scrot](http

[2018-10-03 22:46] zacherygentry commented on #178
working on it

[2018-10-03 22:53] LefterisJP opened #179 "Broken dependency: pysqlcipher3"
## Problem Definition

Since pysqlcipher [does not yet support python3](https://github.com/leapcode/pysqlcipher/issues/3) we have been using the [python3 fork of the project](https://github.com/rigglemania/pysqlcipher3).

But it seems that the current maintainer of that fork [removed it from pypi](https://github.com/rigglemania/pysqlcipher3/issues/14).

As a result our build is broken.

## Task

-

[2018-10-03 23:05] nhultz commented on #175
I'd like to pick this one up.

One question I had from the issue description, are you just looking to make it so either the reporting will include gas costs as a loss or just not include them at all?

[2018-10-04 06:36] LefterisJP commented on #175
yep.

Sure you can pick it up!

[2018-10-04 16:13] #179 closed

[2018-10-04 22:27] LefterisJP commented on #156
@kascheri12 This may be an OSX thing. I can scroll to the bottom normally in Linux no matter the resolution. Will look at your PR.

[2018-10-05 20:17] LefterisJP commented on #41
@vs77bb Can you please remove @mykeels from the bounty. He has done some work but has not finished it and we need this done asap.

@kelsos who is also doing https://github.com/rotkehlchenio/rotkehlchen/pull/149 and has almost finished it has expressed interest to finish the tests too as he has become really accustomed with the code.

So @vs77bb Can you please assign the bounty to @kelsos?

[2018-10-05 21:53] LefterisJP commented on #112
Some more violations, when running the code from the typescript conversion PR: https://gist.github.com/LefterisJP/3803899bfb9b3250dac73864d849a14b

[2018-10-06 07:59] #40 closed

[2018-10-06 08:05] LefterisJP commented on #40
@vs77bb This bounty has been succesfully completed by @kelsos

[2018-10-06 11:07] LefterisJP opened #181 "If there is 0 balance across all entries, querying for total balance fails."
## Problem Definition

In the event that there is a balance of `0` across all entries (exchanges, fiat balances, blockchain e.t.c.) then the backend greenlet that queries for the overall balances crashes and never returns a response to the frontend.

Log entries:
[code]

It's essentially a division by zero.

## Task

Take into account the posibility of 0 balance and act accordingly in the backend

[2018-10-06 11:30] #181 closed

[2018-10-06 15:01] LefterisJP opened #184 "Clicking Rotkehlchen should not prompt the sign in popup"
## Problem Definition

Clicking the Rotkehlchen name as shown in the picture prompts you with the sign in pop up without having asked for a logout confirmation and without actually logging the user out.
![2018-10-06-165608_255x262_scrot](https://user-images.githubusercontent.com/1658405/46572582-d325b880-c988-11e8-9e8b-e2ad21b8d81c.png)

This should not happen.

## Task

Remove the current behavio

[2018-10-06 15:03] LefterisJP commented on #156
Should be fixed by: https://github.com/rotkehlchenio/rotkehlchen/pull/162

[2018-10-06 15:03] #156 closed

[2018-10-06 15:27] LefterisJP opened #185 "Ethereum node connection indicator should not change to connected after some time"
## Problem Definition

After some time passes, even without actually having an ethereum node to connect to, the ethereum node connection indicator changes to connected as shown in the screenshot.

![rotk_connected_to_node](https://user-images.githubusercontent.com/1658405/46572807-2816fe00-c98c-11e8-9b70-427d18ff7312.png)

This should not be happening and needs to be fixed.

## Task

The problem l

[2018-10-06 15:32] LefterisJP opened #186 "Pressing "Enter" at sign in prompt should initiate sign-in procedure"
## Problem Definition

When the user gets the sign in prompt during the startup of the application they have to fill in their username and password to unlock the account.

![2018-10-06-171425_578x430_scrot](https://user-images.githubusercontent.com/1658405/46572876-7a0c5380-c98d-11e8-91e6-f2c135ae2662.png)

Pressing "Enter" does nothing. They have to explicitly click "Sign in". That is kind of ann

[2018-10-06 15:50] schambers commented on #186
I'll take this one. can you assign it to me?

[2018-10-06 16:01] LefterisJP commented on #186
@schambers please take it up @schambers. I am afraid github does not allow me to assign to external contributors.

[2018-10-06 16:06] schambers commented on #186
ok. np. thanks!

[2018-10-06 16:59] kascheri12 opened #187 "Exchange page table doesn't work"
## Problem Definition

After selecting View Details for an exchange, the table does not work with more than 10 rows.

Nothing happens when I change the number of entries and nothing happens when I click Next or 2.

<img width="1238" alt="screen shot 2018-10-06 at 9 54 55 am" src="https://user-images.githubusercontent.com/4165385/46573730-45c57280-c94e-11e8-9977-d72c151e6fa8.png">

[2018-10-06 17:27] LefterisJP commented on #187
Hmm so the first 10 entries work? And if you change the page it does not work?

[2018-10-06 17:29] kascheri12 commented on #187
Correct, I have my entries hidden but they do show up. The initial table loads as I would expect. It's just that nothing happens when I click the paging buttons or change the drop down for entries. There is no errors in the console.

[2018-10-06 17:50] schambers commented on #186
Shoot, i submitted the pull request under my other account. its me however

[2018-10-07 08:04] LefterisJP commented on #187
@kascheri12 I can confirm this. Note to self and to @kelsos for the UI tests, to also test page changing in most tables.

[2018-10-07 08:08] LefterisJP commented on #187
@kascheri12 But just to confirm. The first 10 rows appear. Once you change the page, nothing happens. Right?

[2018-10-07 08:12] LefterisJP commented on #187
Hah! This is actually a duplicate of: https://github.com/rotkehlchenio/rotkehlchen/issues/4

It happens in a non-deterministic way. Some times it works, some times it does not and there is nothing in the logs. So this is not something new that was introduced via typescript changes.

[2018-10-07 11:50] pepae commented on #76
@LefterisJP sorry for getting back on this so late. Still same behavior with 0.4.0

[2018-10-07 12:44] #187 closed

[2018-10-07 12:44] #4 closed

[2018-10-07 12:50] LefterisJP commented on #76
Can you try latest master (so build by source) and give me the entire rotkehlchen.log?

[2018-10-07 13:02] #178 closed

[2018-10-07 19:54] LefterisJP commented on #184
Fixed by #192

[2018-10-07 19:54] #184 closed

[2018-10-08 16:20] LefterisJP commented on #175
Fixed by https://github.com/rotkehlchenio/rotkehlchen/pull/193

[2018-10-08 16:20] #175 closed

[2018-10-08 22:25] LefterisJP opened #194 "Add setting for display of datetime format for the UI"
## Problem Definition

Currently in the application there is a hardcoded format for each different place a date is shown. It would be rather nice if a new setting is added to specify the way dates should be displayed. Also if it should be displayed in UTC or in the user system's local time. For a suggested format we could go with the python [strftime](https://docs.python.org/3.6/library/datetime.h

[2018-10-09 13:23] #185 closed, assigned to nobody

[2018-10-10 17:00] kelsos commented on #194
I can't find anything specific for formatting based on the same patterns, but I guess with the available apis it should not be hard for us to build something like this, no need to include an extra library. It should be easy to build this.

[2018-10-10 18:34] LefterisJP commented on #194
nice! Do you want to handle this?

[2018-10-10 18:56] kelsos commented on #194
Yes of course

[2018-10-13 07:53] LefterisJP opened #197 "Setting tax_free_period to "No" crashes rotkehlchen at restart"
As discovered by @nhultz here: https://github.com/rotkehlchenio/rotkehlchen/pull/196

I stumbled upon this bug when working on adding the gas costs option to the Account settings.  I managed to break my login account because of the `tax free after period` setting.  It looks like when the option is set to `No`, it sends a null value to the backend and the database code doesn't handle getting a `Non

[2018-10-21 07:36] LefterisJP commented on #197
Fixed by #196

[2018-10-21 07:36] #197 closed

[2018-10-21 07:36] LefterisJP commented on #186
This issue is still up for grabs.

[2018-10-21 07:38] LefterisJP commented on #40
@vs77bb There has been no update from gitcoin neither for this bounty which @kelsos completed and has not received yet nor for https://github.com/rotkehlchenio/rotkehlchen/issues/41#issuecomment-427486646 which he wants to work on. For over a month now. Is anything wrong?

[2018-10-21 16:19] #186 closed

[2018-10-21 22:30] #131 closed

[2018-10-22 15:29] frankchen07 commented on #40
@LefterisJP - @vs77bb has been traveling as of late, which is why he might be slow to respond. Let me reach out to him personally :)

[2018-10-25 06:07] kelsos commented on #41
@PixelantDesign it seems that it is still assigned to the previous developer that was working on the issue so I am not able to start work.

[2018-10-25 15:52] vs77bb commented on #41
@kelsos please try again now!

[2018-10-25 15:52] vs77bb commented on #40
Hi @LefterisJP sorry this one took so long -- @kelsos didn't 'Submit Work' on his side, so we had to use the Advanced Payout feature to pay out. This was complicated by the fact that we took 'Advanced Payout' down on our side for a few weeks to debug a few things.

Also commented on #41 -- he should be good to go there now, as well 👍

[2018-10-25 16:37] kelsos commented on #40
@vs77bb I was not sure how this works, sorry. So I have to submit work on the issue. Also I have no account with any eth, Would this be a valid reason to request some from the faucet to submit the work?.

Furthermore it seems that the tip was send twice. Could you cancel one of two?

[2018-11-03 08:45] LefterisJP opened #201 "Since kraken removed ICN we get a crash"
## Problem Definition

Kraken [delisted](https://support.kraken.com/hc/en-us/articles/360001423706-Delisting-of-Iconomi-ICN-) ICN and rotkehlchen is not handling this gracefully.

[code]

### Task

Solve this

[2018-11-03 16:36] owocki commented on #40
yes, please request a faucet dispursement for this

[2018-11-03 23:31] #201 closed

[2018-11-12 07:30] kelsos opened #206 "Adding a bitcoin account for the first time throws an error"
When adding a bitcoin account for the first time it seems that the account table is not initialized.

This results to an error thrown since the the `update_format` method is called on an undefined value.

The account is properly added though and it can be seen if you just reload/relogin to the application.

[2018-11-16 21:04] kelsos opened #209 "ValueError on sign in after saving settings."
## Problem Definition

When you go to the settings and change the `Date from when to count historical data` the date picker seems to not respect the expected format and inserts a time.

![image](https://user-images.githubusercontent.com/2269732/48646963-bdc19680-e9ea-11e8-86d6-d746ae906608.png)

If the user saves the settings, after a re-login the following message is displayed and the user is una

[2018-11-18 23:47] LefterisJP opened #211 "Kraken balances query will fail due to BCH/BSV fork"
## Problem Definition

BCH forked into BCHSV and Kraken started also supporting BCHSV. Rotkehlchen does not currently handle this correctly

## Task

Handle BCHSV for Kraken

[2018-11-19 08:43] #211 closed

[2018-11-25 08:28] LefterisJP opened #216 "Create a latest activity pane in the dashboard"
## Problem Definition

It would be nice to have a visualization of the latest activity across blockchain and all exchanges that you own and to see it on the dashboard when rotkehlchen starts.

It should contain:

- Latest `N` number of trades from all exchanges of the user.
- Latest `N` number of blockchain activities from the user.

## Task

- Add the backend functionality for what is described a

[2018-11-25 16:51] LefterisJP opened #217 "Tax report all events CSV export contains cyclic references"
## Problem Definition

When generating a CSV file from the tax report the ALL events csv has cyclic references when imported to google docs and the final google spreadsheet has many incorrect columns.

## Task

Fix the cyclic references and make sure that the final google docs spreadsheet is properly populated

Note that this is hard to test. If possible in the future we should have a good test fo

[2018-12-01 15:39] LefterisJP opened #218 "Fields containing NaN values in the UI version of the tax report"
## Problem Definition

There are some fields containing `NaN` values in the final tax report that is displayed to the user.

## Task

Fix the bug and make proper numbers displayed there. If the field should have a `0` value then this is what should be displayed.

[2018-12-01 23:37] LefterisJP opened #219 "Loss Calculation of poloniex BTC settlement force sells is wrong"
## Problem Definition

The calculation for poloniex force selling of BTC is wrong. The code was forwarding `trade.cost` as the amount.

## Task

Fix it

[2018-12-02 08:19] #217 closed

[2018-12-02 08:19] #219 closed

[2018-12-02 10:39] LefterisJP opened #221 "Double check cryptocompare historical price data"
## Problem Definition

As of 02/12/2018 cryptocompare historical data are not consistent for all coins when comparing to currencies other than USD. As an example:

The following returns `0.032` EUR which is way too low for mid November 2016.

`https://min-api.cryptocompare.com/data/dayAvg?fsym=DASH&tsym=EUR&toTs=1479200704`

The USD rate of 9.57 returned by the following call is more correct when

[2018-12-02 14:07] LefterisJP opened #222 "Offer progress indicator during tax report generation"
## Problem Definition

During the tax report generation, depending on the timerange, the number of taxable events in that period and the presence of price caches, it may take a long time for the tax report to be complete.

At the moment the only way to kind of watch the progress is to tail the log: `tail -f rotkehlchen.log`.

This can be improved on and we can provide a progress report to the user

[2018-12-04 08:31] LefterisJP opened #223 "Incorrect trades profit/loss due to FIFO cost error"
## Problem Definition

For the trades profit/loss there can be an error when calculating the trades profit loss (both taxable and non taxable) due to the function [search_buys_calculate_profit()](https://github.com/rotkehlchenio/rotkehlchen/blob/855a4004b97c8ad6cb49579a9dbc11f33254988d/rotkehlchen/accounting/events.py#L499) returning incorrect `taxable_bought_cost` and `taxfree_bought_cost` under

[2018-12-04 21:06] LefterisJP opened #224 "Multiple fallback options for historical crypto prices - Add Coingecko"
## Problem Definition

As can be seen in a recent [tweet](https://twitter.com/LefterisJP/status/1070034686137827328) I made it seems that Cryptocompare will phase out their public API and enforce API key authentication. That presents a problem for apps like rotkehlchen that will have to force their users to get an API key just to get historical price data.

Edit: Vlad from cryptocompare [tweeted](

[2018-12-05 02:07] tmlee commented on #224
You might want to consider our public open api at https://www.coingecko.com/api
Happy to answer any questions or concerns

[2018-12-05 07:52] LefterisJP commented on #224
@tmlee Thanks a lot for popping in. Definitely will add it as an option then. The most important thing is to not let the app without a way to fetch historical prices so the more options there are the better.

[2018-12-05 15:21] vcealicu commented on #224
As I said on Twitter, we won't change it but it makes sense to have a few fallback options. Redundancy on API feeds makes sense.

[2018-12-05 16:05] LefterisJP commented on #224
Thank you @vcealicu . I noted that in the issue and really appreciate it. I expect to have a refactored Price Historian with multiple API backends and cryptocompare being the default first choice.

[2018-12-06 22:02] kelsos opened #225 "Build fails due to updated jQuery typing"
## Problem Definition

Originally the issue appeared on CI when I was pushing the UI tests.
This seems to be caused by  "@types/jquery": "^3.3.22" and the same happens with the latest 3.3.23,
downgrading to 3.3.21 seems to work without an issue though.

The build error that happens is the following:

[code]

[2018-12-07 14:53] #225 closed

[2018-12-08 23:52] LefterisJP opened #229 "Make rotkehlchen compatible with sqlcipher 4"
## Problem Definition

So far rotkehlchen was supporting sqlcipher 3. Recently sqlcipher 4.0 was [released](https://www.zetetic.net/blog/2018/11/30/sqlcipher-400-release) and is unfortunately incompatible by default.

## Task

Make rotkehlchen compatible with sqlcipher 4.

 - [ ] If system sqlcipher version is 4 then follow the [compatibility guide](https://www.zetetic.net/blog/2018/11/30/sqlciphe

[2018-12-09 15:20] #229 closed

[2018-12-09 16:59] LefterisJP opened #231 "Selling an asset that will fork prefork time should also reduce its bought amount"
## Problem Definition

For assets that will fork, like `ETH` pre-`ETC` fork and `BTC` pre-`BCH` fork at the moment rotkehlchen adds equal amount of the after-fork asset for every buy before the fork happens. Logic is [here](https://github.com/rotkehlchenio/rotkehlchen/blob/3e51f3a3d90982f60fd314338185d714cc2a794d/rotkehlchen/accounting/events.py#L92).

But that can lead to the user having more of

[2018-12-09 17:33] LefterisJP opened #232 "Cached user-specific data should go in the user directory"
## Problem Definition

At the moment all cached data are in the general rotkehlchen data directory (in Linux by default: `~/.rotkehlchen/`). That works for price and historical price caches but will not work for user trade/action history caches.

As long as someone has two user accounts they will share the same user history caches which can lead to rather unpredictable behaviour.

## Task

Make su

[2018-12-09 22:42] #232 closed

[2018-12-10 02:05] ryan-shea commented on #40
hey @kelsos, if you need help with this, let me know!

[2018-12-11 15:39] #231 closed

[2018-12-15 08:52] LefterisJP opened #236 "Add code coverage through codecov"
Add code coverage through codecov in the CI. Initially only for python backend.

[2018-12-15 12:08] #218 closed

[2018-12-15 15:32] LefterisJP commented on #236
Done by https://github.com/rotkehlchenio/rotkehlchen/pull/237

[2018-12-15 15:32] #236 closed

[2018-12-16 00:12] LefterisJP opened #240 "Poloniex settlement buys incurred greater BTC loss than required"
## Problem Definition

In poloniex when you have margin positions open you need to liquidate your current assets in order to pay for the borrowed assets. In one of those cases, `settlement_buy` you buy back the borrowed asset with BTC, so in essence you are losing BTC as settlement loss.

The logic in the code was using the wrong amount when creating the BTC settlement sell. As can be seen here:

[2018-12-16 09:57] LefterisJP opened #241 "Margin trade loss should also reduce affected asset amount"
## Problem Definition

When processing a margin trade the current logic adds an amount of the won asset if there was profit but if there was a loss the amount is not reduced as can be seen below.

https://github.com/rotkehlchenio/rotkehlchen/blob/1ae0ad38961558e0e971a20ea240da2630875f1b/rotkehlchen/accounting/events.py#L707-L734

This can lead to us having more of an asset than in reality.

## Tas

[2018-12-16 12:40] #240 closed

[2018-12-16 12:40] #241 closed

[2018-12-16 21:04] LefterisJP opened #243 "Do not convert bank balance in the UI to USD and back"
## Problem Definition

When a bank balance is displayed in the UI if the currency is not in USD and the profit currency is also not in USD it seems that there is a double conversion.

## Task

- [ ] Make sure that if our profit currency is not in USD just simply use the direct amount in what is displayed to the user.
- [ ] Add UI test for it.

[2018-12-28 22:52] LefterisJP commented on #134
Hmm I see what you mean. This limitation comes due to the way the binance API is written. I have to iterate through all existing markets to see which ones you have history for. Perhaps they have added a new endpoint since the time I wrote this. I will check.

[2018-12-28 22:56] LefterisJP commented on #134
No I dont' see any such endpoint: https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md

[2018-12-28 23:34] LefterisJP commented on #134
@kascheri12 I can try to handle the 429 response for binance and wait on it instead of failing like above. But how the heck did you manage to go over 1200 requests per minute? Can you perhaps describe exactly what you did or even send me logs?

[2018-12-29 12:59] LefterisJP commented on #134
Hey @kascheri12 I wrote a patch that should handle the 429 error: https://github.com/rotkehlchenio/rotkehlchen/pull/248

I made a mock test for it since I could not reproduce the 429 error response no matter how fast I spammed binance. Looking at your logs it seems that you can for some reason spam faster than I can.  One page of logs (~100 requests) takes 5 milliseconds for you while for me 12. I

[2018-12-29 13:00] #134 closed

[2019-01-12 14:06] #222 closed

[2019-01-12 14:45] LefterisJP commented on #243
I no longer see this. May have been mistaken. Will reopen if wrong.

[2019-01-12 14:45] #243 closed

[2019-01-15 23:34] LefterisJP opened #258 "Initial dashoard loading may redirect user"
## Problem Definition

If a user opens rotkehlchen, logs in and immediately after log-in goes to another page, the initial loading of the dashboard may redirect him.

## Task

Find out why, and solve. If possible reproduce in a test.

[2019-01-15 23:37] LefterisJP opened #259 "Updating fiat balances does not refresh table."
## Problem Definition

Sometimes if a user navigates to user settings and tries to modify his fiat balance, the table is not refreshed even though the actual balance is updated.

## Task

Figure out why, fix it and if possible write a test.

[2019-01-19 12:07] LefterisJP opened #264 "Handle opening an sqlcipher v4 database with a binary using v3"
## Problem Definition

In Ubuntu, sqlcipher is still at v3 and there is no package released with v4 yet. Thus when we create a rotkehlchen binary from Travis, the sqlcipher version is going to be v3. The problem lies when trying to use that binary with a local DB version which has already been upgraded to v4.

At the moment the only thing to do is warn the user that this is [probably happening](ht

[2019-01-20 23:07] #264 closed

[2019-01-21 16:23] LefterisJP opened #268 "Include version name in release artifacts"
## Problem Definition

At the moment all release files don't include any version names in the filename. This can become rather confusing.

## Task

Add the release name to the filename when packaging a release. Example: `rotkehlchen-v0.6.0-darwin-x64`.

To do that:
1. Use `git describe --tags` to get the latest release tag or release + commit description and add it in [package.sh](https://github.c

[2019-01-26 15:26] LefterisJP opened #272 "Net value over time graph for premium users"
## Description

This is a premium feature. If the user has a premium subscription then they should be able to view the graph of their overall networth over time.

## Task

As this is the first premium graph/stats feature some preparatory work needs to be made:

1. Add a new pane in the UI for statistics
2. If premium is activated then that pane should load a graph of the net value of the user over

[2019-01-27 16:44] rakanalh commented on #167
I tried this again today and somehow the issue disappeared. The app was able to get all bittrex balances.

[2019-01-27 16:44] #167 closed

[2019-01-28 12:15] rakanalh opened #273 "NANO cryptocurrency: no price for a given timestamp exception"
## Problem Definition

Using Rotkehlchen, i was able to import my binance/bittrex accounts and then tried generating a tax report. Apparently, the issue was because NANO was rebranding at some point from Raiblocks (XRB symbol) and cryptocompare does not provide the price of NANO before the rebrand has happened.

The process failed with the following exception:

[code]

Potential solution is to fal

[2019-01-28 12:17] rakanalh commented on #47
I also agree this should be done... at some point i created a different binance account to be able to "separate" funds... being able to import both accounts would be great.

[2019-01-28 12:53] LefterisJP commented on #273
As we discussed offline this is due to cryptocompare not having a price for the requested timestamp for `NANO`. It seems that `NANO` used to be `XRB` and that cryptocompare treats them as 2 different coins.

There is prices for a historical period for `XRB` and then when it rebranded there are only prices for `NANO` and not for `XRB`.

So the solution to this is to handle known rebrandings like th

[2019-01-30 03:36] ryan-shea commented on #40
@kelsos any updates?

[2019-01-30 07:46] LefterisJP commented on #40
This is finished. @ryan-shea

[2019-02-02 16:56] #268 closed

[2019-02-02 21:24] LefterisJP opened #276 "Feature: User should be able to see which accounts a crypto asset is spread to"
## Abstract

In the dashboard the user can see how much of a particular crypto asset they hold. But at the moment it's not possible to know which accounts these assets are spread to if they are on-chain.

## Motivation

As a user I would like to be able to see across which accounts a particular coin is spread.

## Specification

- Right clicking on an asset on the general dashboard should provide

[2019-02-03 09:43] LefterisJP opened #277 "Feature: Warn users if user action is required for one of their assets"
## Abstract

Sometimes action is required, especially in the crypto world by users. For example for token migration.

## Motivation

As a most recent example of what this feature can achieve consider the recent MLN token [migration](https://medium.com/melonport-blog/mln-token-migration-instructions-196a645fc3ac). It requires user action and many users may not be aware of it.

The idea is to provid

[2019-02-12 15:54] LefterisJP opened #280 "Create tooling to generate random data for demos and manual testing"
## Abstract

Rotkehlchen relies heavily on data having been generated daily by the user and also data present at the exchanges. To showcase its capabilities and for manual testing it's required to have fake data generated.

## Task

Create some tools under a dedicated tooling directory. They should:

1. Create a new user and accept some initial balance in tokens and FIAT for for him. These should

[2019-02-14 20:08] LefterisJP opened #283 "OTC trades table no longer appears in the UI"
## Problem Definition

The table in OTC trades no longer appears in the OTC trades pane of the UI

## Task

Fix it

[2019-02-14 20:09] rakanalh opened #284 ""Exchange trades" menu option doesn't do anything"
## Problem Definition

On the menu, Clicking "Exchange trades" menu option does not change the current page to show whatever that page shows.

### System Description

Here add a detailed description of your system, e.g. output of the following script:

Linux archlinux 4.20.5-arch1-1-ARCH #1 SMP PREEMPT Sat Jan 26 12:59:18 UTC 2019 x86_64 GNU/Linux
/usr/bin/geth
Geth
Version: 1.8.22-stable
Git Comm

[2019-02-14 21:08] #283 closed

[2019-02-14 21:52] LefterisJP commented on #284
Yeah that is actually a long standing todo. It's "working as intended" at the moment since it's actually not implemented. I thought there was an issue to implement it but it seems not. We can use this issue for it.

[2019-02-17 16:27] LefterisJP commented on #280
PRs that implement/ed what is required for this issue:

- https://github.com/rotkehlchenio/rotkehlchen/pull/286 -- Sets the groundwork for the issue by implement all bullet points except (3) for one exchange only, Kraken.

[2019-02-17 20:58] LefterisJP commented on #273
Was fixed by https://github.com/rotkehlchenio/rotkehlchen/pull/281. Thank you @rakanalh

[2019-02-17 20:58] #273 closed

[2019-02-17 22:10] LefterisJP opened #288 "After user re-login the backend throws exceptions"
## Problem Definition

First noticed by @kelsos [here](https://github.com/rotkehlchenio/rotkehlchen/pull/270#issuecomment-464488862) this seems to be reproducible also locally.

The two errors are: `Failed to acquire fiat to USD exchange rates: 'NoneType' object has no attribute 'get_fiat_usd_exchange_rates'` and `AttributeError: 'NoneType' object has no attribute 'query_fiat_pair'` It seems that

[2019-02-18 23:45] #288 closed

[2019-02-21 23:03] LefterisJP opened #292 "Write OTC Trade UI Tests"
## Problem Definition

We need UI tests for adding, removing and editing an external trade.

## Task

- [ ] Write a test that adds two external trade via the OTC Trades pane and sees them in the OTC Trades table
- [ ] Then write a test that edits one trade and sees the change in the table
- [ ] Finally write a test that removes one trade and sees it removed from the table.

[2019-02-22 20:05] rakanalh opened #295 "Auto-complete historical trade rate for external trades by querying historical price"
## Abstract

When adding OTC trades, most invoices won't provide you with the rate at which you bought BTC with compared to fiat currency USD / EUR. However, since Rotkehlchen queries Cryptocompare for prices, CC can be queried as soon as the user enters the OTC trade's "time" and "pair" fields.

## Motivation

Forms are usually a bit frustrating. From a UX point of view, we can provide the user w

[2019-02-22 20:13] LefterisJP commented on #295
The problem with this approach is that by definition an OTC trade does not follow the standard rate. An OTC (over-the-counter) trade usually goes at a special rate known only to the user who made it. For example an ICO, a signed deal with a broken for a large purchase e.t.c.

[2019-02-22 20:43] rakanalh commented on #295
True... the pre-populated field could just "suggest" the value. You could also argue that people will use OTC trades for entering trades on exchanges not supported by Rotkehlchen such as Coinbase or Kukoin... etc, which means that it could be very useful to have the field populated in case my Invoice does not contain the rate at the point in time where i purchased the cryptocurrency.

[2019-02-22 20:46] LefterisJP commented on #295
That's also true. It's a good idea.

Sidenote: All these exchanges should eventually be supported. Make issues and someone ... if time allows .. should get them done :)

[2019-02-22 20:52] rakanalh opened #296 "Coinbase support"
Note sure of #46 is going to be enough as regular people (non-traders) would buy directly from Coinbase. If Gdax APIs provide you with purchases also made on Coinbase, then this issue should be closed.

TBD if this issue is needed.

[2019-02-22 20:53] rakanalh opened #297 "Add Kucoin exchange support"
Kucoin support should be added.

[2019-02-22 23:03] LefterisJP opened #299 "IOTA historical price queries don't work"
## Problem Definition

Discovered this from testing with fake data generated thanks to the data faker.

Historical price queries for the `IOTA` token don't work. That's because it's known in cryptocompare as `IOT` and not `IOTA`.

## Task

- [ ] Make sure that `IOTA` is translated to `IOT` when dealing with cryptocompare
- [ ] Add a test for it

## Future note

According to [coinmarketcap](https:/

[2019-02-22 23:31] #299 closed

[2019-02-25 11:37] LefterisJP opened #304 "Create windows binaries manually"
This issue is to track the creation of binaries for windows by manually compiling and testing Rotkehlchen on a windows machine.

This issue is closely related to https://github.com/rotkehlchenio/rotkehlchen/issues/146 which is for the CI automatically generating binaries.

[2019-02-25 23:15] LefterisJP opened #307 "Write test that loads and reloads dashboard to see changes reflected on it"
## Problem Defintion

I suspect that once the dashboard's initial loading with data happens, then if we go to the user settings and add 1 more account or 1 more exchange or any data that would change the dashboard nothing happens.

Could be related to: https://github.com/rotkehlchenio/rotkehlchen/issues/258

## Task

Write tests for the above and if indeed they reproduce a problem fix the bug

[2019-02-26 19:51] rakanalh opened #308 "Reference before assignment"
## Problem Definition

Seems like when updating to the latest master, somehow generating a report started throwing this exception:
[code]

Probably because my `trades_history.json` file did not contain proper JSON (another issue).

[2019-02-26 19:53] rakanalh opened #309 "TradeType is not JSON serializable"
## Problem Definition

As the title says. I faced this error when i rebased on latest master.
[code]

[2019-02-26 20:21] LefterisJP commented on #309
Thank you @rakanalh. I missed this when I started refactoring some of the data structs. Want to do more refactorings there and unfortunately this error means there are some paths that need tests.

Most of the accounting tests that process the trade history are here: https://github.com/rotkehlchenio/rotkehlchen/blob/master/rotkehlchen/tests/test_accounting.py

But they get a trade history provided,

[2019-02-26 21:33] #309 closed

[2019-02-27 22:51] LefterisJP opened #312 "Premium statistics: Per asset balance over time graph"
## Motivation

Add another graph in the statistics pane that shows the balance of a particular asset over time. This way users can see how their balance for a given asset has evolved over time.

## Specification

Add another graph in the statistics pane that shows the balance of a particular asset  over time. The user can choose the asset and the timerange.

[2019-02-27 22:53] #272 closed

[2019-02-27 23:00] LefterisJP opened #313 "Premium statistics: Doughnut charts of assets breakdown"
## Motivation

Visualizing a breakdown of the user assets is useful and easier to read if shown in a doughnut chart.

## Specification

Add two doughnut charts to the statistic pane:

1. A doughnut chart breaking down assets by total net value
2. A doughnut chart breaking down the locations where assets are held (onchain, all supported exchanges or FIAT) depending on the total net value

[2019-02-28 09:02] LefterisJP opened #314 "Initial dashboard loading is slow"
## Problem Definition

The initial loading of the dashboard has gotten slower. It takes some time before the first data is shown in the dashboard. Find out why and fix it.

## Task

After some searching I am sure this is because we are still using both https://free.currencyconverterapi.com/ and https://exchangeratesapi.io/ as a fallback. But right now the first (free currency converter) requires a

[2019-02-28 12:59] #314 closed

[2019-03-01 19:26] #312 closed

[2019-03-02 18:31] #313 closed

[2019-03-02 22:29] LefterisJP opened #319 "ETH Tokens to track selection needs filtering"
## Problem Definition

In the UI selection of ETH tokens to track the user is presented with all of the tokens in eth_tokens.json, even the double versions, like `MLN (old)` and `MLN (new)`. There should only be one version of each token, the newest one.

## Task

Clean up the selector UI widget to not include doubles.

[2019-03-02 22:46] LefterisJP opened #320 "After visiting user settings more than once some widgets are not responsive"
## Problem Definition

After visiting user settings more than once some widgets are not responsive

## Task

- [ ] Fix the bug
- [ ] Write UI test for it.

[2019-03-03 10:31] #320 closed

[2019-03-03 10:56] LefterisJP opened #323 "Some Kraken assets display exaggerated usd_values when querying balance"
## Problem Definition

When querying balances for the kraken exchange some values display extremely high usd values
The culprit is that only a few pairs like `ZJPYXXBT` have Bitcoin as the quote asset so the calculation at `kraken.find_fiat_price()` is wrong.

## Task

- [ ] Fix it
- [ ] Add test for it.

[2019-03-03 13:51] #323 closed

[2019-03-03 14:06] LefterisJP opened #325 "After adding assets from the user settings pane they are not reflected in the dashboard"
## Problem Definition

After adding assets from the user settings pane, like an ETH account, a BTC account or ETH tokens, if the user navigates back to the dashboard the new assets are not reflected in the dashboards "All assets" table.

## Task

- [ ] Fix this problem. If assets are added at the user settings they should be reflected to the dashboard when the user goes back there.
- [ ] Add tests

[2019-03-04 23:35] LefterisJP opened #329 "Maintain a list of known assets and conversions to/from them."
## Problem Definition

As we discussed [here](https://github.com/rotkehlchenio/rotkehlchen/pull/326#issuecomment-469166358) with @rakanalh there are problems with representation of assets in Rotkehlchen. The same asset can have a different name in one exchange, a different name in another and even a different one in cryptocompare, coingecko or other price querying assets.

## Proposed solution

##

[2019-03-08 19:15] rakanalh commented on #329
I realize some information can be queried about current cryptocurrencies... but where do you think we can gather the information about the currency's "date started" and "type"? i am not sure exchanges provide these information... but i would have to double check.

[code]
So going with this approach would have us do `if exchange_name == 'xyz'` and then based on each asset, we would query the exchan

[2019-03-08 19:52] LefterisJP commented on #329
@rakanalh

Research. Find the token issuance dates, first ERC20 transaction or timestamp of first block. This is essentially the hardest part of the work.

Why not having them in the dataclass itself? What's the difference? I actually already started some implementing and I do have a singleton class much like the `AssetResolver` you posted there, but for the moment only for the loading of the know

[2019-03-08 20:18] rakanalh commented on #329
There must be a better way than do it for more than 1500 tokens :cry:

As for the dataclass vs `AssetResolver`, my idea was to prevent the asset from being involved with exchange / CC related functionalities... but if you think the exchange call is not needed there then go for it, this was merely a suggestion.

About the upgrades:

This is tricky IMO:
- On one hand we can "store" the error, ignore

[2019-03-08 22:11] LefterisJP commented on #329
Automating for the ERC20 tokens should be easy since we also got the addresses (I already have a list of them). But for the own blockchain tokens it will be time consuming.

I am going to try and see if using coinpaprika's API to fill in the gaps and keep the list properly populated can work. They seem to have some of the info I wanted.

Example [here](https://api.coinpaprika.com/#tag/Coins/paths/

[2019-03-09 10:23] #292 closed

[2019-03-09 11:26] LefterisJP commented on #329
Talking about manual adjustments. For example I had found the proper `started` timestamp for the itcoin Satoshi's vision fork (BSV) but coin paprika has it as null: https://api.coinpaprika.com/v1/coins/bsv-bitcoin-sv

[2019-03-10 11:00] LefterisJP opened #331 "Cryptocompare 125 symbols change on 25th of March 2019"
## Abstract

On 25th of March 2019, 125 symbols in cryptocompare will change according to this post: https://blog.cryptocompare.com/symbol-ticker-change-for-126-coins-ec28ec14c009

The old symbols will continue to work until 24th of June, but we should complete the remappings on the Rotkehlchen side earlier.

[2019-03-10 11:25] vcealicu commented on #331
We will keep the two mappings running in paralel for a lot longer, I would advise you have a look at this in the summer when it's quieter

[2019-03-10 18:43] LefterisJP opened #332 "UI Widget signifying problems and asking for user action"
## Abstract

We need a UI widget that should appear on the top right and should tell the user that something is wrong and action is required.

## Motivation

Some times user something is constantly wrong and a simple pop-up won't help solve the problem. For example as mentioned in [this](https://github.com/rotkehlchenio/rotkehlchen/issues/329) issue the upgrade of the DB after we maintain our own

[2019-03-19 09:10] #194 closed

[2019-03-21 09:49] LefterisJP opened #334 "Handle too many redirects thrown by http://exchangeratesapi.io/"
## Problem Definition

The http://exchangeratesapi.io/ throws too many redirects error if you end up putting the EUR as the base symbol. Made an issue [there](https://github.com/exchangeratesapi/exchangeratesapi/issues/35) too.

## Task

We solve it in Rotkehlchen by handling the too many redirects error and falling back to a different API for querying fiat exchange rates.

[2019-03-21 12:48] #334 closed

[2019-04-08 20:27] tjayrush opened #337 "Rotkehlchenio hangs"
## Problem Definition

Provide a description of what is the current problem and why you are raising this issue.
If it's a bug please describe what was the unexpected thing that occured and what was the
expected behaviour.

**The program builds and I am able to run it with `npm start`, but it never really does anything. It looks like it's trying to do something because there's a spinning indicator:

[2019-04-09 07:42] LefterisJP commented on #337
Hey @tjayrush that means it probably did not build correctly and front-end can't connect to the backend.
Can you provide the following?

1. In the screenshot above you have a cut-off [X] with errors in the console of electron/chromium. Can you show me what those errors say?
2. Did you follow the installation by source [guide](https://rotkehlchen.readthedocs.io/en/latest/installation_guide.html#id6

[2019-04-09 11:09] tjayrush commented on #337
In the screenshot above you have a cut-off [X] with errors in the console of electron/chromium. Can you show me what those errors say?

<img width="1065" alt="Screen Shot 2019-04-09 at 7 01 07 AM" src="https://user-images.githubusercontent.com/5417918/55795287-6903e280-5a95-11e9-9b10-a1602c6dcc0a.png">

Did you follow the installation by source guide?

I tried. I had all kinds of problems with the

[2019-04-09 15:44] tjayrush commented on #337
Sorry to be a bother, I'm not all that familiar with node. Is this something you will fix or do I have to revert node? Do you have suggestions on where to go to learn how to install an older version of node if that's what I need to do?

[2019-04-09 17:12] kelsos commented on #337
No worries, I am personally using [nvm](https://github.com/creationix/nvm) to manage node.js versions for the development environment. I am not sure if it makes sense for you.

[2019-04-09 17:15] LefterisJP commented on #337
@tjayrush

It's a pleasure to get feedback on the process. Compiling this thing by source is not easy due to the requirements and nitpicks that node sometimes has. But we will figure it out.

So seems like the backend is working and the error you are getting is indeed a node version related one. It's common to get this and this is why this step exists in the guide.

`npm rebuild zeromq --runtime=e

[2019-04-10 04:45] tjayrush commented on #337
That worked! I guess you can close this. I am seeing a few other issues, but I will open them separately.

[2019-04-10 17:02] LefterisJP commented on #337
Thank @tjayrush :heart:

All issues are more than welcome.

[2019-04-10 17:02] #337 closed

[2019-04-12 17:36] chickenlasers opened #339 "Startup Error - they Python backend crushed"
## Problem Definition

I get the following error when I run rotkehlchen using the darwin-x64 package:

https://pbs.twimg.com/media/D3-BXC2WsAAeEaz.png

Rotkehlchen also logs debug information to the `rotkehlchen.log` file. Please attach it to the
issue as it may help us find the source of the issue faster.

I couldnt find any log file in the folder, so I must be doing something wrong.

### System

[2019-04-12 17:40] chickenlasers commented on #339
I tried running that unix executable and got this in the terminal window:

XXXs-MacBook-Pro:~ xxx$ /Users/XXX/Desktop/rotkehlchen-darwin-x64/rotkehlchen ; exit;
child process success on port 4242
CREATED PYPROCESS
python subprocess killed with signal null and code 255

[2019-04-12 21:24] LefterisJP commented on #339
Hello @chickenlasers!

Thank you for trying Rotkehlchen even though it's still before v1.0.

So I assume you downloaded the latest release? (v0.6.0) from [here](https://github.com/rotkehlchenio/rotkehlchen/releases/tag/v0.6.0) ?

Did you navigate via the command line to the directory where you downloaded it? Seems to be `/Users/XXX/Desktop/rotkehlchen-darwin-x64` from what you posted.

Once there

[2019-04-12 23:17] chickenlasers commented on #339
Hi, thanks for the fast reply!

Yes, I download the latest release from that link.

I tried navigating to that folder in the command line, ran that command but still got the same error. Interestingly the logs are also still nowhere to be found.

[2019-04-13 08:05] LefterisJP commented on #339
So by doing `ls` in the folder you don't see `rotkehlchen.log` file in there I guess? I just tried it in an OSX machine and it works fine for me. Perhaps I am am making some assumptions about OSX that my system has and other systems don't have by default (I normally work on Linux).

@ulope You had tried Rotkehlchen in OSX in the past. Can you maybe try to see if you can help here? Any idea what co

[2019-04-13 16:35] chickenlasers commented on #339
Yeah I tried the ls command and it still did not show.

I guess its a hard thing to pin point, especially when you aren't particularly familiar with the OS.

[2019-05-06 17:42] pavelvolek commented on #339
@chickenlasers any luck figuring this up? Same problem here..

[2019-05-07 17:24] ulope commented on #339
I just tested the latest release, works normally on macOS 10.14.4.

@chickenlasers You wrote you're using 10.12. It's not unlikely that this is the problem.

[2019-05-18 21:11] ebuchman opened #348 "Consider integration with beancount (plaintextaccounting!)"
## Problem Definition

First, this is an awesome project and kudos for building it :)

There is a growing movement around [plaintextaccounting](https://plaintextaccounting.org/), which refers to a plaintext human+machine readable format for keeping double-entry books, and the suite of open-source tools and scripts supporting it. I'm particularly fond of [benacount](http://furius.ca/beancount/), as

[2019-05-18 22:27] koeppelmann opened #349 "copy/past does not work under macOS"
## Problem Definition

I can't use copy/paste which makes it basically impossible to add my Ethereum addresses.
Neither CMD/V nor ctr/V works.

### System Description

MacOS 10.14.4
Rotkelchen: precompiled: v3.0.12

[2019-05-18 22:29] koeppelmann opened #350 "Remote node support"
## Abstract

I have an Ethereum node in my own network but on a different machine. (Avado/dappnode)
Currently I can only specify a port but I would need to specify a location like: http://my.ethchain.dnp.dappnode.eth:8545

[2019-05-18 22:33] LefterisJP commented on #350
Hmm I have been using a local node for so long that I overlooked this. Will implement this soon, and will be in the next release. Thanks for pointing it out.

[2019-05-18 22:34] LefterisJP commented on #349
Okay that's weird. I will have to look into this. Will take me some time to dust off my old macbook.

[2019-05-18 23:47] LefterisJP commented on #350
One note, @koeppelmann:  This is but a minor thing, since rotkehlchen does not require an ethereum node connection. If not found it will simply revert back to using etherscan for all ethereum chain queries.

[2019-05-19 18:15] LefterisJP commented on #348
Hello Ethan,

I have not considered this yet no.

My goal is for rotkehlchen to become an all-encompassing accounting, taxes and investments tools for others but first and foremost for me as I am probably the most hard-core user of the software. Once I add also normal expenses accounting (groceries e.t.c.) perhaps it would make sense to look into that format you mention. At the moment I am using a

[2019-05-19 18:39] #350 closed

[2019-05-19 19:44] LefterisJP commented on #349
Okay so @koeppelmann it seems that Electron and OSX need special care to actually enable copy paste.

- [Reference 1](https://pracucci.com/atom-electron-enable-copy-and-paste.html)
- [Reference 2](https://www.codedmaster.com/2017/01/24/getting-electron-copy-paste-shortcuts-for-mac-builds/)

I tested with the last release of rotkehlchen on OSX (v0.6.0). Did you also test the same version @koeppelma

[2019-05-19 19:55] kelsos commented on #349
@LefterisJP the latest master that it works for is it a packaged version or a development one?
Maybe something gets added automatically when the environment is not production.

[2019-05-19 20:11] LefterisJP commented on #349
@kelsos its a simple `npm start` from master

[2019-05-20 07:51] kelsos commented on #349
I am a little bit curious. What if you go and remove the whole edit menu for the development version? Would the copy paste still work? One of the differences between development and production is that the menus were completely removed. Maybe electron on OSX relies on the edit menu being present to enable the copy/paste functionality.

[2019-05-20 08:36] LefterisJP commented on #349
I did that yesterday and it still worked when doing `npm` start @kelsos. Also thought the right click menu you added had something to do with it.

[2019-05-20 09:41] #349 closed

[2019-05-20 09:42] LefterisJP commented on #349
Should be fixed by https://github.com/rotkehlchenio/rotkehlchen/pull/352 but have to check with next release to be 100% sure.

[2019-05-20 09:54] kelsos opened #354 "Rewrite electron app in Vue.js"
## Abstract

I am opening this issue to keep track of the tasks need to be performed to properly migrate the electron-app to Vue.js.

## Motivation

jQuery is outdated and not fit for modern app development, it makes maintenance and development harder.

Some of the problems witht he current structure include:
- It doesn't provide hotswapping (webpack) so the app has to be restarted for every singl

[2019-05-21 20:49] LefterisJP opened #355 "moveTo is deprecated warning during npm test"
While running `npm test` I get some warnings:

[code]

Investigate and fix them

[2019-05-22 08:10] kelsos commented on #355
@LefterisJP Last time I checked, there was no viable alternative to the moveTo command. There was supposed to be an actions API that would replace that one, but it was not implemented on the browser side.

You can suppress the warnings, but until Webdriver.io implements a viable replacement API I am not sure we can do much.

[2019-05-22 08:51] LefterisJP commented on #355
Hmm really? This issue seems to suggest it has been: https://github.com/webdriverio/webdriverio/issues/2140

[2019-05-24 09:19] #332 closed

[2019-05-24 11:02] LefterisJP opened #358 "Do not crash if any exchange has an asset not yet known by Rotkehlchen"
## Problem Definition

At the moment if Rotkehlchen has not been updated to know of an asset that an exchange has listed it will crash with the `UnknownAsset` exception. This is good in the tests, to know that Rotkehlchen needs to add new assets to its supported assets but not good to happen in production.

## Task

Instead create a warning and add it to the notification that the user sees to let

[2019-05-29 10:35] LefterisJP opened #359 "Maybe switch to having no cache usage as default for all tests"
## Problem Definition

Whenever we want to not use cache in queries then we can use a clean caching directory by using this fixture:

https://github.com/rotkehlchenio/rotkehlchen/blob/9424b25f801122260ecfa724511e217a09f92c19/rotkehlchen/tests/fixtures/accounting.py#L18-L21

This is now set to `True` on demand whenever needed

## Task

Perhaps instead of setting it to `True` when needed we should s

[2019-05-30 10:50] LefterisJP opened #360 "Have a function scoped fixture for the message aggregator in tests"
## Problem Definition

Should not initialize a new aggregator for each other fixture. Instead they should all use another aggregator as a fixture.

[2019-06-01 22:54] LefterisJP opened #361 "Last trade in range is always skipped when processing history if all trades inside range"
## Problem Definition

The function `limit_trade_list_to_period()` has a bug. It should limit the sorted list of trades to a time period. But if all trades are inside the range the last one is skipped. This results to always missing the very last trade when doing the accounting calculation.

## Task

Fix the bug and write tests for the function

[2019-06-02 11:56] #358 closed

[2019-06-02 11:56] #360 closed

[2019-06-02 11:56] #361 closed

[2019-06-09 08:53] LefterisJP opened #367 "Add timeouts in all requests to external APIs"
## Problem Definition

There are many places in the codebase where there are requests made in external apis without a set timeout. This can lead to rotkehlchen hanging.

## Task

Add timeouts to all requests and handle the cases where timeouts do occur. Docs: https://requests.readthedocs.io/en/latest/user/quickstart/#timeouts

[2019-06-10 18:29] kelsos opened #368 "Navigation breaks after navigating to statistics"
## Problem Definition

If you navigate to the statistics page and then try to navigate to any other page, the navigation doesn't work at all. This is caused by the following error:

[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2019-06-11 09:42] kobigurk opened #369 "Allow importing multiple blockchain accounts at the same time"
Implement a method that will allow importing multiple blockchain accounts at once instead of having to specify them one by one.

This could be done in three different ways:

1. Allow mass import from a file. A simple json file would be sufficient. Could also contain tags if #461 is implemented.
2. If this involves ethereum accounts they could also be imported from the local ethereum node if the us

[2019-06-11 14:49] LefterisJP commented on #369
Hey @kobigurk no there is not. You need to do them one by one.

[2019-06-12 11:22] #368 closed

[2019-06-16 16:47] kobigurk commented on #369
Got it, thanks!

[2019-06-16 19:27] LefterisJP commented on #369
But no need to close it. We can turn it into a feature request, if it ever becomes possible and makes sense to implement :)

[2019-06-17 20:55] LefterisJP opened #377 "Cryptocompare historical data seem to have changed"
## Problem Definition

The guard against bugs in querying price history seem to have failed providing price queries slightly different than the expected ones. The expected ones were set by simply querying cryptocompare for the timestamp at the time and saving the value.

That can only mean that the historical data of cryptocompare have changed. Find out why if yes and if that is a problem.

If not

[2019-06-17 21:03] LefterisJP commented on #377
@vcealicu Can you maybe chime in? Did you guys do something that would explain this change and is it safe for us to adjust the tests?

[2019-06-17 22:55] LefterisJP opened #379 "Flaky Test: test_try_premium_at_start_new_account_can_pull_data"
## Problem Definition

Test fails flakily on Travis:

[code]

[2019-06-19 14:18] LefterisJP commented on #331
This just became urgent as the old mappings no longer work.

[2019-06-21 14:37] #331 closed

[2019-06-21 16:07] GratefulDave opened #382 "darwin-x64 install problems."
## Problem Definition

I am using MacOS 10.14.5. 32g. Python 3.7.1. On launch of the darwin-x64, I get `The python backend crashed'. When I did get it to work briefly, I got a `Heartbeat Bleed` error.

Under ~/Library/logs I see an empty Rotkehlchen folder. Under system.log I see:
[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[2019-06-21 17:02] LefterisJP commented on #382
Hello Dave,
Okay so this is a similar problem to https://github.com/rotkehlchenio/rotkehlchen/issues/339
but you are using also latest OSX.

How exactly do you run rotkehlchen? I guess you download v0.6.0 and unzip it? Then what do you do? Exactly?

 I think one pain point is that you need to navigate to the executable it from the terminal as double clicking the app does not work in OSX.

[2019-06-21 18:13] GratefulDave commented on #382
Hi Lefteris,

I got it to work. It would be great to add Coinbase (Pro), Gemini and Ledger Nano/X.

David

[2019-06-22 08:14] LefterisJP commented on #382
That's good to hear! Then I am closing the issue. There is an issue for Coinbase: https://github.com/rotkehlchenio/rotkehlchen/issues/296

But nothing yet for Gemini or Ledger Nano/X. If you would like to see them happen in rotkehlchen please open issues as this helps me track how many people need the features.

[2019-06-22 08:14] #382 closed

[2019-06-23 07:48] #379 closed

[2019-06-24 15:57] LefterisJP opened #385 "Investigate and perhaps utilize bitex library"
## Abstract

After a chat with @nlsdfnbch I discovered his excellent [bitex library](https://github.com/Crypto-toolbox/bitex). Consider if it makes sense to utilize in Rotkehlchen.

## Motivation

In Rotkehlchen each exchange has a different driver written that follows the Rotkehlchen [exchange interface](https://github.com/rotkehlchenio/rotkehlchen/blob/master/rotkehlchen/exchange.py).

Implement

[2019-06-25 08:46] debris commented on #339
I reproduced the same problem with the latest release (`0.6`). macOS 10.14.3

<img width="488" alt="Screenshot 2019-06-25 at 16 44 34" src="https://user-images.githubusercontent.com/2613714/60083652-b294cd00-9768-11e9-8edc-77d032fffead.png">
<img width="912" alt="Screenshot 2019-06-25 at 16 44 40" src="https://user-images.githubusercontent.com/2613714/60083668-b9bbdb00-9768-11e9-97c8-da6d08a12969.

[2019-06-25 14:38] LefterisJP commented on #339
Hey @debris !!

So can you tell me how did you try to run rotkehlchen? Did you download the latest version, try to run the executable from the terminal?

[2019-06-26 05:51] debris commented on #339
I downloaded the latest executable, unziped, opened directory in Finder, then right clicked -> Open

[2019-06-26 06:37] LefterisJP commented on #339
can you try executing from the terminal? I know it's not the OSX way, but I am also not very adept at OSX. Hopefully it will get better by v1.0.

[2019-06-28 23:00] LefterisJP opened #388 "Add a typed NamedTuple for the DB settings"
## Problem Definition

The current code that returns the DB settings returns a very long and not well typed Dict as seen [here](https://github.com/rotkehlchenio/rotkehlchen/blob/5f93879609026ae2a0d2259eaf1e5bc914eeeb25/rotkehlchen/db/dbhandler.py#L474). This is hard to work with some times and a pain to deal with the typechecker.

## Task

That can be turned into a named tuple so that it can be ty

[2019-06-28 23:22] LefterisJP commented on #49
This has already been done. Not with strict mode, but `mypy rotkehlchen/ tools/data_faker --ignore-missing-imports` works both locally and on the CI.

[2019-06-28 23:22] #49 closed

[2019-06-30 09:27] #108 closed

[2019-06-30 18:51] tschubotz commented on #382
I just experienced the same issue:
1. I downloaded 0.6.0 from Github
2. I unzipped the file.
3. I opened `rotkehlchen.app` with a right-click -> `open` to make MacOS allow me to open the file due to `Unidentified developer`
4. I got a popup with `The Python backend crashed`
5. App closes after closing the popup.
7. I hit `CMD+o` to open the app again (Which now works even with the `Unidentified de

[2019-06-30 19:17] tschubotz opened #390 "Fetching data from Kraken fails"
## Problem Definition

After adding API info for Kraken, rotkehlchen seems unable to fetch data successfully due to the following error:
[code]

Relevant entry from `rotkehlchen.log`:

[code]
### System Description
`Darwin asdf 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64`
I was using release `v0.6.0` of rotkehlchen.

[2019-06-30 20:40] LefterisJP commented on #390
Hey @tschubotz! Thanks for trying out Rotkehlchen. v0.6.0 is pretty old. We are rather close to a v1.0 release. Still trying to stabilize and test the software in preparation for it.

This problem should be solved there. It should also work flawlessly in latest master if you are feeling adventurous and want to try to [build from source](https://rotkehlchen.readthedocs.io/en/latest/installation_gui

[2019-06-30 20:42] LefterisJP commented on #382
Thank you for writting out the detailed steps of what you tried.

Yes the app should only be ran as an executable through the command line at this point in both OSX and linux. I am not very familiar with OSX and have not made it into a proper dmg. There is an open issue for [this](https://github.com/rotkehlchenio/rotkehlchen/issues/26)

[2019-07-02 22:59] LefterisJP opened #392 "Table in user settings reverts to old state after navigating away"
## Problem Definition

Navigating away from the user settings after removing a BTC (and probably ETH) account and then coming back still show that removed account in the BTC (/ETH) accounts table even though the table was properly altered the first time.

[2019-07-04 07:54] #325 closed

[2019-07-04 22:03] LefterisJP opened #396 "Write UI tests for the navigation and data persistence bugs"
## Description

Write UI tests for the two bugs having to do with navigation and data persistence.

### Test 1

PR https://github.com/rotkehlchenio/rotkehlchen/pull/393 fixes #325

ESsentially the problem there was that adding or removing anything in the user settings (an ETH account, a BTC account, tracking a token) did not reflect itself later if you visited the dashboard.

So a test needs to be

[2019-07-04 23:19] #392 closed

[2019-07-09 23:35] LefterisJP opened #398 "Handle unknown dictionary keys when reading trades from Cache"
## Problem Definition

Something very recently must have messed up things in master and causing a Key Error in the tax report which is not caught by tests. It's due to reading a trade from the cache and the trade object being in an unexpected format.

[code]

also

[code]

## Task

- [ ] Fix the bug
- [ ] Write a test for it

[2019-07-10 08:37] LefterisJP opened #399 "In accountant processing asset2 is Optional"
## Problem Definition

When processing trade history and include onchain ethereum transactions then at accountant processing the `asset2` object is `None`. Current code does not seem to know this and fails with:

[code]

## Task

- [ ] Fix
- [ ] If possible add a test

[2019-07-10 21:18] LefterisJP opened #400 "Better history cache processing and invalidation"
## Problem Definition

In `create_history()` if the cache is invalidated for any external source we query the entire history again from the beginning since we delete all history cache files.

## Task

Properly delete only the cache files that have been invalidated.

[2019-07-10 22:57] LefterisJP opened #401 "Use TypedDict in serialization and deserialization of objects"
## Problem Definition

Dicts should in general be avoided as they are hard to typecheck and reason about. But whenever we serialize or deserialize an object it most of the times passes through a dict.

At the moment we use `Dict[str, Any]` as a type which provides no type checking at all and can hide bugs.

## Task

Use proper [TypedDict](https://mypy.readthedocs.io/en/latest/more_types.html#typed

[2019-07-11 23:41] LefterisJP opened #403 "Use ApiCredentials in exchanges and rotkehlchen premium"
## Problem Definition

After https://github.com/rotkehlchenio/rotkehlchen/pull/402 `ApiCredentials` named tuple is introduced. Use it also in the constructor of each exchange and in the constructor of Rotkehlchen premium

[2019-07-11 23:47] LefterisJP opened #404 "Replace zerorpc with normal HTTP Rest API"
## Problem Definition

Zerorpc is a pain in the ass the way Rotkehlchen has evolved.

1. We need to have a hack in long running API calls to make sure that gevent does at least 1 context switch every 10 seconds to avoid the dreaded heartbeat error: https://github.com/rotkehlchenio/rotkehlchen/blob/605d56edf46d20d090e4d3dad94becd88c8749a5/rotkehlchen/accounting/accountant.py#L397

2. The module use

[2019-07-12 07:51] #398 closed

[2019-07-12 07:51] #399 closed

[2019-07-15 13:10] kelsos commented on #404
@LefterisJP are we doing this for v1.0.0 or after the vue rewrite? both should be viable since we have extracted the functionality to the service.

[2019-07-15 17:01] LefterisJP commented on #404
100% after.

[2019-07-18 19:42] LefterisJP opened #411 "Adding a blockchain account while tables are still loading throws error"
## Problem Definition

If you try to add a new blockchain account while the tables are still loading through the UI, then you will get an error "Table is still loading"

## Task

Fix that error by disallowing entering new blockchain accounts while the tables are loading.

[2019-07-18 20:28] LefterisJP opened #412 "Typing: use type literals more"
## Problem Definition

Try to utilize [type literals](https://mypy.readthedocs.io/en/latest/literal_types.html) more.

Example use cases. An exchange's api query:

[code]

This would return different type depending on the passed command literal.

At the moment

## Task

Use type literals in as many places as possible to avoid not well defined types like `Union[Dict, List]` and `assert(isinstance(.

[2019-07-19 21:19] LefterisJP opened #414 "Add DB upgrade for BCC -> BCH"
## Problem Definition

There are reports of old users having "BCC" in their databases, which is an outdated name for BCH.

## Task

Make a DB upgrade to rename BCC to BCH.

[2019-07-20 11:25] LefterisJP opened #416 "Report if user is using old software with new DB"
## Problem Definition

If the user uses older version of the software with a new DB version then a lot of things can go wrong.

## Task

So do not let the users revert to older software if their DB has been upgraded.

[2019-07-20 11:27] #414 closed

[2019-07-20 12:42] #416 closed

[2019-07-21 16:34] LefterisJP opened #419 "If local DB smaller than remote prompt user before pushing"
## Problem Definition

At the moment and after https://github.com/rotkehlchenio/rotkehlchen/pull/418 we are rather conservative with data pushed to the server. If the local DB is of smaller size than the remote nothing is pushed to the server

## Task

An improvement here would be to prompt the user with all the relevant DB information and let him decide if data should be pushed to the remote serv

[2019-07-22 11:05] LefterisJP opened #420 "Negative progress bar at tax report generation"
## Problem Definition

There is a negative percentage given some times at the tax report generation.

## Task

Find out why and fix it

[2019-07-22 20:25] #420 closed

[2019-07-22 20:37] LefterisJP commented on #329
This has been finished with a lot of changes mainly in #342 but also PRs after it.

[2019-07-22 20:37] #329 closed

[2019-07-24 17:04] LefterisJP opened #425 "Allow end user to pass arguments to the python backend"
## Problem Definition

At the moment the end users who don't build by source will find it hard to modify the arguments given to the python backend. A way for them to change the arguments should be provided.

## Task

Provide a way to pass arguments to the python backend. Perhaps via a configuration file. And perhaps the most common settings can also be exposed in the UI. But perhaps start with a c

[2019-07-24 21:20] LefterisJP opened #426 "Find out why one of the electron executables does not work in OSX"
## Problem Definition

When downloading the OSX bundle there are two executable files. One works but the other, the one with the electron logo, fails. This leads to confusion for most first-time OSX users.

Check our readme [here](https://rotkehlchen.readthedocs.io/en/latest/installation_guide.html#osx) for more details.

## Task

Find out why this happens. It has something to do with our app not

[2019-07-24 21:21] LefterisJP commented on #339
So guys as far as this issue is concerned, all users who reported this issue in the past seemed to have not followed the guide correctly. I will close it in favour of: https://github.com/rotkehlchenio/rotkehlchen/issues/426

Note the addition in the docs [here](https://rotkehlchen.readthedocs.io/en/latest/installation_guide.html#osx).

Even got a screenshot with the file you must click:
![osx_whic

[2019-07-24 21:21] #339 closed

[2019-07-24 21:24] LefterisJP commented on #390
@tschubotz Can you try with v1.0? It was released yesterday. Can you tell us if the problem persists?

[2019-07-24 21:39] LefterisJP commented on #319
@kelsos is this going to also be handled during the vue.js? From the demos it seemed like it.

[2019-07-24 21:45] LefterisJP commented on #308
@rakanalh can this issue be reproduced with latest master?

[2019-07-24 21:46] LefterisJP commented on #304
This has been done after: https://github.com/rotkehlchenio/rotkehlchen/pull/423

[2019-07-24 21:46] #304 closed

[2019-07-24 21:48] LefterisJP commented on #259
This should have been fixed.

[2019-07-24 21:48] #259 closed

[2019-07-24 21:50] LefterisJP commented on #280
This has been finished with the PRs mentioned above. Still not completely done and buggy but separate issues should be made for this tooling.

[2019-07-24 21:50] #280 closed

[2019-07-24 21:59] LefterisJP commented on #82
Won't implement. Too poloniex-specific and not needed since we can import all trades via the API already.

[2019-07-24 21:59] #82 closed

[2019-07-24 22:00] LefterisJP commented on #33
Closing this issue due to the previous comment. And also this library will also hopefully go away after: https://github.com/rotkehlchenio/rotkehlchen/issues/404

[2019-07-24 22:00] #33 closed

[2019-07-24 22:05] LefterisJP commented on #32
No longer relevant. We package with electron 3.0.0 at the moment and it does work on all operating systems.

[2019-07-24 22:05] #32 closed

[2019-07-24 22:07] LefterisJP commented on #76
@pepae can you tell me if this still happens to you with 1.0.0? And if yes then let's sit side by side and fix this if you can provide logs.

[2019-07-24 22:08] LefterisJP commented on #258
This has been fixed.Not sure how or why but closing unless problematic behavior is seen again.

[2019-07-24 22:08] #258 closed

[2019-07-24 22:09] LefterisJP commented on #307
Closing this since I closed the original #258 issue.

[2019-07-24 22:09] #307 closed

[2019-07-25 10:10] kelsos commented on #319
The vue.js filtering will be quite different, based on a keyword. Still, if there is a way to tell the latest one apart we can also implement this kind of filtering. It should be relatively easy.

[2019-07-25 20:59] LefterisJP commented on #76
@pepae sent me some logs and in the logs there is a similar error but in a different location:

[code]

That can only mean that a query to the poloniex API call [returnDepositWithdrawals](https://docs.poloniex.com/#returndepositswithdrawals) returns `null` for the `fee` field.

[2019-07-25 22:25] LefterisJP opened #427 "Add link to premium purchase from stats"
## Task

If user does not have premium and tries to click stats (or in the future any other premium feature) show him a link to the website where he/she can purchase a subscription.

[2019-07-25 22:30] LefterisJP opened #428 "Handle unexpected input from external sources more gracefully"
## Problem Definition

As issue #76 shows if we get completely unexpected input from external APIs things don't go well and an entire query can die.

## Task

- Flesh out the logic of deserialization of data from external sources better. That means to have specific deserialization functions and for them to raise if something goes wrong.

- Make sure that if there is an unexpected error with an ent

[2019-07-25 22:58] LefterisJP commented on #69
This should be done by forcing the addition of blockchain accounts through `to_checksum_address`.

[2019-07-26 16:11] LefterisJP commented on #112
I no longer see those violations.

[2019-07-26 16:11] #112 closed

[2019-07-26 16:40] LefterisJP opened #429 "Handle 429 Response from blockchain.info"
## Problem Definition

Queries to blockchain.info may get rate limited. According to their [docs](https://blockchain.info/q) 1 request every 10 seconds ... even though I have gotten away with more.

Still though it happens so it needs to be addressed.

## Task

1. ~~Replace the looping api query [here](https://github.com/rotkehlchenio/rotkehlchen/blob/master/rotkehlchen/blockchain.py#L112) with a

[2019-07-29 20:32] tschubotz commented on #390
Works with v1.0. Problem seems to be resolved.

[2019-07-29 20:32] #390 closed

[2019-07-29 20:55] LefterisJP opened #432 "A certain cryptocompare price query is not handled correctly and kills the thread"
## Problem Definition

@pepae reported this problem today.

If we query the price of `XCP` to `USD` at timestamp `1392685761` we get an error and the thread along with the request that was being handled dies.

[code]

# Task

- [x] Reproduce this in a test.
      The test is a simple as:
[code]
- [x] Find out why it happens and fix it.

[2019-07-29 21:02] LefterisJP commented on #390
Thank you @tschubotz, this is great to hear. Am here for everything else you need during your experience with v1.0.

[2019-07-30 22:08] #428 closed

[2019-07-30 22:08] #76 closed

[2019-07-30 22:08] #69 closed

[2019-07-31 11:12] #432 closed

[2019-08-01 06:49] #429 closed

[2019-08-01 20:47] LefterisJP commented on #70
@Phistr90 Have you tried again with v1.0.0? Does this still happen for you?

[2019-08-01 20:56] InoMurko opened #436 "Bitstamp support"
## Abstract

Bitstamp support for trades import. As one of the oldest exchanges it probably has many users.

## Motivation

/

## Specification

/

[2019-08-02 09:30] #425 closed

[2019-08-02 09:30] #427 closed

[2019-08-02 12:01] sableweasel opened #438 "Bitfinex support"
Bitfinex ist a quite old and big exchange.
Support in Rotkehlchen could come in handy for a bunch of users.

[2019-08-04 06:48] InoMurko opened #441 "rotkehlchen-darwin-x64-v1.0.1 missing binary executable"
## Problem Definition

[code]

But there's only:
[code]

### System Description

[code]

[2019-08-04 07:45] InoMurko commented on #441
Ah, I've accidentally move the other binary :)

[2019-08-04 07:45] #441 closed

[2019-08-04 08:03] InoMurko opened #442 "Kraken setup"
## Problem Definition

Adding Kraken's API credentials fails and then I'm unable to set it up.
<img width="713" alt="Screen Shot 2019-08-04 at 10 01 24" src="https://user-images.githubusercontent.com/2582555/62421238-04514100-b69f-11e9-84b7-0a80e3624cce.png">
<img width="295" alt="Screen Shot 2019-08-04 at 10 00 09" src="https://user-images.githubusercontent.com/2582555/62421239-04e9d780-b69f-11e9

[2019-08-04 08:05] InoMurko commented on #442
Logging out and back in "kinda" solved the problem but then I get:
[code]

[2019-08-04 08:07] LefterisJP commented on #442
If you get a permission denied then this may mean that you have copy pasted the api key wrong. Let me try to reproduce your issue as I also have a kraken api key.

[2019-08-04 08:09] InoMurko commented on #442
Found another one:
Immediately after you successfully provision a new exchange, the left dashboard button `Exchange Trades` stops being responsive.

[2019-08-04 08:12] LefterisJP commented on #442
@InoMurko The Exchange trades button is actually a "TODO" It does not work yet. There is an issue for this: https://github.com/rotkehlchenio/rotkehlchen/issues/284

[2019-08-04 08:15] LefterisJP commented on #442
@InoMurko So can you tell me does adding a kraken api key work for you? I just tried it on a new clean account and it worked without problems using the latest master. But it should generally work.

As I said [here](https://github.com/rotkehlchenio/rotkehlchen/issues/442#issuecomment-517983023) the only reason I can imagine this may not work is that the key and the secret (private key) combination

[2019-08-04 08:15] InoMurko opened #443 "Failed to deserialize at Generate report"
## Problem Definition
Binance and Kraken is setup
Tax report from 2010 till 2019.
Click Generate report
[code]
### System Description

Rotkehlchen 1.0.1

[code]

[2019-08-04 08:16] LefterisJP commented on #443
Ah that looks like something. Let me try to reproduce. I think I have an idea.

[2019-08-04 08:16] InoMurko commented on #442
What it was is actually (https://github.com/rotkehlchenio/rotkehlchen/issues/442#issuecomment-517982929):
Query Funds needs to be enabled on Kraken API. Still, this I think could be vocalized better and if an exchange  provisioning process is faulty, the app shouldn't "register" it.

[2019-08-04 08:18] LefterisJP commented on #442
I agree with your comment! This behaviour of kraken API is new. I will see what I can do. Thank you for opening an issue for this.

[2019-08-04 08:25] LefterisJP commented on #443
Confirming this as a reproducible bug. Will provide a fix soon.

[2019-08-04 09:38] LefterisJP commented on #443
@InoMurko If you can run from source please try the fix from this PR: https://github.com/rotkehlchenio/rotkehlchen/pull/444

If not wait till the next release. I will make it soon since this bug is breaking the tax report experience for kraken users.

[2019-08-04 09:51] #443 closed

[2019-08-04 10:40] #442 closed

[2019-08-04 12:10] LefterisJP opened #447 "Make a proper bumpversion.cfg entry for package-lock.json"
## Problem Definition

At the moment with a bumpversion package-lock.json gets all matching versions of packages updated even if it's not rotkehlchen. That's naturaly bad.

We need to fix this with a proper regexp entry for bumpversion.cfg and package-lock.json.

Docs are here: https://github.com/peritus/bumpversion

[2019-08-04 12:48] LefterisJP commented on #443
@InoMurko Fix for both this and the other issue you reported is included in the new release just made today: https://github.com/rotkehlchenio/rotkehlchen/releases/tag/v1.0.2

[2019-08-04 13:33] InoMurko commented on #443
@LefterisJP sorry I was not around earlier. Tested all of it and it works!

[2019-08-04 15:10] LefterisJP opened #448 "Write tests for API key permissions and validation"
## Problem Definition

As seen in https://github.com/rotkehlchenio/rotkehlchen/issues/442 for Kraken we were  not checking the permissions of the provided api keys properly. This could be true for other exchanges. So try to implement the same checks for other exchanges

## Task

- Implement permission checks for API keys for other supported exchanges which have such permissions. (Also doing this f

[2019-08-05 06:44] LefterisJP opened #450 "Race when shutting down and uploading to premium"
## Problem Definition

This is a minor bug caused by a race during shutdown. It can happen that during shutdown and while having premium and uploading data to the server the shutdown cleanup happens while the main loop tries to upload data to the server.

The result is an irregular shutdown.

[code]

## Task

Fix this by having proper locks. Maybe add tests .. but probably hard to test.

[2019-08-05 06:46] LefterisJP opened #451 "Assertion in the logs for test user"
## Problem Definition

The following assertion was seen at the logs for a test user

[code]

## Task

- Find out why it happened and fix it
- Write a test for it

[2019-08-05 22:18] LefterisJP opened #453 "Detect newer versions and prompt users for upgrading"
## Abstract

Unless users follow our social media announcements they don't get to know when a new version is released. It would be nice to have a warning for them that a new version is released.

## Task

- [ ] Write a check that uses the github API to find the latest release and compares it to the one the user is running. This check should run either only at the start or periodically.

- [ ] If t

[2019-08-06 06:30] spaceblankey commented on #296
Would love to see support for Coinbase (pro/DGAX) added. I know that's the favorite of many a trader. Also probably BitMex.

[2019-08-06 06:34] spaceblankey commented on #46
As noted in the other issue please add Coinbanse Pro (formerly GDAX).

[2019-08-06 15:01] #451 closed

[2019-08-07 12:16] LefterisJP commented on #296
This request has been prioritized by the request of a premium subscription user

[2019-08-10 08:03] LefterisJP opened #457 "Add Deposit/Withdrawal Queries for Bittrex"
## Problem Definition

When the Bittrex API was first written there was no endpoint for querying deposit/withdrawal history.

But checking their API [docs](https://bittrex.github.io/api/v1-1) again it seems that they have added two endpoints for this:

- `/account/getwithdrawalhistory`
- `/account/getdeposithistory`

## Task

Implement and test deposit and withdrawal history queries for bittrex.

[2019-08-10 13:25] LefterisJP opened #458 "Support deposit/withdrawal queries for binance."
## Problem Definition

Rotkehlchen so far did not support inclusion of deposit/withdrawal queries for Binance since there is no such endpoint in their API docs:  https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md

## Task

After a [twitter rant](https://twitter.com/rotkehlchenio/status/1160100307227074560) about absence of API endpoint for deposits/withdrawal que

[2019-08-10 13:37] LefterisJP opened #459 "Include binance and bittrex asset movements in the big history tests"
## Problem Definition

At the moment in the big history test we are not querying for bittrex/binance asset movements

## Task

For a more complete test it would be nice to do so.

[2019-08-10 16:45] LefterisJP opened #460 "Determine if Binance trade history older than 3 months is currently queriable."
## Problem Definition

As per [twitter](https://twitter.com/Marsmensch/status/1160215066261807104) and [reddit](https://www.reddit.com/r/BinanceExchange/comments/axkct5/binance_3_month_trade_view_limit_api_and_taxes/) it seems that the binance API for trades history also returns only the last 3 months.

This needs yet to be determined.

## Task

If true then 3-monthly pagination needs to be utiliz

[2019-08-10 21:35] LefterisJP commented on #460
Checked it. This is not required.

[2019-08-10 21:35] #460 closed

[2019-08-12 10:37] chevdor opened #461 "Add the ability to tag blockchain accounts"
## Abstract

Currently, you add an account solely by this address.

## Motivation

Unless you know all your address (which is likely not the case) you may have a hard time remembering where an account comes from. Is that a hardware wallet? An app on your phone? Some metamask somewhere, ...

## Specification

When Adding a blockchain account, I suggest adding an option field for the name of that ac

[2019-08-12 10:58] chevdor opened #462 "Add the ability to delete erroneously added accounts"
## Abstract

Currently one can add an account but not remove it.

## Motivation

Humans make mistakes...

## Specification

Add a way to delete an account from the list

[2019-08-12 10:59] chevdor opened #463 "Tax reports should convert start/end date to local time"
Today is 2019-08-12 and it is 12:59.

![image](https://user-images.githubusercontent.com/738724/62860616-fa63b980-bd00-11e9-9d59-c28089041afd.png)

[2019-08-12 11:01] chevdor commented on #463
The same query with a time of 0:00 seems to pass the validation.

[2019-08-12 11:04] chevdor commented on #463
This is localisation issue. It is now 13:04 and the queries work until 11:00.
I am on Berlin time as well.

[2019-08-12 11:45] LefterisJP commented on #462
Hey @chevdor!

Accounts are definitely deletable. Right click on the table showing your accounts under the user settings and click `Delete`

[2019-08-12 11:46] LefterisJP commented on #463
Nicely spotted. This is indeed a localization error. All times in the backend are in UTC. A conversion should be done from the UI. Will be done by the next release.

[2019-08-12 11:47] LefterisJP commented on #461
Hey @chevdor! Long time no see!

That's a good feature request and I agree it is needed.

At the moment @kelsos is working on the front-end vue-rewrite to make maintaining the front-end easier. After that this can definitely be worked on.

[2019-08-12 21:18] kelsos commented on #463
@LefterisJP I will pick it tomorrow. Also should keep that in mind for the rewrite.

[2019-08-12 21:26] LefterisJP commented on #463
Thank you @kelsos. Should be easy. As for the rewrite I guess as long as it's properly rebased it will work out fine.

[2019-08-13 05:28] chevdor commented on #463
I guess it would be also nice for the user experience to *allow* dates in the future.
If the queries really fail when doing so, we could crop the date to `now` if in the future.

[2019-08-13 05:33] chevdor opened #464 "Fail to start 'as app' on OSX"
## Problem Definition

Starting Rotkehlchen from the Apps Menu on OSX fails:
![image](https://user-images.githubusercontent.com/738724/62917322-136d7880-bd9c-11e9-9c11-0d142b350a29.png)

Starting from the shell works.

Rotkehlchen also logs debug information to the `rotkehlchen.log` file but I did not find this file under:
`~/LIb../App.. Supp../rot...`
or `~/.rot...`

[2019-08-13 05:36] chevdor commented on #464
While testing to provide more information for this issue, I realised the issue is different than my initial take.

In short: starting rotkehlchen twice works as workaround.

My 2 cents:
- first start:
    - rotk starts the backend at start, it takes a few seconds
    - then the ui starts and fails (check too early?)
- second start:
    - backend is still running
    - the second start finds the ba

[2019-08-13 05:40] chevdor commented on #464
After more checking: the workaround I mentioned above does not work. The error does not show up but signing in is not possible and times out after 30s.
![image](https://user-images.githubusercontent.com/738724/62917687-8a574100-bd9d-11e9-9491-7ac66e04f933.png)

So far, the only solution I found to start the app is to open a shell and:
[code]

[2019-08-13 05:43] chevdor commented on #462
My bad, I missed that one. Indeed, right clicking shows a popup that allows deleting and it works, thus closing this issue.

![image](https://user-images.githubusercontent.com/738724/62917803-f3d74f80-bd9d-11e9-8f9b-1d80718ab991.png)

[2019-08-13 05:43] #462 closed

[2019-08-13 05:46] chevdor opened #465 "UI: Asset icon issues and inconsistant"
## Problem Definition

Somehow, the DAI icon does not make it :)
![image](https://user-images.githubusercontent.com/738724/62917883-4284e980-bd9e-11e9-94be-57a0ac8ae4ee.png)

You can also notice inconsistency in the display of the assets and balances. `ETH` is displayed on the right while other assets' names are shown below the icon.

[2019-08-13 05:49] chevdor commented on #461
Hi @LefterisJP, definitely still around :)
If you make it to web3 summit in Berlin, we could meet there.

Great news to hear that the UI will get some love. I see in other issues that I am reporting whatever friction I notice as 'first time user'. I hope that can help @kelsos for the new version.

I think Tagging helps in general users to organize themselves in an elegant way. I would even argue t

[2019-08-13 06:14] LefterisJP commented on #464
This is a known problem. Which executable did you click? https://rotkehlchen.readthedocs.io/en/latest/installation_guide.html#troubleshooting

There is another issue for it here: https://github.com/rotkehlchenio/rotkehlchen/issues/426

[2019-08-13 06:21] LefterisJP commented on #465
There is two issues here. I guess one is the display of asset name + centering which I guess is a CSS issue right @kelsos ?

The other is probably a need to update the crypto icons package.

[2019-08-13 06:36] kelsos commented on #465
@LefterisJP Probably a css issue yes, and DAI should be available in the latest version of the crypto icons package. I am using it in the rewrite and the DAI icon is there.

[2019-08-13 06:38] kelsos commented on #461
It should be way easier to add features to the UI after we are done with the rewrite.

[2019-08-13 07:16] chevdor commented on #464
I am actually not clicking anything, I am using Alfred but I guess that does not matter.

It picks however the single Rotkehlchen available in my Applications' list. I do not have 2 choices.

As far as the install went, I copied Rotkehlchen.app into my Applications folder and that´s it.

[2019-08-13 08:25] LefterisJP commented on #464
Yeah that's the problem. I know this is the "OSX" way ... and I want us to go towards that, but that does not work. The only way is to unzip the zip file from Releases, and click/or execute via command line the executable shown in the docs I linked below.

As per the other issue any other way of executing results in problems like the one you see.

It's on the top of my TODO list ... but I am also

[2019-08-13 08:52] chevdor commented on #464
No worries, this is not nice for first time users but there are ways to get it to work so this is no blocker. At least the issue is logged. I may revisit and see if I can help fix that once I find a little time...

[2019-08-16 13:35] smurfer opened #467 "PRL token not removable from "ETH tokens to track""
## Problem Definition

added PRL token, wanted to remove it again. Pops up "Token Removal Error" :
EthereumToken(identifier='PRL', name='Oyster', symbol='PRL', active=False, asset_type=, started=1506816000, ended=1545177600, forked=None, swapped_for=None, ethereum_address='0x1844b21593262668B7248d0f57a220CaaBA46ab9', decimals=18).
Appears to be gone from list, but when refreshed, PRL is still ther

[2019-08-16 13:47] LefterisJP commented on #467
Hello @smurfer!

Thanks for using Rotki and opening up an issue.

So a question. If you restart the application is the token still there?

[2019-08-16 16:17] smurfer commented on #467
yes...

[2019-08-17 09:44] #457 closed

[2019-08-17 09:44] #458 closed

[2019-08-17 19:22] smurfer opened #469 "Problem with OTC trades"
## Problem Definition

entered an OTC trade: EUR_BTC, type "buy" (did not change the default drop down), amount 0.5, rate 351, time some date in 2013.

the entry shows up in the OTC trades list, but with an empty "type", and when I open the OTC trades list from the menu again, a windows error dialog pops up (apparently from the db system, not rotki; screen shot see link:
![image](https://user-imag

[2019-08-17 20:10] LefterisJP commented on #467
Hey @smurfer I found the issue with the PRL token. It's a twofold issue.

1. Cryptocompare has no historical price data for it even though it's on the website. I already contacted them about it and they are looking at it.

2. Somehow the price query failing makes the token removal fail. I will fix that soon and the fix will be included in the next release.

[2019-08-17 20:17] LefterisJP commented on #469
Hey, thanks for opening the issue!

I will look into the problem you reported with the OTC trades.

Datatable is actually in the node.js frontend. It's what creates those tables. Let me have a look and try to reproduce your problem.

As for the other comments:

By right clicking on any transaction on the table below you should get a context menu with 2 options. "Edit" or "Delete".

I also just not

[2019-08-17 21:54] #467 closed

[2019-08-20 15:30] jrmoreau opened #473 "Support initial set of Proof of Stake cryptocurrencies as value add service to validators"
## Abstract

Validators/Bakers (and delegators as well) have accounting challenges keeping track of what is staked, what is coming in for rewards, what gets re-delegated/staked/baked etc. rotkehlchen would provide a major value to this set of businesses by offering to track account balances on chains such as Cosmos, Tezos (and other popular Proof of Stake chains as they emerge).

## Motivation

Sp

[2019-08-20 15:47] LefterisJP commented on #473
Thank you @jrmoreau for remember to open this issue after our twitter chat. I will consider this. Will also ask around to see how many people would be interested in such a feature.

[2019-08-20 21:59] LefterisJP opened #474 "unit tests for iso8601ts_to_timestamp()"
Add unit tests for this function. Try with a few iso8601 formats.

The current function uses `datetime.datetime.fromisoformat` which does not work with all kinds of iso8601 dates by default and thus has some tweaks in it for which unit testing would be good

[2019-08-21 06:24] kelsos commented on #469
@LefterisJP I actually encountered the OTC trades issue when running the tests for the date conversion. I will actually fix it in the same PR.

[2019-08-21 17:14] LefterisJP commented on #469
Oh wait so you are fixing this also in that PR? that's nice. Is there a test for it?

[2019-08-21 17:15] #463 closed

[2019-08-21 17:15] #469 closed

[2019-08-22 20:43] LefterisJP opened #475 "Allow tagging of Addresses"
## Problem Definition

This is some feedback that we have gotten about features that are useful to both individual but also corporate users. Allow tagging with a name/id of blockchain addresses.

This way people can give aliases/names/tags to their addresses and then maybe even filter/search by them

## Task

Think on how to do it in the code, but the end result is the ability to tag addresses.

[2019-08-22 20:48] LefterisJP commented on #475
Hmmm ... I just realized after writting that this issue by @chevdor https://github.com/rotkehlchenio/rotkehlchen/issues/461 is essentially the same request so I am closing this one.

[2019-08-22 20:48] #475 closed

[2019-08-24 12:09] LefterisJP opened #478 "Importing data from Trueblocks"
## Abstract

We have gotten together with @tjayrush quite a few times, more recently in ETHBerlin to discuss how Rotki could utilize the data from Trueblocks. This issue here is to track exactly that.

## Data Required

It would be really awesome to have the following:

1. A way to easily query all token balances for a given set of accounts
2. A way to query all transactions, both normal and inter

[2019-08-24 13:57] kelsos opened #480 "Tax Report creation fails with index out of range error"
## Problem Definition

When attempting to create a tax report with the account that we use for the e2e tests, I get the following exception in the logs.

[code]

[2019-08-24 19:30] #480 closed

[2019-08-25 09:11] LefterisJP opened #482 "Go through all exchanges and make sure that for buys/sells fee is properly taken into account"
## Problem Definition

Need to double check that fee is both properly taken into account for each exchange's trade type and that it's also not added again on top of the trade's total cost.

Also do the same thing with withdrawals amount + fee

[2019-08-25 12:36] #296 closed

[2019-08-27 16:38] pkafei opened #485 "HeartbeatError"
I'm unable to create a new account on Rotkehlchen. After I put in my credentials I receive a `HeartBeatError: Lost remote after 30000ms`.  Also not sure where to find the log files.

[code]

[2019-08-27 16:49] LefterisJP commented on #485
Hello @pkafei

This is probably this issue: https://github.com/rotkehlchenio/rotkehlchen/issues/464
which is related to: https://github.com/rotkehlchenio/rotkehlchen/issues/426

Did you follow the instructions for OSX: https://rotkehlchen.readthedocs.io/en/latest/installation_guide.html#osx

Especially the troubleshooting guide? At the moment it's a bit counter-intuitive to start the app in OSX. M

[2019-08-28 14:20] LefterisJP commented on #426
Finally some more information. So what happens is that the first time Rotkehlchen is opened through the electron app icon then the python backend process crashes at the start with the following:
[code]

[2019-08-28 21:17] LefterisJP opened #486 "Do not crush if a wrong argument is given to the CLI backend"
## Problem Definition

If directly interacting with the CLI backend and a wrong argument is provided then a crush happens.

[code]
## Task

Fix it. Perhaps also add CLI tests?

[2019-08-28 21:38] LefterisJP opened #487 "Upgrade USDT to also be viewed as an Ethereum Token"
## Problem Definition

Tether has also issued an ethereum token and is more prominent than the old Omni token of Tether.

## Task

Allow Tether to also be consumed as an Ethereum token

[2019-08-29 12:41] #426 closed

[2019-08-29 12:41] #26 closed

[2019-08-29 12:41] #485 closed

[2019-08-29 13:58] #487 closed

[2019-08-29 15:54] #486 closed

[2019-08-29 20:22] LefterisJP opened #491 "Remove semantic-version pinning if releases gets fixed"
## Problem Definition

To keep generating the docs I had to pin the `semantic-version` dependency of `releases` since its latest version seems to break it.

Here is the issue tracking it: https://github.com/bitprophet/releases/issues/84

## Task

Check if/when `releases` is fixed and remove the pinning from here:

https://github.com/rotkehlchenio/rotkehlchen/blob/22c99f854cbe401f0872b320e9ded9c9d3

[2019-08-30 11:47] #453 closed

[2019-08-31 07:38] LefterisJP commented on #464
Should be fixed in 1.0.3

[2019-08-31 07:38] #464 closed

[2019-08-31 07:40] LefterisJP commented on #70
Closing due to lack of feedback. If there is any similar problem please open a new issue.

[2019-08-31 07:40] #70 closed

[2019-08-31 07:47] LefterisJP commented on #308
Since this is not reproducible I am closing the issue. If you can somehow tell me how to reproduce it with latest master please re-open or make another issue.

[2019-08-31 07:47] #308 closed

[2019-08-31 19:27] #474 closed

[2019-09-02 01:32] bamos01 opened #498 "Import CSV file from CoinTracking.info"
## Abstract

Many people have already spent a lot of time tracking coins on other sites.  Hard to start over with rotkehlchen.  Would be very helpful if you could import csv file that other popular sites export.  Most popular right now is CoinTracking.info .

## Motivation

Import csv file.  Almost all tracking sites allow you to export data to a csv file.

## Specification

If the feature is tech

[2019-09-02 10:29] LefterisJP opened #499 "Save exchange trades in the local DB"
## Abstract

Rotki at the moment does not save exchange trades locally in the database, instead it just uses a local cache so as to not have too many exchange requests. The thinking behind this was that if the data exists in the exchange no need to duplicate it locally but instead it can just be queried on demand.

But switching from that model to a model where instead of a trades cache Rotki keep

[2019-09-04 08:57] LefterisJP opened #500 "LBRY Credits cryptocompare price queries did not work"
## Problem Definition

LBRY cryptocompare queries stopped working.
It seems that `LBRY` is known as `LBC` in cryptocompare.

## Task

Fix the cryptocompare mapping

[2019-09-04 09:26] #500 closed

[2019-09-05 08:04] chevdor opened #502 "The icon on OSX could afford a few more pixels"
## Abstract

The resolution of the App icon is visibly low:
![image](https://user-images.githubusercontent.com/738724/64323267-6ebe0f80-cfc4-11e9-9b43-1d804d4c8e01.png)

That makes Rotki somehow look like a black swan :)
![image](https://user-images.githubusercontent.com/738724/64323907-ac6f6800-cfc5-11e9-8c66-c2086c903ab5.png)

## Motivation

Very low prio obviously but that should be easy to fix

[2019-09-05 08:10] chevdor opened #503 "Validation on passwords"
## Abstract

Currently, there appear to be no validation on the password content.
This lead however to issues with passwords including chars such as `_` or `=`.
When using such a password, the account seems to be (partly?) created but you cannot login.

## Motivation

Ultra smooth onboarding.

[2019-09-05 08:11] chevdor commented on #464
I confirm, now the install is just as you expect on OSX. Drag&Drop, validate security, open. Well done!

[2019-09-05 10:10] LefterisJP commented on #464
Thank you @chevdor ! :)

It was all due to the sandboxing OSX does. It puts new apps in a special directory where they have no permissions to write any new files. So writting the logfile in that directory failed with a permission error and crashed the app :)

[2019-09-05 13:14] LefterisJP commented on #502
Hmm that's strange. For me it looks better ... but I have an old Macbook air to test stuff for mac.

I followed a guide like this: https://elliotekj.com/2014/05/27/how-to-create-high-resolution-icns-files/
to create the [icns](https://github.com/rotkehlchenio/rotkehlchen/blob/master/ui/images/rotki.icns) file.

So it should also contain high resolution versions.

[2019-09-08 17:04] LefterisJP commented on #503
Hey @chevdor

I can not reproduce this problem.

I created two accounts in Linux. One with `_` as the password and one with `=`. Both worked fine. I saved a random balance and then relogged in and was there.

How did you get this? Can you give some more details?

[2019-09-09 07:12] chevdor commented on #503
Ok, let me try that again.
What I can tell is:
- it was a fresh OSX install
- it was the first account
- I used a long random password generated from a pwd manager
- the pwd contained a _ that I removed after seeing the issue
- I then got the issue again and removed a = that was also in there
- then it worked

Not sure whether the issue occurs when there are already accounts in the DB but I will t

[2019-09-09 07:16] chevdor commented on #503
I cannot reproduce.

What would be the best way to delete anything created by the App at first start so I can test that again?

[2019-09-09 07:42] LefterisJP commented on #503
Everything created by the app is in `~/.rotkehlchen`. Also logs would go to `~/Library/Logs/rotkehlchen`

[2019-09-10 07:43] chevdor commented on #503
I found the following folders (the bad one may be my mistake, not sure...):
- .rotkehlchen/
- .rotkelchen/

and deleted both.

In ~/Library/Logs, I found:
- rotki/
- rotkirotki_electron.log

Also deleted both.

I then created a new user with a similar password than the one triggering the issue previously but could not reproduce the issue.
I am sure there is still a small issue hidden somewhere but

[2019-09-10 07:43] #503 closed

[2019-09-10 07:45] chevdor commented on #502
Not sure what to say, this is pretty much the only icon looking like pixel art on my machine :)
It is especially visible when you use a big magnification on hover in the dock.

[2019-09-10 12:25] LefterisJP commented on #503
The bad one shows that you are an OG rotkehlchen user. Very early versions had the name mispelled everywhere.

That's interesting. Was the electron log under the `/rotki` subdirectory or not?

[2019-09-10 12:26] LefterisJP commented on #502
Hmm I will try to find another OSX machine to try then.

What version are you running?

[2019-09-10 13:57] chevdor commented on #503
I did not check the content and dumped it all :)

[2019-09-10 13:58] chevdor commented on #502
I am running the current official version: macOS Mojave (10.14.6).

[2019-09-10 14:06] chevdor commented on #502
I am not sure how icns files are supposed to be.
I see 5 resolutions. The last is very low and I never saw that.
The 2 first are looking good. I also did not see those :)
The 3 and 4 are low res and I guess one is the one we see in this issue.

Now why would macOS pic a lower res when higher is available, I am not sure of that.

[2019-09-10 14:27] chevdor commented on #502
Interesting as well:
![image](https://user-images.githubusercontent.com/738724/64622510-bf2fd580-d3e7-11e9-879d-c304e9b8ee29.png)

The screenshot shows that the icon of the icon file (on the right) shows with a good resolution. We see the App icon next to it on the left.

[2019-09-11 11:13] MorganGR commented on #502
I wonder if it's a naming convention issue.

[2019-09-11 11:55] LefterisJP commented on #502
If any of you have any OSX experience please check this. It would be cool to have this resolved externally :)

 If not, I will when I find some time. Can't be that hard. Some problem with the way the icons are defined, or the way the App icon is chosen is probably the reason.

[2019-09-13 10:46] LefterisJP opened #505 "Utilize Cryptocompare historical price API v2"
## Problem Definition

Current cryptocompare v1 historical price API has had problems of incosistent historical data. See https://github.com/rotkehlchenio/rotkehlchen/issues/377

To solve that problem cryptocompare has has a revamp of that API and introduced a [new version](https://blog.cryptocompare.com/historical-data-api-update-4ee44c549a8f)

## Task

Utilize v2 of cryptocompare historical pric

[2019-09-17 16:09] MorganGR commented on #502
@LefterisJP any chance you can upload your original Rotki image? I can create the smaller versions.

[2019-09-17 17:26] LefterisJP commented on #502
Here is a zip containing both the svg file from which they were generated but also all icons that are currently inside the DMG file in the form of ICNS
[rotki_pics.zip](https://github.com/rotkehlchenio/rotkehlchen/files/3622710/rotki_pics.zip)

[2019-09-18 17:21] LefterisJP opened #506 "Shrink DB size by changing enum-like columns to have smaller size"
For example the location of a trade, category of asset movement, trade type e.t.c.

[2019-09-27 18:03] #499 closed

[2019-09-27 18:03] #506 closed

[2019-10-01 02:32] AndrewBezold commented on #505
Working on this, should have a pull request within a couple days hopefully.  Seems pretty straightforward.  For test_cryptocompare.py, do you want that unskipped?  It claims to be skipped as a duplicate of another test, but that other test doesn't seem to exist.  Also, you have some documentation in the comments about the v1 issue, do you want that kept and added to, or removed?

[2019-10-01 07:26] LefterisJP commented on #505
Hey @AndrewBezold thanks!

It does exist here:

https://github.com/rotkehlchenio/rotkehlchen/blob/1dea30e4578803939bd13ee240349d227fbdee18/rotkehlchen/tests/test_end_to_end_tax_report.py#L581

I guess removed if we switch to v2.

Also regarding the unskipped tests I believe it was these ones that need to be unskipped when switching to v2: https://github.com/rotkehlchenio/rotkehlchen/blob/1dea30e45

[2019-10-02 16:02] LefterisJP commented on #505
Hey @AndrewBezold question. Would it be possile to have this done by Friday? If this and 2 other issues are done perhaps a release can be made before my flying to Devcon.

[2019-10-02 21:45] AndrewBezold commented on #505
Yes, that should be doable.  I've got most of it finished, just working on fixing the last test.

[2019-10-04 15:02] #498 closed

[2019-10-04 15:04] #505 closed

[2019-10-15 10:29] LefterisJP opened #518 "Turn DBSetttings into a NamedTuple"
## Problem Definition

At the moment the settings as they are read from the database are a dictionary of setting keys and values as seen [here](https://github.com/rotkehlchenio/rotkehlchen/blob/f3cf54acc22c9505b9d27d6b80c670a3609c2093/rotkehlchen/db/dbhandler.py#L401)

That is problematic for type checking as dictionaries can't be type checked properly and also in order to satisfy mypy a lot of as

[2019-10-15 11:28] LefterisJP commented on #388
Duplicate of https://github.com/rotkehlchenio/rotkehlchen/issues/518

Keeping #518 since it's better defined.

[2019-10-15 11:28] #388 closed

[2019-10-15 13:17] LefterisJP opened #519 "Once eth accounts are read from the DB make sure they are EIP55 encoded"
## Problem Definition

There is a long-standing TODO here:

https://github.com/rotkehlchenio/rotkehlchen/blob/f3cf54acc22c9505b9d27d6b80c670a3609c2093/rotkehlchen/blockchain.py#L58-L61

It's to remove that ugly editing of the immutable named tuple of blockchain accounts.

## Task

In order to remove the TODO what needs to be done is:

1. Remove that line of code that edits the named tuple and the

[2019-10-18 09:45] LefterisJP opened #521 "Create dockerfile for Rotki in Linux"
## Abstract

Rotki in Linux is easy to install but if we have a Dockerfile that takes care of installing it in a machine then it will be even easier to be integrated by other applications.

## Motivation

The people from Dappnode (https://github.com/dappnode) mentioned that a prerequisite for including Rotki in Dappnode is to have it dockerized.

## Task

Create a dockerfile for Rotki

[2019-10-19 09:46] bobkilla commented on #521
I am interested but will not be able to work on it before tomorrow's evening. Is that ok for you?

[2019-10-19 13:14] sponnet commented on #521
A DappNode / AVA.DO box just hosts docker containers. Could you explain what the goal is of running it on a headless device ? Or does it have a webserver integrated that you can use ? Just trying to get a high level idea of what you want to do, so maybe I can help as well.

[2019-10-19 13:52] LefterisJP commented on #521
@bobkilla No hurry for this issue!

So from what I understand of Dappnode is that it's headless but that you can also connect to it from the outside. At the moment Rotki is a python backend which does all the work and has an API and a user interface written in electron.

It will take some work but it should be possible to also be able to run the UI in one machine and the backend in another. This w

[2019-10-19 15:01] sponnet commented on #521
Hey @LefterisJP ,

I rolled the latest version in a AVADO / dappnode package, but as mentioned - it will not work yet because it tries to open a GUI - and that is not available. If you can split the executable so that it can run headless with an API + either a web-app or a standalone client app, this might work & looks very interesting for anyone that needs this functionality, which are a lot of p

[2019-10-19 15:38] LefterisJP opened #522 "Allow Rotki frontend to connect to a backend running in another machine"
## Abstract

It would be good to be able to run Rotki in a headless machine like DappNode/Avado and have it connect and utilize all the potential blockchains that come with such a machine.

The UI/frontend could be in another machine and simply connect with the backend which runs in the headless server.

## Task

Make the front-end run independent of the backend and allow it to connect to any arbi

[2019-10-19 15:38] LefterisJP opened #523 "Be able to run Rotki in a headless machine like Avado/Dappnode"
## Abstract

It would be nice to be able to run Rotki in a headless machine as explained in the discussion of  [this](https://github.com/rotkehlchenio/rotkehlchen/issues/521#issue-508972339) issue so that it can run on Dappnode/Avado Server among other things.

## Task

This is a meta issue which will require the completion of the following sub-issues:

- [x] [Have a dockerized version of Rotki](h

[2019-10-19 15:42] LefterisJP commented on #521
Hey @sponnet thank you so much.

I made a meta issue for the enabling of Rotki to run in a headless machine, specifying what needs to be done: https://github.com/rotkehlchenio/rotkehlchen/issues/523

As for the Dockerfile issue you think the Dockerfile maintenance could be moved inside this repo too? I am not sure how it usually works with dappnode packages but It would be much easier to update wh

[2019-10-19 15:47] LefterisJP commented on #518
Solved by https://github.com/rotkehlchenio/rotkehlchen/pull/520

[2019-10-19 15:47] #518 closed

[2019-10-19 16:11] LefterisJP commented on #400
This is no longer an issue since cache files no longer exist but all data are saved in the DB.

[2019-10-19 16:11] #400 closed

[2019-10-19 16:12] LefterisJP commented on #377
By updating the cryptocompare API to v2 via #514 this issue should be solved

[2019-10-19 16:12] #377 closed

[2019-10-19 21:36] LefterisJP commented on #412
Used them in a few places. Not a really actionable issue so closing it.

[2019-10-19 21:36] #412 closed

[2019-10-20 05:10] kelsos commented on #523
@LefterisJP We should also evaluate if it is possible (it should be) to run this version without any need for electron directly from the browser.

[2019-10-20 06:14] LefterisJP commented on #523
@kelsos What would that require? Shouldn't be that hard to achieve, right? Essentially it should all work from the browser too.

[2019-10-20 09:47] kelsos commented on #523
Some parts might not work in the browser. For example, any node filesystem interactions might need some different handling in the browser. eg. CVS export of the report in the browser should be treated as a download.

[2019-10-20 10:01] LefterisJP commented on #523
Yeah that makes sense. But the first step would be to make the electron app connect to the backend in another machine and then we can see about browser support. As you point out there is gonna be subtle differences so we should go step by step.

[2019-10-23 21:24] LefterisJP opened #527 "Querying some tokens via cryptocompare returns empty object which leads to a crash"
## Problem Definition

Since 17.10.19 it seems that for some token price queries in cryptocompare an empty object `{}` is returned which does not seem to agree with the API documentation and leads to a crash.

The crash was seen by a Rotki user and looks like this in the logs:

[code]

An example of the offending cryptocompare API request is this:

https://min-api.cryptocompare.com/data/price?fsym

[2019-10-23 21:26] LefterisJP commented on #527
@Pol-Lanski fyi ^

[2019-10-24 22:14] LefterisJP opened #528 "Support Deversifi"
## Abstract

Support Deversifi (https://www.deversifi.com/) an ethereum based decentralized exchange.

## Motivation

Deversifi is one of the upcoming decentralized exchanges and having support for it in Rotki would be beneficial to users.

## Specification

At the moment since Rotki does not properly support any DEX the work going to integrate the first DEX will be considerable. TODO: Properly sp

[2019-10-25 12:30] bobkilla commented on #521
Sorry I won't have time to work on this but I see you have made some progress ;) Good luck!

[2019-10-25 15:35] #527 closed

[2019-10-27 23:00] LefterisJP opened #530 "ENS Support for ETH addresses"
## Abstract

ENS support has been around the ETH ecosystem for a while and would be a really useful integration with Rotki to make it easier to distinguish between various public facing user addresses. For public facing addresses users would really like to see their registered ENS names in Rotki.

On the other hand users tend to also have non-public facing accounts (e.g. cold wallets) which may no